<!doctype html>
<html>
<head>
<meta http-equiv='content-type' content='text/html;charset=utf-8' />
<meta name='description' content=''>
<meta name='keywords' content=''>
<link type="text/css" href="Public/css/bootstrap.min.css" rel="stylesheet">
<link rel='stylesheet' type='text/css' href='Public/css/base.css' />
<link rel='stylesheet' type='text/css' href='Public/css/admin.css' />
<script type="text/javascript" src="Public/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="Public/js/admin.js"></script>
<script type="text/javascript" src="Public/ckeditor/ckeditor.js"></script>
<title>网站后台管理系统</title>
</head>
<body>

{include file="Public/header.html"}

<table width="100%" class="tablemain">
	<tr>
		<td valign="top" width="182">
		
			{include file="Public/left.html"}
			
		</td>
		<td valign="top">
			<div class="module1 main">
				<div class="hd"><b>修改{$result_arr['data']['name']}</b></div>
				<form class="bd" method="post" action="" name="module1">
					<input type="hidden" name="action" value="modify" />
					<table>
						<tr>
							<td><b>关键词：</b></td>
							<td>
								<input class="form-control" type="text" name="keywords" value="{$result_arr['data']['keywords']}" />
								用于搜索引擎优化，多个关键词请用","隔开
							</td>
						</tr>							
						<tr>
							<td><b>简短描述：</b><br/>用于搜索引擎优化</td>
							<td>
								<textarea class="form-control" cols="60" rows="5" name="description">{$result_arr['data']['description']}</textarea>
							</td>
						</tr>						
						<tr>
							<td><b>内容：</b></td>
							<td>
								<textarea name="content">{$result_arr['data']['content']}</textarea>
								<script type="text/javascript">
									CKEDITOR.replace('content');
								</script>
							</td>
						</tr>
						<tr>
							<td width="180"></td>
							<td style="text-align:center;">
								<button type="submit" class="btn btn-default">提 交</button>
								<button type="reset" class="btn btn-default">重 置</button>
							</td>
						</tr>				
					</table>
				</form>
			</div>
		</td>
	</tr>
</table>

{include file="Public/footer.html"}

</body>
</html>










