<!doctype html>
<html>
<head>
<meta http-equiv='content-type' content='text/html;charset=utf-8' />
<meta name='description' content=''>
<meta name='keywords' content=''>
<link type="text/css" href="Public/css/bootstrap.min.css" rel="stylesheet">
<link rel='stylesheet' type='text/css' href='Public/css/base.css' />
<link rel='stylesheet' type='text/css' href='Public/css/admin.css' />
<script type="text/javascript" src="Public/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="Public/js/admin.js"></script>
<title>网站后台管理系统</title>
</head>
<body>

{include file="Public/header.html"}

<table width="100%" class="tablemain">
	<tr>
		<td valign="top" width="182">
		
			{include file="Public/left.html"}
			
		</td>
		<td valign="top">
			<div class="main str_content">
				<div class="hd"><b>标签管理</b></div>
				<div class="bd">
					<form name="add" action="index.php?m=Admin&amp;c=Admin&amp;a=index&amp;method=add" method="post" class="add">
						<b><font color="#000">添加新标签：</font></b>
						原文字：<input class="form-control" name="username" value="" type="text">
						替换为：<input class="form-control" name="realname" value="" type="text">
						连接地址：<input class="form-control" type="text" name="user_name" value="" />
						<button type="submit" class="btn btn-default">查 询</button>
					</form>
					<table>
						<tr class="th">
							<td>选中</td>
							<td>ID</td>
							<td>原文字</td>
							<td>替换为</td>
							<td>链接地址</td>
							<td>操作</td>
						</tr>
						{foreach from=$result_arr['str'] key=key item=item}
							<tr style="border-bottom:1px solid #036;">
								<td class="th"><input type="checkbox" /></td>
								<td>{$item['id']}</td>
								<td>{$item['oldwords']}</td>
								<td>{$item['newwords']}</td>
								<td>{$item['url']}</td>
								<td>
									<a href="">详细 |</a>
									<a href="">编辑 |</a>
									<a onclick="return ConfirmDel();" href="delete.php?id=">删除 </a>
								</td>
							</tr>
						{/foreach}
					</table>
					<form class="del">
						<input type="checkbox"> 选中本页显示的所有管理员
						<button type="submit" class="btn btn-default">删除选定的条目</button>
					</form>
					<div class="page">{$result_arr['page']}</div>
				</div>
			</div>
		</td>
	</tr>
</table>

{include file="Public/footer.html"}

</body>
</html>










