<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="Public/admin/css/metinfo_admin.css" />
<title>FLASH设置</title>
</head>
<body>
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
	<tr> 
		<td align="center" valign="top">
			<form method="POST" name="myform" action="" target="_self">
				<input name="action" type="hidden" value="modify" />
				<input name="flash_ok" type="hidden" value="0" />
				<table width="95%" border="0" cellpadding="2" cellspacing="1" class="table_southidc">
					<tr> 
						<td class="back_southidc" height="30" colspan="4" align="center">Flash设置</td>
					</tr>
					<tr bgcolor="#ECF5FF"> 
						<td width="150" height="25" colspan="2">是否开启Flash动画：</td>
						<td colspan="2"> <input name="flash_ok" type="checkbox" value="1" $flash_ok1>开启</td>
					</tr> 
					<tr bgcolor="#ECF5FF"> 
						<td width="150" height="25" colspan="2">Flash模式：</td>
						<td colspan="2">
							<input type="radio" name="flash_type" value="0" $flash_type0 />图片轮播  
							<input type="radio" name="flash_type" value="1" $flash_type1 />flash动画
						</td>
					</tr> 
					<tr bgcolor="#ECF5FF"> 
						<td width="150" height="25" colspan="2">Flash尺寸：</td>
						<td colspan="2">宽度：
							<input name="flash_x" type="text" class="input" size="3" maxlength="200" value="{$flash_x}" />像素&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;高度：
							<input name="flash_y" type="text" class="input" size="3" maxlength="200" value="{$flash_y}" />像素
						</td>
					</tr>
					{if $en_lang neq 1}	  
						<tr bgcolor="#ECF5FF"> 
							<td width="60" rowspan="3"><b>图片1</b></td>
							<td width="90" height="25">图片地址：</td>
							<td colspan="2">
								<input name="flash_1" type="text" class="input" size="30" maxlength="200" value="{$flash_1}" />
								<iframe style="padding-top:0px;"ID="UploadFiles" src="/Admin/Org/uploader/upload_photo.php?returnid=flash_1&flash=flash" frameborder=0 scrolling=no width="280" height="25"></iframe>
							</td>
						</tr>
						<tr bgcolor="#ECF5FF">
							<td height="25">英文图片：</td>
							<td colspan="2">
								<input name="e_flash_1" type="text" class="input" size="30" maxlength="200" value="{$e_flash_1}" />
								<iframe style="padding-top:0px;"ID="UploadFiles" src="/Admin/Org/uploader/upload_photo.php?returnid=e_flash_1&flash=flash" frameborder=0 scrolling=no width="280" height="25"></iframe>
							</td>
						</tr>
						<tr bgcolor="#ECF5FF"> 
							<td width="75" height="25">链接地址：</td>
							<td colspan="2"><input name="flashurl_1" type="text" class="input" size="30" maxlength="200" value="{$flashurl_1}"></td>
						</tr> 
						<tr bgcolor="#ECF5FF"> 
							<td width="60" rowspan="3"><b>图片2</b></td>
							<td width="90" height="25">图片地址：</td>
							<td colspan="2">
								<input name="flash_2" type="text" class="input" size="30" maxlength="200" value="{$flash_2}" />
								<iframe style="padding-top:0px;"ID="UploadFiles" src="/Admin/Org/uploader/upload_photo.php?returnid=flash_2&flash=flash" frameborder=0 scrolling=no width="280" height="25"></iframe>
							</td>
						</tr>
						<tr bgcolor="#ECF5FF">
							<td height="25">英文图片：</td>
							<td colspan="2"><input name="e_flash_2" type="text" class="input" size="30" maxlength="200" value="{$e_flash_2}">
								<iframe style="padding-top:0px;"ID="UploadFiles" src="/Admin/Org/uploader/upload_photo.php?returnid=e_flash_2&flash=flash" frameborder=0 scrolling=no width="280" height="25"></iframe>
							</td>
						</tr>
						<tr bgcolor="#ECF5FF"> 
							<td width="75" height="25">链接地址：</td>
							<td colspan="2"><input name="flashurl_2" type="text" class="input" size="30" maxlength="200" value="{$flashurl_2}"></td>
						</tr>
						<tr bgcolor="#ECF5FF"> 
							<td width="60" rowspan="3"><b>图片3</b></td>
							<td width="90" height="25">图片地址：</td>
							<td colspan="2"><input name="flash_3" type="text" class="input" size="30" maxlength="200" value="{$flash_3}" />
								<iframe style="padding-top:0px;"ID="UploadFiles" src="/Admin/Org/uploader/upload_photo.php?returnid=flash_3&flash=flash" frameborder=0 scrolling=no width="280" height="25"></iframe>
							</td>
						</tr>
						<tr bgcolor="#ECF5FF">
							<td height="25">英文图片：</td>
							<td colspan="2"><input name="e_flash_3" type="text" class="input" size="30" maxlength="200" value="{$e_flash_3}" />
								<iframe style="padding-top:0px;"ID="UploadFiles" src="/Admin/Org/uploader/upload_photo.php?returnid=e_flash_3&flash=flash" frameborder=0 scrolling=no width="280" height="25"></iframe>
							</td>
						</tr>
						<tr bgcolor="#ECF5FF"> 
							<td width="75" height="25">链接地址：</td>
							<td colspan="2"><input name="flashurl_3" type="text" class="input" size="30" maxlength="200" value="{$flashurl_3}"></td>
						</tr>
						<tr bgcolor="#ECF5FF"> 
							<td width="60" rowspan="3"><b>图片4</b></td>
							<td width="90" height="25">图片地址：</td>
							<td colspan="2">
								<input name="flash_4" type="text" class="input" size="30" maxlength="200" value="{$flash_4}">
								<iframe style="padding-top:0px;"ID="UploadFiles" src="/Admin/Org/uploader/upload_photo.php?returnid=flash_4&flash=flash" frameborder=0 scrolling=no width="280" height="25"></iframe>
							</td>
						</tr>
						<tr bgcolor="#ECF5FF">
							<td height="25">英文图片：</td>
							<td colspan="2">
								<input name="e_flash_4" type="text" class="input" size="30" maxlength="200" value="{$e_flash_4}" />
								<iframe style="padding-top:0px;"ID="UploadFiles" src="/Admin/Org/uploader/upload_photo.php?returnid=e_flash_4&flash=flash" frameborder=0 scrolling=no width="280" height="25"></iframe>
							</td>
						</tr>
						<tr bgcolor="#ECF5FF"> 
							<td width="75" height="25">链接地址：</td>
							<td colspan="2"><input name="flashurl_4" type="text" class="input" size="30" maxlength="200" value="{$flashurl_4}"></td>
						</tr>
						<tr bgcolor="#ECF5FF"> 
							<td width="60" rowspan="3"><b>图片5</b></td>
							<td width="90" height="25">图片地址：</td>
							<td colspan="2"><input name="flash_5" type="text" class="input" size="30" maxlength="200" value="{$flash_5}" />
								<iframe style="padding-top:0px;"ID="UploadFiles" src="/Admin/Org/uploader/upload_photo.php?returnid=flash_5&flash=flash" frameborder=0 scrolling=no width="280" height="25"></iframe>
							</td>
						</tr>
						<tr bgcolor="#ECF5FF">
							<td height="25">英文图片：</td>
							<td colspan="2"><input name="e_flash_5" type="text" class="input" size="30" maxlength="200" value="{$e_flash_5}" />
								<iframe style="padding-top:0px;"ID="UploadFiles" src="/Admin/Org/uploader/upload_photo.php?returnid=e_flash_5&flash=flash" frameborder=0 scrolling=no width="280" height="25"></iframe>
							</td>
						</tr>
						<tr bgcolor="#ECF5FF"> 
							<td width="75" height="25">链接地址：</td>
							<td colspan="2"><input name="flashurl_5" type="text" class="input" size="30" maxlength="200" value="{$flashurl_5}" /></td>
						</tr>
						<tr bgcolor="#ECF5FF" > 
							<td width="119" height="25" colspan="2">Flash地址：</td>
							<td colspan="2"> <input name="flash_url" type="text" class="input" size="30" maxlength="200" value="{$flash_url}"> 
								<iframe style="padding-top:0px;"ID="UploadFiles" src="/Admin/Org/uploader/upload_photo.php?uploadtype=flash&returnid=flash_url" frameborder=0 scrolling=no width="280" height="25"></iframe>
							</td>
						</tr>
						<tr bgcolor="#ECF5FF" > 
							<td width="119" height="25" colspan="2">英文Flash地址：</td>
							<td colspan="2"> <input name="e_flash_url" type="text" class="input" size="30" maxlength="200" value="{$e_flash_url}"> 
								<iframe style="padding-top:0px;"ID="UploadFiles" src="/Admin/Org/uploader/upload_photo.php?uploadtype=flash&returnid=e_flash_url" frameborder=0 scrolling=no width="280" height="25"></iframe>
							</td>
						</tr>
						<tr bgcolor="#ECF5FF"> 
							<td idth="119" height="25" colspan="2">Flash背景：</td>
							<td colspan="2"><input name="flash_back" type="text" class="input" size="30" maxlength="200" value="{$flash_back}" />
								<iframe style="padding-top:0px;"ID="UploadFiles" src="/Admin/Org/uploader/upload_photo.php?returnid=flash_back&flash=flash" frameborder=0 scrolling=no width="280" height="25"></iframe>
							</td>
						</tr>
						<tr bgcolor="#ECF5FF"> 
							<td idth="119" height="25" colspan="2">英文Flash背景：</td>
							<td colspan="2"><input name="e_flash_back" type="text" class="input" size="30" maxlength="200" value="{$e_flash_back}" />
								<iframe style="padding-top:0px;"ID="UploadFiles" src="/Admin/Org/uploader/upload_photo.php?returnid=e_flash_back&flash=flash" frameborder=0 scrolling=no width="280" height="25"></iframe>
							</td>
						</tr>
					{else}
						<tr bgcolor="#ECF5FF"> 
							<td width="60" rowspan="2"><b>图片1</b></td>
							<td width="90" height="25">图片地址：</td>
							<td colspan="2"><input name="flash_1" type="text" class="input" size="30" maxlength="200" value="$flash_1"><iframe style="padding-top:0px;"ID="UploadFiles" src="../include/upload_Photo.php?returnid=flash_1&flash=flash" frameborder=0 scrolling=no width="280" height="25"></iframe>			</td>
						</tr>
						<tr bgcolor="#ECF5FF"> 
							<td width="75" height="25">链接地址：</td>
							<td colspan="2"><input name="flashurl_1" type="text" class="input" size="30" maxlength="200" value="$flashurl_1"></td>
						</tr> 
						<tr bgcolor="#ECF5FF"> 
							<td width="60" rowspan="2"><b>图片2</b></td>
							<td width="90" height="25">图片地址：</td>
							<td colspan="2"><input name="flash_2" type="text" class="input" size="30" maxlength="200" value="$flash_2"><iframe style="padding-top:0px;"ID="UploadFiles" src="../include/upload_Photo.php?returnid=flash_2&flash=flash" frameborder=0 scrolling=no width="280" height="25"></iframe>			</td>
						</tr>
						<tr bgcolor="#ECF5FF"> 
							<td width="75" height="25">链接地址：</td>
							<td colspan="2"><input name="flashurl_2" type="text" class="input" size="30" maxlength="200" value="$flashurl_2"></td>
						</tr>
						<tr bgcolor="#ECF5FF"> 
							<td width="60" rowspan="2"><b>图片3</b></td>
							<td width="90" height="25">图片地址：</td>
							<td colspan="2"><input name="flash_3" type="text" class="input" size="30" maxlength="200" value="$flash_3"><iframe style="padding-top:0px;"ID="UploadFiles" src="../include/upload_Photo.php?returnid=flash_3&flash=flash" frameborder=0 scrolling=no width="280" height="25"></iframe>			</td>
						</tr>
						<tr bgcolor="#ECF5FF"> 
							<td width="75" height="25">链接地址：</td>
							<td colspan="2"><input name="flashurl_3" type="text" class="input" size="30" maxlength="200" value="$flashurl_3"></td>
						</tr>
						<tr bgcolor="#ECF5FF"> 
							<td width="60" rowspan="2"><b>图片4</b></td>
							<td width="90" height="25">图片地址：</td>
							<td colspan="2">
								<input name="flash_4" type="text" class="input" size="30" maxlength="200" value="{$flash_4}" />
								<iframe style="padding-top:0px;"ID="UploadFiles" src="/Admin/Org/uploader/upload_photo.php?returnid=flash_4&flash=flash" frameborder=0 scrolling=no width="280" height="25"></iframe>
							</td>
						</tr>
						<tr bgcolor="#ECF5FF"> 
							<td width="75" height="25">链接地址：</td>
							<td colspan="2"><input name="flashurl_4" type="text" class="input" size="30" maxlength="200" value="{$flashurl_4}"></td>
						</tr>
						<tr bgcolor="#ECF5FF"> 
							<td width="60" rowspan="2"><b>图片5</b></td>
							<td width="90" height="25">图片地址：</td>
							<td colspan="2">
								<input name="flash_5" type="text" class="input" size="30" maxlength="200" value="{$flash_5}" />
								<iframe style="padding-top:0px;"ID="UploadFiles" src="/Admin/Org/uploader/upload_photo.php?returnid=flash_5&flash=flash" frameborder=0 scrolling=no width="280" height="25"></iframe>
							</td>
						</tr>
						<tr bgcolor="#ECF5FF"> 
							<td width="75" height="25">链接地址：</td>
							<td colspan="2"><input name="flashurl_5" type="text" class="input" size="30" maxlength="200" value="$flashurl_5"></td>
						</tr>

						<tr bgcolor="#ECF5FF" > 
							<td width="119" height="25" colspan="2">Flash地址：</td>
							<td colspan="2"> <input name="downloadurl" type="text" class="input" size="30" maxlength="200" value="$flash_url"> 
							<iframe style="padding-top:0px;"ID="UploadFiles" src="../include/upload_file.php" frameborder=0 scrolling=no width="280" height="25"></iframe></td>
						</tr>
						<tr bgcolor="#ECF5FF"> 
							<td idth="119" height="25" colspan="2">Flash背景：</td>
							<td colspan="2"><input name="flash_back" type="text" class="input" size="30" maxlength="200" value="$flash_back"><iframe style="padding-top:0px;"ID="UploadFiles" src="../include/upload_Photo.php?returnid=flash_back&flash=flash" frameborder=0 scrolling=no width="280" height="25"></iframe>			</td>
						</tr>
					{/if}
					<tr> 
						<td height="30" colspan="4" align="center" bgcolor="#ECF5FF"> 
							<input type="submit" name="Submit" value="提交" class="tj" />
							<input type="reset" name="Submit" value="重置" class="tj" /> 
						</td>
					</tr>
				</table>
			</form>
		</td>
	</tr>
</table>
</body>
</html>