<!doctype html>
<html>
<head>
<meta http-equiv='content-type' content='text/html;charset=utf-8' />
<meta name='description' content=''>
<meta name='keywords' content=''>
<link type="text/css" href="Public/css/bootstrap.min.css" rel="stylesheet">
<link rel='stylesheet' type='text/css' href='Public/css/base.css' />
<link rel='stylesheet' type='text/css' href='Public/css/admin.css' />
<script type="text/javascript" src="Public/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="Public/js/admin.js"></script>
<title>网站后台管理系统</title>
</head>
<body>

{include file="Public/header.html"}

<table width="100%" class="tablemain">
	<tr>
		<td valign="top" width="182">
		
			{include file="Public/left.html"}
			
		</td>
		<td valign="top">
			<div class="main database">
				<div class="hd"><b>数据备份</b></div>
				<form class="bd" method="post" action="" name="basic_set">
					<div class="add"><a href=""><b>数据库导入</b></a></div>
					<input type="hidden" name="action" value="modify" />
					<table>
						<tr>
							<td width="8%"><input type="checkbox" checked />全选/反选</td>
							<td>数据库表</td>
							<td>记录条数</td>
							<td width="18%">大小[共 {$result_arr['total_size']}  KB]</td>
						</tr>
						{foreach from=$result_arr['tables'] key=key item=item}
							<tr>
								<td><input type="checkbox" name="tables" checked value="{$item['Tables_in_my_enterprise_web']}"</td>
								<td>{$item['Tables_in_my_enterprise_web']}</td>
								<td>{$item['count']}</td>
								<td>{$item['size']}</td>
							</tr>		
						{/foreach}
						<tr>
							<td colspan="6" style="text-align:center;">
								<button type="submit" class="btn btn-default">开始备份数据</button>
								<button type="reset" class="btn btn-default">重 置</button>
							</td>
						</tr>											
					</table>
				</form>
			</div>
		</td>
	</tr>
</table>

{include file="Public/footer.html"}

</body>
</html>










