<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="description" content="" />
<meta name="keywords" content="" />
<title>登录</title>
<link rel="stylesheet" type="text/css" href="Public/Home/css/main.css" />
<script type="text/javascript" src="Public/Home/js/check.js"></script>
</head>
<body>		
<form name="login" method="post" action="{U('Login/login')}" onsubmit="return check_login();">
	<table>
		<tr><td colspan="2">输入姓名和口令即可开始答题：<hr></td></tr>
		<tr>
			<td>姓名：</td>
			<td><input name="name" id="name" autocomplete="off" placeholder="真实姓名"></td>
		</tr>
		<tr>
			<td>手机：</td>
			<td><input name="tel" id="tel" autocomplete="off" placeholder="手机号码"></td>
		</tr>
		<tr>
			<td>口令：</td>
			<td>
				<input name="key" id="key" autocomplete="off" placeholder="已有或短信中的口令" />
				<input value=" 开 始 " type="submit" />
			</td>
		</tr>
		<tr>
			<td></td>
			<td><span class="msg">{$data['msg']}</a></td>
		</tr>
		<tr>
			<td></td>
			<td><a href="{U('Login/get_key')}">&gt; 获取口令点这里！&lt;</a></td>
		</tr>
	</table>
</form>
</body>
</html>