<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>主要内容区main</title>
<link href="Public/Admin/css/base.css" rel="stylesheet" type="text/css" />
<link href="Public/Admin/css/style.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="Public/Common/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="Public/Admin/js/check.js"></script>
<script type="text/javascript" src="Public/Admin/js/server.js"></script>
</head>
<body>
<div class="main">
	<div class="breadcrumbs">
		<div class="breadcrumb">您的位置：系统设置&nbsp;&nbsp;>&nbsp;&nbsp;基本设置</div>
	</div>
	<form name="basic_set" method="post" action="">
		<table width="100%" class="main-tab">
			<tr>
				<td align="right" class="bggray">&nbsp;</td>
				<td align="left" class="main-for">
					<span class="back_msg">
						<font color="#f33">{$rst['msg']}</font>
					</span>
				</td>
			</tr>			
			<tr>
				<td align="right" class="bggray">后台状态：</td>
				<td align="left" class="main-for">
					<input type="radio" name="status" value="1" {if $rst['bsc']['status'] eq 1}checked{/if} />开启
					<input type="radio" name="status" value="0" {if $rst['bsc']['status'] eq 0}checked{/if} />关闭
				</td>
			</tr>
			<tr>
				<td align="right" class="bggray">&nbsp;</td>
				<td align="left" class="main-for">
					<input name="sub" type="submit" value="提交" class="text-but">
					<input name="res" type="reset" value="重置" class="text-but">
				</td>
			</tr>
		</table>
	</form>
</div>
</body>
</html>