*{ margin:0; padding:0;}
html{ overflow-x:hidden;}
body{ font-size:12px; font-family:"Microsoft YaHei","Tahoma","Arial",'宋体'; line-height:150%; margin:auto; background:url(../images/left/leftbg.jpg) left top repeat-y #f2f0f5; width:194px; color:#656565;}
a:link, a:visited { font-size: 12px; color: #656565; font-weight: normal; text-decoration: none; }

/*left*/
#left-top{background:#538ec6; width:184px; height:67px; padding:7px 0 0 10px; line-height:24px; color:#FFF}
#left-top div{ width:44px; padding:3px; height:45px; background:url(../images/left/memberbg.jpg) no-repeat left top; float:left}
#left-top span{ width:125px; padding:0 0 0 6px; height:45px; float:left;}
.sdmenu { width: 184px; font-size: 12px; padding-bottom: 10px; color: #fff; padding:0 5px; }
.sdmenu div { background:#dce5f0; overflow: hidden; margin-bottom:1px; color:#548fc7 }
.sdmenu div:first-child { background:#dce5f0; }
.sdmenu div.collapsed { height: 35px; }
.sdmenu div span { display: block; padding: 0px 25px; font-weight: bold; color: 548fc7; background: url(../images/left/expanded.jpg) no-repeat 10px center; cursor:pointer; height:35px; line-height:35px; }
.sdmenu span { margin-bottom: 1px; background:#dce5f0; display: block; padding: 0px 25px; height:35px; line-height:35px; }
.sdmenu span.active{ background:#f8f8f8; }
.sdmenu span a{ color: #548fc7; font-weight: bold; }
.sdmenu .collapsed span { background-image: url(../images/left/collapsed.jpg); }
.sdmenu div a { padding: 5px 10px 5px 35px; display: block; height:25px; line-height:25px; color: #656565; background:url(../images/left/line.jpg) no-repeat 25px 15px #f2f0f5; }
.sdmenu div a:hover,div.sdmenu div a.active { background :url(../images/left/line.jpg) no-repeat 25px 15px #f8f8f8; color: #8c8c8c; }