body{ background:#f2f0f5; padding:15px 0px 10px 5px; }
.main{ font-size:12px; }


/*sys_info*/
.main span.time{ font-size:14px; color:#528dc5; width:100%; padding-bottom:10px; float:left}
.main div.top{ width:100%; background:url(../images/main/main_r2_c2.jpg) no-repeat 0 10px; padding:0 0 0 15px; line-height:35px; float:left}
.main div.sec{ width:100%; background:url(../images/main/main_r2_c2.jpg) no-repeat 0 15px; padding:0 0 0 15px; line-height:35px; float:left}
.left{ float:left}
.main span.num{  font-size:30px; color:#538ec6; font-family:"Georgia","Tahoma","Arial";}
div.main-tit{ font-size:14px; font-weight:bold; color:#4e4e4e; background:url(../images/main/main_r4_c2.jpg) no-repeat 0 33px; width:100%; padding:30px 0 0 20px; float:left}
div.main-con{ width:100%; float:left; padding:10px 0 0 20px; line-height:36px;}
div.main-corpy{ font-size:14px; font-weight:bold; color:#4e4e4e; background:url(../images/main/main_r6_c2.jpg) no-repeat 0 33px; width:100%; padding:30px 0 0 20px; float:left}
div.main-order{ line-height:30px; padding:10px 0 0 0;}

/*面包屑*/
.breadcrumbs{ text-align:left; line-height:28px; padding-bottom:4px; }


/*main-tab*/
.gray { color: #dbdbdb; }

.main-tab{ border:1px solid #eaeaea; background:#FFF; font-size:12px; }
.main-tab th{ font-size:12px; background:url(../images/main/list_bg.jpg) repeat-x; height:32px; line-height:32px;}
.main-tab tr{ background:#fff; }
.main-tab tr:nth-child(2n+1){ background: #f9f9f9; }
.main-tab tr:hover{ background:#edf5ff; }
.main-tab td{ line-height:40px; border:1px solid #ebebeb; padding:0 8px; }
.main-tab td a{ font-size:12px; color:#548fc9;}
.main-tab td a:hover{color:#565656; }

.main-for{ padding:10px;}
.main-for input.text-word{ width:310px; height:36px; line-height:36px; border:#ebebeb 1px solid; background:#FFF; padding:0 10px;}

.main-for input.text-word:hover{ border:1px solid #b5b5b5; }
.main-for input.text-word:focus{ border:1px solid #f59942; }
.main-for input.text-but{ width:100px; height:40px; line-height:30px; border: 1px solid #cdcdcd; background:#e6e6e6; color:#969696; float:left; margin:0 10px 0 0; font-size:14px; font-weight:bold;}

/*search*/
.search{ background:#548fc9; margin:10px 10px 0 0; color:#FFF; }
.search form span{ line-height:40px; padding:0 0px 0 10px; }
.search form input.text-word{height:24px; line-height:24px; width:180px; margin:8px 0 6px 0; padding:0 0px 0 10px; }
.search form input.text-but{height:24px; line-height:24px; width:55px; background:url(../images/main/list_input.jpg) no-repeat left top; color:#666; margin:8px 0 0 6px; display:inline;}
.search form input.text-word:hover{ border:1px solid #b5b5b5; }
.search form input.text-word:focus{ border:1px solid #f59942; }
.search a.add{ float:right; background:url(../images/main/add.jpg) no-repeat -3px 7px #548fc9; padding:0 30px 0 26px; line-height:40px; font-size:14px; font-weight:bold; color:#FFF; }
.search a:hover.add{ color:#d2e9ff;}

/*qlist*/
.qlist td{ text-align:center; }

/*qadd*/


/*pages*/
.pages { padding: 10px 10px 0 0; text-align: right; }


/*dataTable*/
#example_length{ display:inline-block; width:49.5%; margin:6px 0; text-align:left; }
#example_length select{ border:1px solid #d5d5d5; padding:5px 4px; }
#example_filter{ display:inline-block; width:48%; text-align:right; }
#example_filter input{ border:1px solid #d5d5d5; padding:5px 4px; }
#example_filter input:hover{ border:1px solid #b5b5b5; }
#example_filter input:focus{ border:1px solid #f59942; }
#example_info{ display:inline-block; width:49.5%; margin:6px 0; text-align:left; }
#example_paginate{ display:inline-block; width:48%; text-align:right; }
#example_paginate a{ color:#fff; display:inline-block; padding:3px 8px; background:#548fc9; margin:2px 3px; cursor:pointer; }


