<form method="post" enctype="multipart/form-data" action="<{$url}>">
    <ul>
        <li>
            <div class="l">分组名称：</div>
            <div class="r"><{$group_name}></div>
        </li>
        <li>
            <div class="l">账号类型：</div>
            <div class="r"><{$account_type}></div>
        </li>
        <li class="gid_ajax"></li>
        <li class="file_explain" style="display: none">
            <div class="l"></div>
            <div class="r">
                <br><span>文件(csv格式)：</span><br>
                <span>A列：gmail</span>
                <span>B列：password</span>
                <span>C列：creat_time</span>
                <span>D列：secondGmail</span>
                <span>E列：is_find</span>
                <span>F列：group_source</span>
            </div>
        </li>
        <li>
            <input name="submit" type="submit" value="确定">
        </li>
    </ul>
</form>
<script>
    $('select[name="account_type"]').change(function(){
        var cp = $(this).children('option:selected').val();
        $.ajax({
            url : 'index.php?m=Home&c=Task&a=accountGroupList&method=ajax&account_type='+cp,
            type : 'get',
            success : function(data){
                $('.gid_ajax').html(data);
                if (cp==2) {
                    $('.file_explain').hide();
                } else if (cp==3) {
                    $('.file_explain').show();
                }
            }
        });
    });
</script>