<form enctype="multipart/form-data" method="post" action="<{:U('Task/agreementList', array('method'=>'edit'))}>">
    <ul>
        <li>
            <div class="l">TAG：</div>
            <div class="r"><{$tag}></div>
        </li>
        <li>
            <div class="l">线程数：</div>
            <div class="r"><{$thread}></div>
        </li>
        <input type="hidden" name="method" value="edit">
        <input type="hidden" name="id" value="<{$id}>">
        <li>
            <input type="submit" value="修改">
        </li>
    </ul>
</form>