<form enctype="multipart/form-data" method="post" action="<{:U('Task/appManager', array('method'=>'edit'))}>">
    <ul>
        <li>
            <div class="l">游戏id：</div>
            <div class="r"><{$game_id}></div>
        </li>
        <li>
            <div class="l">游戏名称：</div>
            <div class="r"><{$game_name}></div>
        </li>
        <!--<li>
            <div class="l">包名：</div>
            <div class="r"><{$package_name}></div>
        </li>-->
        <li>
            <div class="l">CP：</div>
            <div class="r"><{$cp_name}></div>
        </li>
        <input type="hidden" name="method" value="edit">
        <input type="hidden" name="id" value="<{$id}>">
        <li>
            <input type="submit" value="修改">
        </li>
    </ul>
</form>