<form method="post" enctype="multipart/form-data" action="<{:U('Task/appManager', array('method'=>'import'))}>">
    <ul>
        <li>
            <div class="l">导入文件：</div>
            <div class="r"><{$efile}></div>
        </li>
        <li>
            <div class="l"></div>
            <div class="r">
                <br><span>文件(csv格式 UTF8)：</span><br>
                <span>A列：游戏名称</span>
                <span>B列：包名</span>
                <span>C列：CP</span>
            </div>
        </li>
        <li>
            <input name="submit" type="submit" value="确定">
        </li>
    </ul>
</form>