<style>
    form .click_list input{
        width:135px;
    }
    form .click_list .group_content{
        width:80px;
        display: inline;
        line-height: 30px;
        text-align: center;
    }
    .combo-select input {
        width:220px;
        height: 30px;
    }
    .combo-dropdown option{
        font-size: 14px;
    }
</style>
<form enctype="multipart/form-data" method="post" action="<{:U('Task/commentKeywordIpTaskList', array('method'=>'add'))}>" onsubmit="return check_submit();">
    <ul>
        <li>
            <div class="l">TAG：</div>
            <div class="r"><{$tag}></div>
        </li>
        <li>
            <div class="l">google play 商店国家：</div>
            <div class="r"><{$store_country}></div>
        </li>
        <li>
            <div class="l">账号国家：</div>
            <div class="r"><{$country}></div>
        </li>
        <li>
            <div class="l">国家表名：</div>
            <div class="r table_gid_ajax"><{$table_name}></div>
        </li>
        <li>
            <div class="l">CP：</div>
            <div class="r"><{$cp}></div>
        </li>
        <li>
            <div class="l">包名：</div>
            <div class="r gid_ajax"><{$package_name}></div>
            <div class="r">
            	&nbsp;&nbsp;&nbsp;<input type="button" onclick="return ajax_get_package();" class="ajax_sel3" id="get_package" value="获取包信息" />
            </div>
        </li>
        <li>
            <div class="l">应用名：</div>
            <div class="r"><{$nick_name}>
            	
            </div>
        </li>
        <li>
            <div class="l">关键词：</div>
            <div class="r"><{$keyword}></div>
            <div class="r">
            	&nbsp;&nbsp;&nbsp;
            	<input type="button" onclick="return ajax_get_keyword();" class="ajax_sel3" id="get_keyword" value="校验关键词" />
            </div>
        </li>
        <li>
            <div class="l">备用关键词：</div>
            <div class="r"><{$secord_keyword}></div>
            <div class="r">
            	多个用$$分割
            	<!--&nbsp;&nbsp;&nbsp;
            	<input type="button" onclick="return ajax_get_keyword();" class="ajax_sel3" id="get_keyword" value="校验关键词" />-->
            </div>
        </li>
        <!--<li>
            <div class="l">数量：</div>
            <div class="r"><{$count}></div>
        </li>-->
        <li>
            <div class="l">位置：</div>
            <div class="r">
            	<{$position}>
            </div>
            <div class="r">
            	<span style="color:orange">技术人员使用</span>
            </div>
        </li>
        <li>
            <div class="l">下载地址：</div>
            <div class="r">
            	<{$signature}>
            </div>
        </li>
        <li>
            <div class="l">版本号：</div>
            <div class="r"><{$app_version}></div>
        </li>
        <li>
            <div class="l">版本名称：</div>
            <div class="r"><{$versionName}></div>
        </li>
        <li>
            <div class="l">开发商：</div>
            <div class="r"><{$developerName}></div>
        </li>
        <li>
            <div class="l">类型：</div>
            <div class="r"><{$type}></div>
        </li>
        <li>
            <div class="l">优先级：</div>
            <div class="r"><{$score}></div>
        </li>
        <li>
            <div class="l">下载后操作：</div>
            <div class="r"><{$is_open}></div>
        </li>
        <li>
            <div class="l">评论概率：</div>
            <div class="r"><{$comment_rate}></div>
            <div class="r"><span style="color:orange">（范围0-1000；只评星概率为10‰，评星并评论为1‰较为合适）</span></div>
        </li>
        <li>
            <div class="l">评论操作：</div>
            <div class="r"><{$comment_type}></div>
        </li>
        <li>
            <div class="l">评论星级概率：</div>
            <div class="r"><{$star}></div>
            <div class="r"><span style="color:orange">（竖线分隔，和为100。例：20|30|50）</span></div>
        </li>
        <li>
            <div class="l">评论详情：</div>
            <div class="r"><{$comment_detail}></div>
            <div class="r"><span style="color:orange">（标题内容用"||"分割，不同评论用"$$"分割。例：title||content$$title||content$$title||content）</span></div>
        </li>
        <!--<li>
            <div class="l">评论起始id：</div>
            <div class="r"><{$comment_start_id}></div>
        </li>-->
        <li>
            <div class="l">热度：</div>
            <div class="r"><{$hot}></div>
        </li>
        <li>
            <div class="l">有效排名：</div>
            <div class="r"><{$effective_rank}></div>
        </li>
        <li>
            <div class="l">任务分类：</div>
            <div class="r"><{$task_class}></div>
        </li>
        <li>
            <div class="l">是否改绑：</div>
            <div class="r"><{$is_update}></div>
        </li>
        <li>
            <div class="l">改绑账号国家：</div>
            <div class="r"><{$update_country}></div>
        </li>
        <li>
            <div class="l">改绑国家表名：</div>
            <div class="r table_gid_ajax1"><{$update_table_name}></div>
        </li>
        <li>
            <div class="l">是否快速输入：</div>
            <div class="r"><{$is_fast}></div>
        </li>
        <li>
            <div class="l">是否enter：</div>
            <div class="r"><{$is_enter}></div>
        </li>
        <li>
            <div class="l">删除方式：</div>
            <div class="r"><{$del_model}></div>
        </li>
        <li>
            <div class="l">备注：</div>
            <div class="r"><{$remark}></div>
        </li>
        <li id="business_groups">
            <div class="click_list">
                <div class="group_content">开始<{$start}></div>
                <div class="group_content">结束<{$end}></div>
                <div class="group_content">数量<{$count}></div>
                <div class="group_content">评论起始id<{$comment_start_id}></div>
            </div>
        </li>
        <li>
            <div style="float: right;"><span id="add1" class="ajax_sel2">添加</span></div>
        </li>
        <input type="hidden" name="method" value="add">
        <li>
            <input type="submit" value="添加">
        </li>
    </ul>
</form>
<div id="hidden_group" style="display: none">
    <div class="click_list">
        <div class="group_content">开始<{$start}></div>
        <div class="group_content">结束<{$end}></div>
        <div class="group_content">数量<{$count}></div>
        <div class="group_content">评论起始id<{$comment_start_id}></div>
        <div class="group_content">&nbsp;&nbsp;&nbsp;<span class="icon_delete" style="cursor: pointer"></span></div>
    </div>
</div>

<div class="load_div" style="display: none;position: absolute;background-color: #00E8D7;padding: 10px">
   <img src="/Public/image/load.gif" />
</div>

<script>
    $('select[name="package_name"]').comboSelect();
    $("#add1").click(function(){
        var length = $("#business_groups").children().length;
        var val2 = $("input[name='start[]']:eq("+(length-1)+")").val();
        var val3 = $("input[name='end[]']:eq("+(length-1)+")").val();
        val2 = addDay(val2);
        val3 = addDay(val3);
		var val4 = $("input[name='count[]']:eq("+(length-1)+")").val();
		var val5 = $("select[name='comment_start_id[]']:eq("+(length-1)+")").val();
        var str = $("#hidden_group").html();
        $("#business_groups").append(str);
        $("input[name='start[]']:eq("+(length)+")").val(val2);
        $("input[name='end[]']:eq("+(length)+")").val(val3);
		$("input[name='count[]']:eq("+(length)+")").val(val4);
		$("select[name='comment_start_id[]']:eq("+(length)+")").val(val5);

        $(".icon_delete").click(function(){
            $(this).parent().parent().remove();
        });
    });

    function check_submit() {
        var tasknum = $("#business_groups").children().length;
        var flag = false;
        if (tasknum > 0) {
            for (var i = 0; i < tasknum; i++) {
                if (!$("input[name='start[]']:eq("+(i)+")").val()) {
                    alert('请填写 任务' + (i+1) + '开始时间！');
                    return false;
                }
                if (!$("input[name='end[]']:eq("+(i)+")").val()) {
                    alert('请填写 任务' + (i+1) + '结束时间！');
                    return false;
                }
				if (!$("input[name='count[]']:eq("+(i)+")").val()) {
                    alert('请填写 任务' + (i+1) + '数量！');
                    return false;
                }
                flag = true;
            }
        }
        if (!flag) {
            alert('请添加任务！');
            return false;
        }
        return true;
    }

    $('select[name="cp"]').change(function(){
        var cp = $(this).children('option:selected').val();
        $.ajax({
            url : 'index.php?m=Home&c=Task&a=gidSelectAjax&cp='+cp+'&type=2',
            type : 'get',
            success : function(data){
                $('.gid_ajax').html(data); //&nbsp;&nbsp;&nbsp;<input type="button" class="ajax_sel3" id="get_package" onclick="return ajax_get_package();" value="获取包信息" />

                $('select[name="package_name"]').comboSelect();
				$('select[name="package_name"]').change(function(){
					var package_name = $(this).children('option:selected').val();
					var package = package_name.split('##');
					var country = $("select[name='store_country']").val();
					if(country == '' || country == null){
						alert('请选择国家！');
						return false;	
					}
					
					$.ajax({
						url: 'index.php?m=Home&c=Task&a=commentKeywordIpTaskList&method=ajax_package_info&game_id=' + package[0] + '&country=' + country,
						type: 'get',
						success: function (json) {
							if(json.status == 1){
								alert(json.info);
								$('input[name="nick_name"]').val(json.data.appName);
								$('input[name="app_version"]').val(json.data.versionCode);
								$('input[name="versionName"]').val(json.data.versionName);
								$('textarea[name="signature"]').val(json.data.url);
								$('input[name="developerName"]').val(json.data.developerName);
							}else{
								//alert(json.info + '请点击右侧按钮进行获取！');
								//$('#get_package').show();
							}
							$('#get_package').attr('disabled',false);
						}
					});
				});
            }
        });
    });
	
	

    $('select[name="country"]').change(function () {
        var cp = $(this).children('option:selected').val();
        $.ajax({
            url: 'index.php?m=Home&c=Task&a=commentKeywordIpTaskList&method=ajax&short_name=' + cp,
            type: 'get',
            success: function (data) {
                $('.table_gid_ajax').html(data);
            }
        });
    });

    $('select[name="update_country"]').change(function () {
        var cp = $(this).children('option:selected').val();
        $.ajax({
            url: 'index.php?m=Home&c=Task&a=commentKeywordIpTaskList&method=ajax1&short_name=' + cp,
            type: 'get',
            success: function (data) {
                $('.table_gid_ajax1').html(data);
            }
        });
    });
	
	function ajax_get_package(){
		var package_name = $("select[name='package_name']").val();
		var package = package_name.split('##');
		var country = $("select[name='store_country']").val();
		var country_arr = country.split('#');
		
		if(package_name == ''){
			alert('请选择应用！');
			return false;	
		}
		
		if(country == ''){
			alert('请选择国家！');
			return false;	
		}
		
		$('#get_package').attr('disabled',true);
		
		$.ajax({
            url: 'index.php?m=Home&c=Task&a=commentKeywordIpTaskList&method=ajax_get_package&game_id=' + package[0] + '&country=' + country_arr[0],
            type: 'get',
			beforeSend:beforeSend, //发送请求 
            success: function (json) {
				$(".load_div").css({'display':'none'});
				
				if(json.status == 1){
					alert(json.info);
					$('input[name="nick_name"]').val(json.data.appName);
					$('input[name="app_version"]').val(json.data.versionCode);
					$('input[name="versionName"]').val(json.data.versionName);
					$('textarea[name="signature"]').val(json.data.url);
					$('input[name="developerName"]').val(json.data.developerName);
				}else{
					alert(json.info);	
				}
				
				$('#get_package').attr('disabled',false);
            }
        });
	}
	
	function beforeSend(XMLHttpRequest){
		var top = ($(window).height())/2;
        var scrollTop = $(document).scrollTop();
		$(".load_div").css( { 'display' : 'block', 'top' : '200px', 'margin-left' : '300px'} ).show(); 
		
	}
	
	function ajax_get_keyword(){
		var package_name = $("select[name='package_name']").val();
		var package = package_name.split('##');
		var country = $("select[name='store_country']").val();	
		var country_arr = country.split('#');
		
		
		if(package_name == ''){
			alert('请选择应用！');
			return false;	
		}
		
		if(country == ''){
			alert('请选择国家！');
			return false;	
		}
		
		var keyword = $("input[name='keyword']").val();
		
		if(keyword == ''){
			alert('需要搜索的关键词不能为空！');
			return false;	
		}
		$('#get_keyword').attr('disabled',true);
		
		$.ajax({
            url: 'index.php?m=Home&c=Task&a=commentKeywordIpTaskList&method=ajax_get_search&game_id=' + package[0] + '&country=' + country_arr[0] + '&keyword=' + keyword,
            type: 'get',
			beforeSend:beforeSend, //发送请求 
            success: function (json) {
				$(".load_div").css({'display':'none'});
				
				if(json.status == 1){
					if(json.data.rank)
					alert(json.info);
				}else{
					alert(json.info);	
				}
				
				$('#get_keyword').attr('disabled',false);
            }
        });
	}
</script>