<div class="clear"></div>
<table>
    <th>ID</th><th>文件标题或描述</th><th>渠道</th><th>总数</th><th>成功数</th><th>失败数</th><th>评论ID范围<th>添加时间</th><th>文件地址</th>
    <volist name="data" id="vo">
        <tr>
            <td><{$vo.id}></td>
            <td><{$vo.title}></td>
            <td><{$vo.channel}></td>
            <td><{$vo.total}></td>
            <td><{$vo.success}></td>
            <td><{$vo.error}></td>
            <td>[<{$vo.comment_id}>]</td>
            <td><{$vo.time}></td>
            <td><a href="<{$vo.old_url}>" target="_blank">原文件</a><br></td>
        </tr>
    </volist>
</table>