<form enctype="multipart/form-data" method="post" action="<{:U('Task/commentList', array('method'=>'edit'))}>">
    <ul>
        <li>
            <div class="l">评论标题：</div>
            <div class="r"><{$title}></div>
        </li>
        <li>
            <div class="l">评论内容：</div>
            <div class="r"><{$content}></div>
        </li>
        <li>
            <div class="l">游戏类型：</div>
            <div class="r"><{$game_type}></div>
        </li>
        <input type="hidden" name="method" value="edit">
        <input type="hidden" name="id" value="<{$id}>">
        <li>
            <input type="submit" value="修改">
        </li>
    </ul>
</form>