<form method="post" enctype="multipart/form-data" action="<{$url}>">
    <ul>
        <li>
            <div class="l">标题或描述：</div>
            <div class="r"><{$title}></div>
        </li>
        <li>
            <div class="l">游戏类型：</div>
            <div class="r"><{$game_type}></div>
        </li>
        <li>
            <div class="l">导入文件：</div>
            <div class="r"><{$efile}></div>
        </li>
        <li>
            <div class="r">
                <br>
                <span>文件(xlsx格式 UTF8)：</span><br>
                <span>A列：评论标题</span>&nbsp;&nbsp;&nbsp;&nbsp;
                <span>B列：评论内容</span>&nbsp;&nbsp;&nbsp;&nbsp;
                <span>C列：星级</span>
            </div>
        </li>
        <li>
            <input name="submit" type="submit" value="确定">
        </li>
    </ul>
</form>