<form enctype="multipart/form-data" method="post" action="<{:U('Task/countryInfoList', array('method'=>'edit'))}>">
    <ul>
        <li>
            <div class="l">mcc：</div>
            <div class="r"><{$mcc}></div>
        </li>
        <li>
            <div class="l">mnc：</div>
            <div class="r"><{$mnc}></div>
        </li>
        <li>
            <div class="l">运营商名称：</div>
            <div class="r"><{$operator}></div>
        </li>
        <li>
            <div class="l">国家简码：</div>
            <div class="r"><{$country_short}></div>
        </li>
        <li>
            <div class="l">时区：</div>
            <div class="r"><{$time_zone}></div>
        </li>
        <li>
            <div class="l">国家code：</div>
            <div class="r"><{$country_code}></div>
        </li>
        <input type="hidden" name="method" value="edit">
        <input type="hidden" name="id" value="<{$id}>">
        <li>
            <input type="submit" value="修改">
        </li>
    </ul>
</form>