<form enctype="multipart/form-data" method="post" action="<{:U('Task/countryMst', array('method'=>'add'))}>">
    <ul>
        <li>
            <div class="l">国家名：</div>
            <div class="r"><{$name}></div>
        </li>
        <li>
            <div class="l">简写：</div>
            <div class="r"><{$short_name}></div>
        </li>
        <li>
            <div class="l">语言：</div>
            <div class="r language_ajax"><{$language}></div>
        </li>
        <input type="hidden" name="method" value="add">
        <li>
            <input type="submit" value="添加">
        </li>
    </ul>
</form>

<script>
    $('select[name="short_name"]').change(function(){
        var cp = $(this).children('option:selected').val();
        $.ajax({
            url : 'index.php?m=Home&c=Task&a=shortNameSelectAjax&cp='+cp,
            type : 'get',
            success : function(data){
                $('.language_ajax').html(data);
            }
        });
    });
</script>