<form enctype="multipart/form-data" method="post" action="<{:U('Task/countryDBMst', array('method'=>'add'))}>">
    <ul>
        <li>
            <div class="l">国家：</div>
            <div class="r"><{$country}></div>
        </li>
        <li>
            <div class="l">备注：</div>
            <div class="r"><{$remark}></div>
        </li>
        <li>
            <div class="l">后缀名：</div>
            <div class="r"><{$suffix}></div>
            <div class="r"><span style="color:orange">只能为字母或数字</span></div>
        </li>
        <li>
            <div class="l"></div>
            <div class="r"><span style="color:orange">（例如：国家：香港,后缀名：test1，建表为true_account_hk_test1）</span></div>
        </li>
        <input type="hidden" name="method" value="add">
        <li>
            <input type="submit" value="添加">
        </li>
    </ul>
</form>