<form method="post" action="<{$url}>">
    <table>
        <tr>
            <td>国家：<{$country_language}></td>
            <td>开始日期：<{$start}></td>
            <td>结束日期：<{$end}></td>
            <td>TAG：<{$search_tag}></td>
        </tr>
        <tr>
            <td>CP：<{$search_cp}></td>
            <td>包名：<{$search_package_name}></td>
            <td>关键词：<{$search_keyword}></td>
            <td style="text-align: left"><input type="submit" value="查看" ></td>
        </tr>
    </table>
</form><br/>
<div>
    <input type="button" name="export" value="    导出数据    " onclick="location.href='index.php?m=Home&c=File&a=down&module=keywordCollect'">
</div>
<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
    <tr><th>任务id</th><th>开始/结束时间</th><th>国家</th><th>包名</th><th>应用名称</th><th>关键词</th><th>排名</th><th>变化</th><th>热度</th><th>计划数</th><th>下发数</th><th>成功数</th><th>成功率</th><th>CP</th><th>TAG</th><th>历史</th><th>是否有效</th><th>备注</th></tr>
    </thead>
    <tbody>
    <volist name="keyword_log_data" id="vo">
        <tr>
            <td><{$vo.id}></td>
            <td><{$vo.start}><br><{$vo.end}></td>
            <td><{$vo.country}></td>
            <td><{$vo.package_name_url}></td>
            <td><{$vo.game_name}></td>
            <td><{$vo.keyword}></td>
            <td><{$vo.ranking}></td>
            <td class=<{$vo.exception}> ><{$vo.diff}></td>
            <td><{$vo.hot}></td>
            <td><{$vo.count}></td>
            <td><{$vo.count_d}></td>
            <td><{$vo.count_s}></td>
            <td><{$vo.rate}></td>
            <td><{$vo.cp}></td>
            <td><{$vo.tag}></td>
            <td><{$vo.history}></td>
            <td><{$vo.flag}></td>
            <td><{$vo.remark}></td>
        </tr>
    </volist>
    </tbody>
</table>

<div class="group_detail_div" style="display: none;position: absolute;background-color: #00E8D7;padding: 10px">
    <div style="height: 18px;text-align: right"><span class="icon_delete group_close" style="cursor: pointer"></span></div>
    <div id="container" style="min-width: 310px; height: 400px; width:800px; margin: 0 auto"></div>
</div>

<script>
    $(document).ready(function() {
        $('#example').dataTable({
            "aaSorting": [[ 5, "asc" ]],
            "aLengthMenu":[100,50,10],
            "oLanguage": {    // 语言设置
                "sLengthMenu": "每页显示 _MENU_ 条记录",
                "sZeroRecords": "抱歉， 没有找到",
                "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                "sInfoEmpty": "没有数据",
                "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                "sZeroRecords": "没有检索到数据",
                "sSearch": "检索:",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "前一页",
                    "sNext": "后一页",
                    "sLast": "尾页"
                }
            }
        });
    });

    $(".three_ajax").each(function () {
        $(this).click(function () {
            var the = $(this);
            var task_id = $(this).attr('id');
            var status = $(this).attr('status');
            $.ajax({
                url : 'index.php?m=Home&c=Task&a=packageNameKeywordStatusAjax&task_id='+task_id+'&status='+status,
                type : 'get',
                success : function(data){
                    if (data == "yes") {
                        $(".three_ajax", $(the).parent()).removeClass('three_ajax_sel');
                        $(the).addClass('three_ajax_sel');
                        if (status == 1) {
                            $(the).parent().parent().children('td').eq(6).removeClass().addClass('vpnException1');
                        } else if (status == 2) {
                            $(the).parent().parent().children('td').eq(6).removeClass().addClass('vpnException2');
                        } else if (status == 3) {
                            $(the).parent().parent().children('td').eq(6).removeClass().addClass('vpnException3');
                        } else {
                            $(the).parent().parent().children('td').eq(6).removeClass();
                        }
                    } else {
                        alert("修改失败");
                    }
                }
            });
        });
    });

    $(".change_remark").each(function () {
        $(this).change(function () {
            var task_id = $(this).attr('id');
            var remark = $(this).val();
            $.ajax({
                url : 'index.php?m=Home&c=Task&a=packageNameKeywordRemarkAjax&task_id='+task_id+'&remark='+remark,
                type : 'get',
                success : function(data){
                    if (data == "yes") {
                        alert("修改成功");
                    } else {
                        alert("修改失败");
                    }
                }
            });
        });
    });


    $(".history").click(function(){
        var datas = $(this).attr('attr');
        var top = ($(window).height())/2;
        var scrollTop = $(document).scrollTop();
        $(".group_detail_div").css( { 'display' : 'block', 'top' : top + scrollTop - 400,'margin-left' : '30px'} ).show();
        var url = "index.php?m=Home&c=Task&a=getKeywordListData";
        $.ajax({
            url : url,
            type : 'post',
            data:{datas:datas},
            dataType:'json',
            success : function(result){
                Highcharts.chart('container', {
                    title: {
                        text: result.str5,
                        x: -20 //center
                    },
                    xAxis: {
                        tickInterval: result.str6,
                        categories: result.str1
                    },
                    yAxis: {title: {text: '排名'}, reversed: true,plotLines: [{value: 0, width: 1, color: '#808080'}]},
                    tooltip: {valueSuffix: '名'},
                    legend: {layout: 'vertical', align: 'right', verticalAlign: 'middle', borderWidth: 0},
                    series: [{
                        name: result.str3,
                        data: result.str2
                    }]
                });
            }
        });
        return false;
    });

    $(".group_close").click(function(){
        $(".group_detail_div").hide();
    });
</script>
<script language="javascript" src="__PUBLIC__/js/admin/highcharts.js"></script>