<form method="post" enctype="multipart/form-data" action="<{:U('Task/searchKeywordIpTaskList', array('method'=>'import_more_keyword'))}>">
    <ul>
        <li>
            <div class="l">导入文件：</div>
            <div class="r"><{$efile}></div>
        </li>
        <li>
            <div class="l"></div>
            <div class="r">
                <br><span>文件(csv格式 UTF8)：</span><br>
                <span>A列：国家(US/HK/TW)</span><br>
                <span>B列：包名</span><br>
                <span>C列：开始时间(2017-08-25 09:00:00)</span><br>
                <span>D列：结束时间(2017-08-25 18:00:00)</span><br>
                <span>E列：关键词(多个用$$分割)</span><br>
                <span>F列：配置关键词数量</span><br>
                <span>G列：关键词计划量</span><br>
                <span>H列：走detail数量</span><br>
                <span>I列：指定国家表名</span><br>
                <span>J列：评论概率(填写0至1000纯数字)</span><br>
                <span>K列：评论操作(填写1或者2，1表示只评星操作 2表示评星并评论)</span><br>
                <span>L列：星级概率</span><br>
                <span>M列：评论组ID</span><br>
                <span>N列：优先级</span><br />
                <span>O列：任务分类</span><br />
            </div>
        </li>
        <li>
            <input name="submit" type="submit" value="确定">
        </li>
    </ul>
</form>