<style>
    form .click_list input{
        width:135px;
    }
    form .click_list .group_content{
        width:80px;
        display: inline;
        line-height: 30px;
        text-align: center;
    }
</style>
    <ul>

        <li>
            <div class="l">国家：</div>
            <div class="r"><{$country}></div>
        </li>
        <li>
            <div class="l">CP：</div>
            <div class="r"><{$cp}></div>
        </li>
        <li>
            <div class="l">包名：</div>
            <div class="r gid_ajax"><{$package_name}></div>
        </li>
        <li>
            <div class="l">关键词：</div>
            <div class="r"><{$keyword}></div>
            <div class="r">
            	&nbsp;&nbsp;&nbsp;
            	<input type="button" onclick="return ajax_get_keyword();" class="ajax_sel3" id="get_keyword" value="校验关键词" />
            </div>
        </li>
        <li>
            <div class="l">当前排名：</div>
            <div class="r" id="rank_div">
            	
            </div>
        </li>
    </ul>
<div class="load_div" style="display: none;position: absolute;background-color: #00E8D7;padding: 10px">
   <img src="/Public/image/load.gif" />
</div>

<script>
    $("#add1").click(function(){
        var length = $("#business_groups").children().length;
        var val2 = $("input[name='start[]']:eq("+(length-1)+")").val();
        var val3 = $("input[name='end[]']:eq("+(length-1)+")").val();
		var val4 = $("input[name='count[]']:eq("+(length-1)+")").val();
        var str = $("#hidden_group").html();
        $("#business_groups").append(str);
        $("input[name='start[]']:eq("+(length)+")").val(val2);
        $("input[name='end[]']:eq("+(length)+")").val(val3);
		$("input[name='count[]']:eq("+(length)+")").val(val4);

        $(".icon_delete").click(function(){
            $(this).parent().parent().remove();
        });

        $('select[name="cp[]"]').change(function(){
            var the = $(this);
            var cp = $(this).children('option:selected').val();
            $.ajax({
                url : 'index.php?m=Home&c=SendMessage&a=gidSelectAjax&type=group&cp='+cp,
                type : 'get',
                success : function(data){
                    the.parent().next().html(data);
                }
            });
        });
    });
	
	
	$('select[name="cp"]').change(function(){
        var cp = $(this).children('option:selected').val();
        $.ajax({
            url : 'index.php?m=Home&c=Task&a=gidSelectAjax&cp='+cp+'&type=2',
            type : 'get',
            success : function(data){
                $('.gid_ajax').html(data); //&nbsp;&nbsp;&nbsp;<input type="button" class="ajax_sel3" id="get_package" onclick="return ajax_get_package();" value="获取包信息" />
            }
        });
    });

    $('select[name="country"]').change(function () {
        var cp = $(this).children('option:selected').val();
        $.ajax({
            url: 'index.php?m=Home&c=Task&a=searchKeywordIpTaskList&method=ajax&short_name=' + cp,
            type: 'get',
            success: function (data) {
                $('.table_gid_ajax').html(data);
            }
        });
    });
	
	
	function beforeSend(XMLHttpRequest){
		var top = ($(window).height())/2;
        var scrollTop = $(document).scrollTop();
		$(".load_div").css( { 'display' : 'block', 'top' : '200px', 'margin-left' : '300px'} ).show(); 
		
	}
	
	function ajax_get_keyword(){
		var package_name = $("select[name='package_name']").val();
		var package = package_name.split('##');
		var country = $("select[name='country']").val();	
		var country_arr = country.split('#');
		
		
		if(package_name == ''){
			alert('请选择应用！');
			return false;	
		}
		
		if(country == ''){
			alert('请选择国家！');
			return false;	
		}
		
		var keyword = $("input[name='keyword']").val();
		
		if(keyword == ''){
			alert('需要搜索的关键词不能为空！');
			return false;	
		}
		$('#get_keyword').attr('disabled',true);
		
		$.ajax({
            url: 'index.php?m=Home&c=Task&a=searchRank&method=ajax_get_search&game_id=' + package[0] + '&country=' + country_arr[0] + '&keyword=' + keyword,
            type: 'get',
			beforeSend:beforeSend, //发送请求 
            success: function (json) {
				$(".load_div").css({'display':'none'});
				
				if(json.status == 1){
					alert(json.info);
					$('#rank_div').html(json.data.rank);
				}else{
					alert(json.info);	
				}
				
				$('#get_keyword').attr('disabled',false);
            }
        });
	}
	
</script>