<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>ID</th><th>IP</th><th>用户名</th><th>密码</th><th>关键字</th><th>包名</th><th>状态码</th><th>时间</th>
    </tr>
    </thead>

    <tbody>
    <volist name="data" id="vo">
        <tr>
            <td><{$vo.id}></td>
            <td><{$vo.sid}></td>
            <td><{$vo.account_gmail}></td>
            <td><{$vo.account_password}></td>
            <td><{$keyword_list[$vo['search_key']]['keyword']}></td>
            <td><{$keyword_list[$vo['search_key']]['package_name']}></td>
            <td><{$vo.result_type}></td>
            <td><{:date('Y-m-d H:i:s', $vo['add_time'])}></td>
        </tr>
    </volist>
    </tbody>
</table>
<script>
    $(document).ready(function() {
        $('#example').dataTable({
            "aaSorting": [[ 1, "desc" ]],
            "aLengthMenu":[100,50,10],
            "oLanguage": {    // 语言设置
                "sLengthMenu": "每页显示 _MENU_ 条记录",
                "sZeroRecords": "抱歉， 没有找到",
                "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                "sInfoEmpty": "没有数据",
                "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                "sZeroRecords": "没有检索到数据",
                "sSearch": "检索:",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "前一页",
                    "sNext": "后一页",
                    "sLast": "尾页"
                }
            },
        });
    });
</script>