<form method="post" enctype="multipart/form-data" action="<{:U('Task/taskManager', array('method'=>'import'))}>">
    <ul>
        <li>
            <div class="l">导入文件：</div>
            <div class="r"><{$efile}></div>
        </li>
        <li>
            <div class="l"></div>
            <div class="r">
                <br><span>文件(csv格式 UTF8,全部为文本格式)：</span><br>
                <span>A列：TAG(手机TAG编号)</span><br>
                <span>B列：CP(填名称)</span><br>
                <span>C列：包名(英文包名)</span><br>
                <span>D列：任务标题(文本)</span><br>
                <span>E列：任务类型(填编号)</span><br>
                <span>F列：账号&商店归属(香港#zh_HK)</span><br>
                <span>G列：国家表名(true_account_fr)</span><br>
                <span>H列：优先级(填数字)</span><br>
                <span>I列：评论概率(范围0-1000)</span><br>
                <span>J列：评论操作(填编号)</span><br>
                <span>K列：评论星级概率(竖线分隔，和为100。例：20|30|50)</span><br>
                <span>L列：评论详情(标题内容用"||"分割，不同评论用"$$"分割。例：title||content$$title||content$$title||content)</span><br>
                <span>M列：备注</span><br>
                <span>N列：数量(填数字)</span><br>
                <span>O列：开始时间(2017-11-28 19:10:16)</span><br>
                <span>P列：结束时间(2017-11-28 19:10:16)</span><br>
                <span>Q列：关键词</span><br>
                <span>R列：是否平均(是/否)</span><br>
                <span>S列：评论起始id(文本：1)</span><br>
                <span>T列：语言(香港#zh_HK)</span><br>
            </div>
        </li>
        <li>
            <input name="submit" type="submit" value="确定">
        </li>
    </ul>
</form>