<form enctype="multipart/form-data" method="post" action="<{:U('Task/taskManager', array('method'=>'edit_one'))}>">
    <ul>
        <li>
            <div class="l">TAG：</div>
            <div class="r"><{$tag}></div>
        </li>
        <li>
            <div class="l">CP：</div>
            <div class="r"><{$cp}></div>
        </li>
        <li>
            <div class="l">包名：</div>
            <div class="r gid_ajax"><{$package_name}></div>
        </li>
        <li>
            <div class="l">任务标题：</div>
            <div class="r"><{$task_name}></div>
        </li>
        <li>
            <div class="l">任务类型：</div>
            <div class="r"><{$task_type}></div>
        </li>
        <li>
            <div class="l">账号&商店归属：</div>
            <div class="r"><{$country}></div>
        </li>
        <li>
            <div class="l">语言：</div>
            <div class="r"><{$language}></div>
        </li>
        <li>
            <div class="l">国家表名：</div>
            <div class="r table_gid_ajax"><{$table_name}></div>
        </li>
        <li>
            <div class="l">关键词：</div>
            <div class="r"><{$keyword}></div>
        </li>
        <li>
            <div class="l">数量：</div>
            <div class="r"><{$count}></div>
        </li>
        <li>
            <div class="l">开始时间：</div>
            <div class="r"><{$start}></div>
        </li>
        <li>
            <div class="l">结束时间：</div>
            <div class="r"><{$end}></div>
        </li>
        <li>
            <div class="l">是否平均：</div>
            <div class="r"><{$is_average}></div>
        </li>
        <li>
            <div class="l">优先级：</div>
            <div class="r"><{$score}></div>
        </li>
        <li>
            <div class="l">评论概率：</div>
            <div class="r"><{$comment_rate}></div>
            <div class="r"><span style="color:orange">（范围0-1000；只评星概率为10‰，评星并评论为1‰较为合适）</span></div>
        </li>
        <li>
            <div class="l">评论操作：</div>
            <div class="r"><{$comment_type}></div>
        </li>
        <li>
            <div class="l">评论星级概率：</div>
            <div class="r"><{$star}></div>
            <div class="r"><span style="color:orange">（竖线分隔，和为100。例：20|30|50）</span></div>
        </li>
        <li>
            <div class="l">评论详情：</div>
            <div class="r"><{$comment_detail}></div>
            <div class="r"><span style="color:orange">（标题内容用"||"分割，不同评论用"$$"分割。例：title||content$$title||content$$title||content）</span></div>
        </li>
        <li>
            <div class="l">评论起始id：</div>
            <div class="r"><{$comment_start_id}></div>
        </li>
        <li>
            <div class="l">回答问题条目概率：</div>
            <div class="r"><{$answer_amount}></div>
            <div class="r"><span style="color:orange">（竖线分隔，和为100。例：20|30|50  表示回答1个问题概率20%|2个问题概率30%|3个问题概率50%）</span></div>
        </li>
        <li>
            <div class="l">备注：</div>
            <div class="r"><{$remark}></div>
        </li>
        <input type="hidden" name="method" value="edit_one">
        <input type="hidden" name="id" value="<{$id}>">
        <li>
            <input type="submit" value="修改">
        </li>
    </ul>
</form>

<script type="text/javascript">
    $('select[name="cp"]').change(function(){
        var cp = $(this).children('option:selected').val();
        $.ajax({
            url : 'index.php?m=Home&c=Task&a=gidSelectAjax&cp='+cp+'&type=3',
            type : 'get',
            success : function(data){
                $('.gid_ajax').html(data);
            }
        });
    });

    $('select[name="country"]').change(function () {
        var cp = $(this).children('option:selected').val();
        $.ajax({
            url: 'index.php?m=Home&c=Task&a=searchKeywordIpTaskList&method=ajax&short_name=' + cp,
            type: 'get',
            success: function (data) {
                $('.table_gid_ajax').html(data);
            }
        });
    });
</script>