<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<meta name="description" content="">
<meta name="keywords" content="">
<link type="text/css" href="/shop/Public/Common/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/shop/Public/Common/css/base.css">
<link rel="stylesheet" type="text/css" href="/shop/Public/Home/css/home.css">
<script type="text/javascript" src="/shop/Public/Common/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/shop/Public/Common/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/shop/Public/Home/js/base.js"></script>
<script type="text/javascript" src="/shop/Public/Home/js/function.js"></script>
<script type="text/javascript" src="/shop/Public/Home/js/server.js"></script>
<title>萌女郎</title>
</head>
<body>

{include file="Public/header.html"}

<div class="container">
	<div class="left">
	
		{include file="Public/search.html"}			
		
		{include file="Public/category.html"}
		
		<div class="cart">
			<h4>购物车</h4>
			<div class="bd">
				<div class="product_num">
					购物车产品数： {cookie('total_num')}
				</div>			
				<div class="total_price">
					总价： {cookie('total_price')} $
				</div>			
				<div class="detail">
					<a href="index.php?m=Home&c=Cart&a=index">查看购物车</a>
				</div>
			</div>
		</div>	
	</div>
	<div class="main">
		<h5 class="breadcrumb"><a href="index.php">首页</a>-<a href="index.php?m=Home&c=Login&a=register">注册</a></h5>
		<div class="register">
			<h5>用户注册</h5>
			<form class="form-horizontal" method="post" name="register">
				<table>
					<tr>
						<td>验证码<font color="#f00">*</font>：</td>
						<td>
							<input class="form-control" placeholder="请输入验证码" type="text" name="code" />
							<img src="index.php?m=Home&c=Login&a=code" />
						</td>
					</tr>					
					<tr>
						<td>用户名<font color="#f00">*</font>：</td>
						<td><input class="form-control" placeholder="请输入用户名" type="text" name="username" /></td>
					</tr>
					<tr>
						<td>密码<font color="#f00">*</font>：</td>
						<td><input class="form-control" placeholder="请输入密码" type="password" name="password" /></td>
					</tr>
					<tr>
						<td>重新输入密码<font color="#f00">*</font>：</td>
						<td><input class="form-control" placeholder="请输入确认密码" type="password" name="password2" /></td>
					</tr>
					<tr>
						<td>邮箱地址<font color="#f00">*</font>：</td>
						<td><input class="form-control" placeholder="请输入邮箱" type="text" name="email" /></td>
					</tr>
					<tr>
						<td>性别：</td>
						<td>
							<input type="radio" name="sex" value="1" checked />男
							<input type="radio" name="sex" value="2" />女
						</td>
					</tr>
					<tr>
						<td></td>
						<td style="text-align:center;"><button onclick="user_register()" type="button" class="btn btn-default">注册</button></td>
					</tr>
				</table>
			</form>
		</div>		
	</div>
</div>

{include file="Public/footer.html"}

</body>
</html>