body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, b, small, u, i, center, dl, dt, dd, ol, ul, li,  sub, sup, tt, var, del, dfn,  ins, kbd, q, s, samp,  strike, applet, object, iframe, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, blockquote, pre, a, abbr, acronym, address, big, cite, code, mark, audio, video, input, textarea, select { margin:0; padding:0;}
ul,ol{list-style:none;}
em { font-style: normal; }
dt { font-weight: normal; }

/* HTML5 重置为较旧版本的浏览器 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block;}
blockquote, q{ quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
table { border-collapse: collapse; border-spacing: 0; }
.adv { margin-top: 0px; padding-top: 0px;}

/* 按钮样式 */
input, button, textarea, select { outline:none; resize:none}
input[type="button"]{cursor:pointer; border:0}
input[type="submit"]{cursor:pointer; border:0}
input[type="reset"]{cursor:pointer; border:0}

/*删除火狐下按钮默认样式*/
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{ border:none; padding:0; }

/*浮动*/
.fl { float: left !important;}
.fr { float: right !important;}
.clear{display:block;height:0;overflow:hidden;clear:both;}
.clearfix:after{content:'\20';display:block;height:0;clear:both;}
.clearfix{zoom:1;}html{overflow-y:scroll;}

/*a 链接*/
a { text-decoration:none; color:#333; outline:none; blr:expression(this.onFocus=this.blur()); }
a:link { color:#333; }
a:visited { color:#333; }
a:hover, a:active, a:focus {color:#f60; text-decoration:none; }

/*图片居中*/
.middle { display:table-cell; *display:block; overflow:hidden; font:0px/0px 'Arial'; text-align:center; vertical-align:middle;}
fieldset, img { border:0; vertical-align:middle}

/*常量*/
.hide{display:none !important; }
.show{display:block !important; }
.invisible{visibility:hidden;}
.noBg{background:none !important;}
.noBd{border:none !important;}
.noMargin{margin:0 !important;}
.noPadding{padding:0 !important;}

/* common */
body { overflow-x:hidden; -webkit-text-size-adjust:none; font-family: Microsoft YaHei,Arial; color:#333; font-size:12px; }

.myHide{ display:none; }

.dtree{ padding:2px 3px; }
.dtree .switch{ cursor:pointer; }
.dtree dl{ }
.dtree dl dt{ height:18px; line-height:18px; }

/*page*/
.page{ padding:20px 0px; text-align:center; }
.page a,.page span{ display:inline-block; margin-right:10px; padding:2px 12px; border:1px #ccc solid; background:#fff; color:#808080; font-size:12px; line-height:24px; }
.page a:hover{ color:#077ee3; background:#fff; border:1px #077ee3 solid; }
.page span.current{ border:none; background:#077ee3; color:#fff; }

form[name='search']{ margin:10px 0; }
form[name='search'] table{ width:100%; }
form[name='search'] table td{}
form[name='search'] table td input{ display:inline-block; width:75%; }
form[name='search'] table td select{ display:inline-block; width:75%; }

.stable{ width:100%; }    
.stable th{ border:1px solid #eee; background:#cecece; line-height:22px; text-align:center; }
.stable tr:hover td{ background:#fbfdbd; }
.stable td{ background:#e3e3e3; border:1px solid #eee; text-align:center; line-height:24px; }
.stable td.toolbar{ text-align:center !important; }

.sub_tool{ padding:5px 0px; }
.sub_tool a{ display:inline-block; padding:2px 6px; border:1px solid #C9E3F0; }
.sub_tool select{ display:inline-block; width:20%; }

.top_tool{ padding:5px 0px; }
.top_tool a{ display:inline-block; padding:2px 6px; border:1px solid #C9E3F0; }
