<!doctype html>
<html>
<head>
<meta http-equiv='content-type' content='text/html;charset=utf-8' />
<meta name='description' content=''>
<meta name='keywords' content=''>
<link type="text/css" href="Public/css/bootstrap.min.css" rel="stylesheet">
<link rel='stylesheet' type='text/css' href='Public/css/base.css' />
<link rel='stylesheet' type='text/css' href='Public/css/admin.css' />
<script type="text/javascript" src="Public/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="Public/js/admin.js"></script>
<title>网站后台管理系统</title>
</head>
<body>

{include file="Public/header.html"}

<table width="100%" class="tablemain">
	<tr>
		<td valign="top" width="182">
		
			{include file="Public/left.html"}
			
		</td>
		<td valign="top">
				<div class="skin_set main">
					<div class="hd"><b>网站界面风格设置</b></div>
					<form class="bd" method="post" action="" name="skin_set">
						<input type="hidden" name="action" value="modify" />
						<table>
							<tr>
								<td><font color="#f00">*</font>网站模板：</td>
								<td>
									<select class="form-control" name="web_skin_user">
										<option value="">请选择模板</option>
									<?php
									foreach($skin_list as $key=>$val){
									?>
									<option value="<?php echo $val['skin_file']; ?>"><?php echo $val['skin_name']; ?></option>
									<?php
									}
									?>
									</select><a class="mbgl" href="">管理模板</a>
								</td>
							</tr>
							<tr>
								<td>在线交流样式：</td>
								<td>
									<input type="radio" name="web_online_type" value="" />固定于页面中
									<input type="radio" name="web_online_type" value="" />居左随屏幕滚动
									<input type="radio" name="web_online_type" value="" />关闭
								</td>
							</tr>
							<tr>
								<td><font color="#f00">*</font>产品列表页面：</td>
								<td>每页显示<input class="form-control"  type="text" name="web_product_list" value="" />条</td>
							</tr>
							<tr>
								<td><font color="#f00">*</font>新闻列表页面：</td>
								<td>每页显示<input class="form-control" type="text" name="web_news_list" value="" />条</td>
							</tr>
							<tr>
								<td><font color="#f00">*</font>下载列表页面：</td>
								<td>每页显示<input class="form-control" type="text" name="web_download_list" value="" />条</td>
							</tr>
							<tr>
								<td><font color="#f00">*</font>图片列表页面：</td>
								<td>每页显示<input class="form-control" type="text" name="web_img_list" value="" />条</td>
							</tr>
							<tr>
								<td><font color="#f00">*</font>招聘列表页面：</td>
								<td>每页显示<input class="form-control" type="text" name="web_job_list" value="" />条</td>
							</tr>
							<tr>
								<td><font color="#f00">*</font>搜索列表页面：</td>
								<td>每页显示<input class="form-control" type="text" name="web_search_list" value="" />条</td>
							</tr>
							<tr>
								<td width="180"></td>
								<td style="text-align:center;">
									<button type="submit" class="btn btn-default">提 交</button>
									<button type="reset" class="btn btn-default">重 置</button>
								</td>
							</tr>				
						</table>
					</form>
				</div>
		</td>
	</tr>
</table>

{include file="Public/footer.html"}

</body>
</html>










