<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>主要内容区main</title>
<link href="Public/Admin/css/base.css" rel="stylesheet" type="text/css" />
<link href="Public/Admin/css/style.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="Public/Common/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="Public/Admin/js/check.js"></script>
</head>
<body>
<div class="main">
	<div class="breadcrumbs">
		<div class="breadcrumb">您的位置：题目管理&nbsp;&nbsp;>&nbsp;&nbsp;题目编辑</div>
	</div>
	<form name="question" method="post" action="index.php?m=Admin&c=QuestionManage&a=qlist&method=edit&id={$result_arr['question']['id']}" onsubmit="return check_question();">
		<table width="100%" class="main-tab qadd">
			<tr>
				<td align="right">题目序号：</td>
				<td class="main-for"><input class="text-word" type="text" name="no_order" placeholder="题目序号" value="{$result_arr['question']['no_order']}" /></td>
			</tr>		
			<tr>
				<td align="right">题目标题：</td>
				<td class="main-for"><input class="text-word" type="text" name="title" placeholder="题目标题" value="{$result_arr['question']['title']}" /></td>
			</tr>
			<tr>
				<td align="right">题目套数：</td>
				<td class="main-for">
					<select name="set_id">
						<option value="">请选择题目的套数</option>
						<option value="1" {if $result_arr['question']['set_id'] eq 1}selected{/if}>第一套</option>
						<option value="2" {if $result_arr['question']['set_id'] eq 2}selected{/if}>第二套</option>
					</select>
				</td>
			</tr>			
			<tr>
				<td align="right">锁定：</td>
				<td>&nbsp;&nbsp;
					<input {if $result_arr['question']['status'] eq 1}checked="checked"{/if} type="radio" name="status" value="1" />是 
					<input {if $result_arr['question']['status'] eq 0}checked="checked"{/if} type="radio" name="status" value="0" />否 
				</td>
			</tr>				
			<tr>
				<td align="right">题目内容：</td>
				<td>
					<textarea name="content">{$result_arr['question']['content']}</textarea>
					<script type="text/javascript">
						CKEDITOR.replace('content');
					</script>
				</td>
			</tr>					
			<tr>
				<td align="right">题目答案：</td>
				<td>
					<textarea name="answers">{$result_arr['question']['answers']}</textarea>
				</td>
			</tr>						
			<tr>
				<td align="right">正确答案：</td>
				<td class="main-for"><input class="text-word" type="text" name="correct" placeholder="正确答案" value="{$result_arr['question']['correct']}" /></td>
			</tr>						
			<tr>
				<td align="right">&nbsp;</td>
				<td align="left" class="main-for">
					<input name="sub" type="submit" value="提交" class="text-but">
					<input name="res" type="reset" value="重置" class="text-but">
				</td>
			</tr>
		</table>
	</form>
</body>
</html>