<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>主要内容区main</title>
<link href="Public/Admin/css/base.css" rel="stylesheet" type="text/css" />
<link href="Public/Admin/css/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
<div class="main">
	<div class="breadcrumbs">
		<div class="breadcrumb">您的位置：题目管理&nbsp;&nbsp;>&nbsp;&nbsp;题目列表</div>
	</div>
    <div class="search clearfix">
		<form method="post" action="" class="fl">
			<span>关键字：</span>
			<input type="text" name="" value="" class="text-word">
			<input name="" type="button" value="查询" class="text-but">
		</form>
		<p class="fr"><a href="index.php?m=Admin&c=QuestionManage&a=qadd&set_id={$result_arr['set_id']}" target="mainFrame" class="add">新增题目</a></p>
	</div>
    <table width="100%" class="main-tab qlist">
		<tr>
			<th></th>
			<th>ID</th>
			<th>编号</th>
			<th>标题</th>
			<th>试题类别</th>
			<th>创建时间</th>
			<th>锁定</th>
			<th>操作</th>
		</tr>
		{foreach from=$result_arr['questions'] key=key item=item}	
		<tr>
			<td width="4%"><input type="checkbox" /></td>
			<td>{$item['id']}</td>
			<td>{$item['no_order']}</td>
			<td width="35%" style="text-align:left;">{msubstr($item['title'],0,32)}</td>
			<td>第{$item['set_id']}套</td>
			<td>{date('Y-m-d H:i:s',$item['addtime'])}</td>
			<td>
				{if $item['status'] eq 1}已锁定{/if}
				{if $item['status'] eq 0}未锁定{/if}
			</td>
			<td>
				<a href="index.php?m=Admin&c=QuestionManage&a=qlist&method=edit&id={$item['id']}" target="mainFrame">编辑</a>
				<span class="gray">&nbsp;|&nbsp;</span>
				<a href="javascript:check_del('index.php?m=Admin&c=QuestionManage&a=qlist&method=del&id={$item['id']}')" target="mainFrame">删除</a>
			</td>
		</tr>
		{/foreach}
    </table>
	<script type="text/javascript">  
		function check_del(url){  
			var mymessage=confirm("确认要删除该条记录吗？");  
			if(mymessage==true){  
				location.href=url;
			} 
		}  
	</script>
	<div class="pages">
		11 条数据 1/1 页&nbsp;&nbsp;
		<a href="#" target="mainFrame" onFocus="this.blur()">首页</a>&nbsp;&nbsp;
		<a href="#" target="mainFrame" onFocus="this.blur()">上一页</a>&nbsp;&nbsp;
		<a href="#" target="mainFrame" onFocus="this.blur()">下一页</a>&nbsp;&nbsp;
		<a href="#" target="mainFrame" onFocus="this.blur()">尾页</a>
	</div>
</body>
</html>