<form method="post" action="<{$url}>">
    <table>
        <tr>
            <td>任务id：<{$task_id}></td>
            <td>开始时间：<{$start}></td>
            <td>结束时间：<{$end}></td>
            <td>关键字：<{$keyword}></td>
            <td style="text-align: left" colspan="2"><input type="submit" value="查询" ></td>
        </tr>
    </table>
</form>

<span>成功数：<b style="color: red"><{$census_data.success_count}></b></span>&nbsp;&nbsp;&nbsp;&nbsp;
<span>下发数：<b style="color: red"><{$census_data.issued_count}></b></span>&nbsp;&nbsp;&nbsp;&nbsp;
<span>提交数：<b style="color: red"><{$census_data.submit_count}></b></span>&nbsp;&nbsp;&nbsp;&nbsp;
<span>成功率：<b style="color: red"><{$census_data.success_rate}></b></span>&nbsp;&nbsp;&nbsp;&nbsp;
<span>提交率：<b style="color: red"><{$census_data.submit_rate}></b></span>&nbsp;&nbsp;&nbsp;&nbsp;

<div class="clear"></div>
<table>
    <tr><th>状态码</th><th>数量</th><th>占比</th></tr>
    <volist name="total" id="vo1">
        <tr>
            <td><{$vo1.name}></td>
            <td><{$vo1.count}></td>
            <td><{$vo1.rate}></td>
        </tr>
    </volist>
</table>
<div class="clear"></div>
<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>任务id</th>
        <th>任务关键字</th>
        <th>任务包名</th>
        <th>国家</th>
        <th>任务类型</th>
        <th>下发数</th>
        <th>提交数</th>
        <th>未提交数</th>
        <th>成功(1)</th>
        <th>UNKNOWN("Unknown")(0)</th>
        <th>FAIL("UnknownError")(2)</th>
        <th>FAIL_400("ErrorCode400")(3)</th>
        <th>FAIL_500("ErrorCode500")(4)</th>
        <th>FAIL_403("ErrorInputStream403")(5)</th>
        <th>FAIL_401("ErrorInputStream401")(6)</th>
        <th>NETWORK_ERROR("NetworkError")(7)</th>
        <th>NOT_COMPATIBLE("NotCompatible")(8)</th>
        <th>成功数占比</th>
        <th>开始时间</th>
        <th>结束时间</th>
        <th>时间段成功统计</th>
    </tr>
    </thead>
    <tbody>
    <volist name="result" id="vo">
        <tr>
        	<?php
                $appannieUrl = ''; 
                $appannieUrl = 'https://www.appannie.com/apps/google-play/app/' . $vo['package_name'] . '/keywords/?countries=HK&device=&start_date=' . date('Y-m-d',strtotime(date('Y-m-d', $search_task_list[$vo['search_key']]['start']))-7*86400) . '&end_date=' . date('Y-m-d', time() - 2*86400);
            ?>
        
            <td><{$vo.task_id}></td>
            <td><a target="_blank" href="<{$appannieUrl}>"><{$vo.task_name}></a></td>
            <td><a target="_blank" href="<{$appannieUrl}>"><{$vo.package_name}></a></td>
            <td><{$vo.country}></td>
            <td><{$task_type_list[$vo['task_type']]}></td>
            <td><{$vo.issued_count}></td>
            <td><{$vo.submit_count}></td>
            <td><b style="color:blue"><?php echo ($vo['issued_count']-$vo['submit_count']); ?></b></td>
            <td><b style="color:red"><{$vo.1}><b/></td>
            <td><{$vo.0}></td>
            <td><{$vo.2}></td>
            <td><{$vo.3}></td>
            <td><{$vo.4}></td>
            <td><{$vo.5}></td>
            <td><{$vo.6}></td>
            <td><{$vo.7}></td>
            <td><{$vo.8}></td>
            <td><{$vo.rate}></td>
            <td><?php echo date('Y-m-d H:i:s', $task_time_list[$vo['task_id']]['start']); ?></td>
            <td><?php echo date('Y-m-d H:i:s',  $task_time_list[$vo['task_id']]['end']); ?></td>
            <td>
            	<volist name="task_slot_list[$vo['task_id']]" id="count">
                	[<{$count['time']}>]成功数：<{$count['t']}>;&nbsp;&nbsp;
                </volist>
            </td>
        </tr>
    </volist>
    </tbody>
</table>
<script>
    $(document).ready(function() {
        $('#example').dataTable({
            "aoColumnDefs": [ { "bSortable": false, "aTargets": [ 0 ] }],
            "aaSorting": [[ 0, "desc" ]],
            "aLengthMenu":[300,200,100],
            "oLanguage": {    // 语言设置
                "sLengthMenu": "每页显示 _MENU_ 条记录",
                "sZeroRecords": "抱歉， 没有找到",
                "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                "sInfoEmpty": "没有数据",
                "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                "sZeroRecords": "没有检索到数据",
                "sSearch": "检索:",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "前一页",
                    "sNext": "后一页",
                    "sLast": "尾页"
                }
            },
        });
    });
</script>