<form method="post" action="http://36.7.151.221:8086/index.php?m=Home&c=Total&a=appfigures_graph_S">
    <table>
        <tr>
            <td>
				<span id="countryList">国家：<{$country}></span>
				<br/>
				<input type="checkbox" id="selectAll" />全选 
				<input type="checkbox" id="unSelect" />全不选 
				<input type="checkbox" id="reverse" />反选
			</td>
            <td>开始日期：<{$start}></td>
			<td>结束日期：<{$end}></td>
			<td>包名：<{$package_name}></td>
			<td>游戏id：<{$game_id}></td>
            <td style="text-align: left" colspan="2"><input type="submit" value="确认" ></td>
        </tr>
    </table>
</form>
<script type="text/javascript" src="js/highcharts.js"></script>
<script type="text/javascript" src="js/exporting.js"></script>
<script type="text/javascript" src="js/oldie.js"></script>
<script type="text/javascript" src="js/highcharts-zh_CN.js"></script>
<script type="text/javascript" src="js/appfigures.js"></script>
<div id="container" style="min-width:400px;height:800px"></div>
<script type="text/javascript">
var chart = Highcharts.chart('container', {
    chart: {
        type: 'spline'
    },
    title: {
        text: '成功数'
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        categories: [<{$dates}>]
    },
    yAxis: {	
        title: {
            text: 'num'
        },
        labels: {
            formatter: function () {
                return this.value;
            }
        }
    },
    tooltip: {
        crosshairs: true,
        shared: true
    },
    plotOptions: {
        spline: {
            marker: {
                radius: 4,
                lineColor: '#666666',
                lineWidth: 1
            }
        }
    },
    series: [<{$series}>]
});
</script>
<table>
    <tr>
		<th>序号</th>
		<th>包名</th>
		<th>日期</th>
		<th>国家</th>
		<th>成功量</th>
		<th>类型</th>
		</tr>
   <volist name="result_arr_format" id="val">
        <tr>
			<td><{$val.sort_num}></td>
			<td><{$val.package_name}></td>
            <td><{$val.date_name}></td>
            <td><{$val.country}></td>
            <td><{$val.success}></td>
            <td><{$val.task_type}></td>
        </tr>
    </volist>
</table>
<script>
    $(document).ready(function() {
        $('#example').dataTable({
            "aoColumnDefs": [ { "bSortable": false, "aTargets": [ 0 ] }],
            "aaSorting": [[ 4, "desc" ]],
            "aLengthMenu":[300,200,100],
            "oLanguage": {    // 语言设置
                "sLengthMenu": "每页显示 _MENU_ 条记录",
                "sZeroRecords": "抱歉， 没有找到",
                "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                "sInfoEmpty": "没有数据",
                "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                "sZeroRecords": "没有检索到数据",
                "sSearch": "检索:",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "前一页",
                    "sNext": "后一页",
                    "sLast": "尾页"
                }
            },
        });
    });
</script>