<table>
    <tr><th>keyword</th><th>kei</th><th>competition</th><th>results</th><th>volume</th><th>返回</th></tr>

        <tr>
            <td><{$result_obj->keyword}></td>
            <td><{$result_obj->kei}></td>
            <td><{$result_obj->competition}></td>
            <td><{$result_obj->results}></td>
            <td><{$result_obj->volume}></td>
			<td><a href="javascript:history.back()">返回</a></td>
        </tr>
		<{$result_arr["msg"]}>
</table>

<script>
    $(document).ready(function() {
        $('#example').dataTable({
            "aoColumnDefs": [ { "bSortable": false, "aTargets": [ 0 ] }],
            "aaSorting": [[ 4, "desc" ]],
            "aLengthMenu":[300,200,100],
            "oLanguage": {    // 语言设置
                "sLengthMenu": "每页显示 _MENU_ 条记录",
                "sZeroRecords": "抱歉， 没有找到",
                "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                "sInfoEmpty": "没有数据",
                "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                "sZeroRecords": "没有检索到数据",
                "sSearch": "检索:",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "前一页",
                    "sNext": "后一页",
                    "sLast": "尾页"
                }
            },
        });
    });
</script>