<form method="post" action="<{$url}>">
    <table>
        <tr>
            <td>开始时间：<{$start}></td>
            <td>结束时间：<{$end}></td>
			<td>包名：<{$package_name}></td>
            <td style="text-align: left" colspan="2"><input type="submit" value="查询" ></td>
        </tr>
    </table>
</form>

<table>
    <tr><th>sort_num</th><th>ranking</th><th>count</th><th>word</th><th>change_num</th><th>详细信息</th></tr>
    <volist name="result_arr" id="val">
        <tr>
            <td><{$val->sort_num}></td>
            <td><{$val->ranking}></td>
            <td><{$val->count}></td>
            <td><{$val->word}></td>
            <td><{$val->change}></td>
            <td><a href="http://36.7.151.221:8086/index.php?m=Home&c=Total&a=getKeywords&method=detail&keyword=<{$val->word}>&package_name=<{$result_arr['package_name']}>">查看详细</a></td>
        </tr>
    </volist>
	<{$result_arr["msg"]}>
</table>

<script>
    $(document).ready(function() {
        $('#example').dataTable({
            "aoColumnDefs": [ { "bSortable": false, "aTargets": [ 0 ] }],
            "aaSorting": [[ 4, "desc" ]],
            "aLengthMenu":[300,200,100],
            "oLanguage": {    // 语言设置
                "sLengthMenu": "每页显示 _MENU_ 条记录",
                "sZeroRecords": "抱歉， 没有找到",
                "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                "sInfoEmpty": "没有数据",
                "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                "sZeroRecords": "没有检索到数据",
                "sSearch": "检索:",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "前一页",
                    "sNext": "后一页",
                    "sLast": "尾页"
                }
            },
        });
    });
</script>