<!doctype html>
<html>
<head>
<title>巢湖市槐林中学--oa管理系统</title>
<link type="text/css" href="Public/css/bootstrap.min.css" rel="stylesheet">
<link type="text/css" href="Public/css/admin.css" rel="stylesheet">
<script type="text/javascript" src="Public/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="Public/js/base.js"></script>
</head> 
<body>

{include file="Public/header.html"}

<div class="home_container clearfix">

	{include file="Public/left.html"}
	
	<div class="home_right">
		<div class="main clearfix">
			<div class="breadcrumb" style="margin:0;"><a>教务管理 >> 演示实验室登记</a></div>
			<div class="checkin">	
				<div class="wrap">
					<p>&nbsp;</p>
					<div class="c_hd clearfix">
						<font color="#3C7B3B">{ 分组实验登记系统 }</font> 	
						当前用户：{cookie('realname')} <a href="">首页</a> | <a href="">预定</a> | <a href="">今日预定</a> | <a href="">我的预定</a> | <a href="">管 理</a>  
					</div>
					<div class="c_bd">
						<div class="sub_items">
							<b>当前位置：首页</b>
							<a href="">全部</a> | <a href="">申请</a> | <a href="">准备</a> | <a href="">使用</a> | <a href="">归还</a>  
						</div>
						<table>
							<tr>
								<th>年级</th>
								<th>领用人</th>
								<th>章节 实验名称 器材</th>
								<th>状态</th>
								<th>操作时间</th>
								<th>操作</th>
							</tr>
							{foreach from=$result_arr key=key item=item}
								<tr>
									<td>{$item['grade']}</td>
									<td>{$item['realname']}</td>
									<td style="text-align:left;">{$item['nonum']} {$item['title']}{$item['content']}</td>
									<td>{$item['state']}</td>
									<td>{date('Y/m/d',$item['intime'])}</td>
									<td><a href="">编辑</a> | <a href="">管理</a></td>
								</tr>
							{/foreach}
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{include file="Public/footer.html"}

</body>
</html>










