<div class="top">	
	<img src="Public/images/index_top.gif" usemap="#Map">
</div>
<map name="Map">
	<area shape="rect" coords="187,28,275,52" href="index.php?m=Admin&c=Index&a=index">
	<area shape="rect" coords="294,29,378,51" href="index.php?m=Admin&c=Subject&a=index">
	<area shape="rect" coords="405,29,491,51" href="index.php?m=Admin&c=Question&a=index&method=add">
	<area shape="rect" coords="516,28,604,49" href="index.php?m=Admin&c=Question&a=index">
	<area shape="rect" coords="724,172,785,196" href="index.php?m=Admin&c=Login&a=logout">
	<area shape="rect" coords="638,176,698,194" href="index.php">
	<area shape="rect" coords="528,176,608,194" href="index.php?m=Admin&c=Admin&a=index">
</map>