<!doctype html>
<html>
<head>
<title>巢湖市槐林中学--oa管理系统</title>
<link type="text/css" href="Public/css/bootstrap.min.css" rel="stylesheet">
<link type="text/css" href="Public/css/admin.css" rel="stylesheet">
<script type="text/javascript" src="Public/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="Public/js/base.js"></script>
</head> 
<body>

{include file="Public/header.html"}

<div class="home_container clearfix">

	{include file="Public/left.html"}
	
	<div class="home_right">
		<div class="main clearfix">
			<div class="breadcrumb">
				<a href="index.php?m=Home&c=Index&a=index">我的桌面</a>
			</div>
			<div class="main_left fl">
				<div class="aArea">
					<div class="hd">今日信息</div>
					<div class="bd">今日无信息</div>
				</div>	
				<div class="bArea">
					<div class="hd">
						<span class="current">行政通知</span>
						<span>工作安排</span>
						<span>资料下载</span>
						<span>会议通知</span>
					</div>
					<div class="bd">暂无</div>
				</div>	
				<div class="cArea">
					<div class="hd">公病事假<span class="red">(今日)</span></div>
					<div class="bd">
						<table>
							<tr>
								<td>类型</td>
								<td>请假者</td>
								<td>原因</td>
								<td>开始日期</td>
								<td>结束日期</td>
							</tr>
						</table>
					</div>
				</div>	
				<div class="dArea">
					<div class="hd">多媒体教室预定<span class="red">(今日)</span></div>
					<div class="bd">
						<table>
							<tr>
								<td>教室</td>
								<td>班级</td>
								<td>公共教室</td>
								<td>课次</td>
							</tr>
						</table>
					</div>
				</div>				
				<div class="eArea">
					<div class="hd">实验室教室预定<span class="red">(今日)</span></div>
					<div class="bd">
						<table>
							<tr>
								<td>教室</td>
								<td>班级</td>
								<td>公共教室</td>
								<td>课次</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="main_right fr">
				<div class="fArea">
					<div class="hd">气象预报</div>
					<div class="bd">今日无信息</div>
				</div>	
				<div class="gArea">
					<div class="hd">今日事务</div>
					<div class="bd">今日无信息</div>
				</div>
				<div class="hArea">
					<div class="hd">代办提醒</div>
					<div class="bd">今日无信息</div>
				</div>					
			</div>
		</div>
	</div>
</div>

{include file="Public/footer.html"}

</body>
</html>