<!doctype html>
<html>
<head>
<meta http-equiv='content-type' content='text/html;charset=utf-8' />
<meta name='description' content=''>
<meta name='keywords' content=''>
<link rel="stylesheet" type="text/css" href="/shop/Public/Common/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/shop/Public/Common/css/base.css" />
<link rel="stylesheet" type="text/css" href="/shop/Public/Admin/css/admin.css" />
<script type="text/javascript" src="/shop/Public/Common/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/shop/Public/Common/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/shop/Public/Common/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/shop/Public/Admin/js/base.js"></script>
<script type="text/javascript" src="/shop/Public/Admin/js/function.js"></script>
<script type="text/javascript" src="/shop/Public/Admin/js/server.js"></script>
<title>商城后台管理</title>
</head>
<body>

{include file="Public/header.html"}

<div class="main_container clearfix">
	
	{include file="Public/left.html"}
	
	<div class="main fr">
		<div class="config">
			<table class="stable">
				<tr>
					<td></td>
					<td></td>
				</tr>				
				<tr>
					<td><b>系统：</b></td>
					<td></td>
				</tr>				
				<tr>
					<td>网站地址：</td>
					<td><input placeholder="网站地址" class="form-control" name="" type="text" /></td>
				</tr>				
				<tr>
					<td>邮件地址：</td>
					<td><input placeholder="邮件地址" class="form-control" name="" type="text" /></td>
				</tr>				
				<tr>
					<td><b>编辑器：</b></td>
					<td></td>
				</tr>				
				<tr>
					<td>编辑器宽度：</td>
					<td><input placeholder="编辑器宽度" class="form-control" name="" type="text" /></td>
				</tr>				
				<tr>
					<td>编辑器高度：</td>
					<td><input placeholder="编辑器高度" class="form-control" name="" type="text" /></td>
				</tr>
				<tr>
					<td><b>用户：</b></td>
					<td></td>
				</tr>				
				<tr>
					<td>用户小图片宽度：</td>
					<td><input placeholder="用户小图片宽度" class="form-control" name="" type="text" /></td>
				</tr>				
				<tr>
					<td>用户小图片高度：</td>
					<td><input placeholder="用户小图片高度" class="form-control" name="" type="text" /></td>
				</tr>
				<tr>
					<td><b>菜单：</b></td>
					<td></td>
				</tr>				
				<tr>
					<td>菜单小图片宽度：</td>
					<td><input placeholder="菜单小图片宽度" class="form-control" name="" type="text" /></td>
				</tr>				
				<tr>
					<td>菜单小图片高度：</td>
					<td><input placeholder="菜单小图片高度" class="form-control" name="" type="text" /></td>
				</tr>
				<tr>
					<td><b>产品：</b></td>
					<td></td>
				</tr>				
				<tr>
					<td>货币服务：</td>
					<td>
						<select class="form-control" name="">
							<option></option>
						</select>
					</td>
				</tr>				
				<tr>
					<td>产品图片宽度：</td>
					<td><input placeholder="产品图片宽度" class="form-control" name="" type="text" /></td>
				</tr>
				<tr>
					<td>产品图片高度：</td>
					<td><input placeholder="产品图片高度" class="form-control" name="" type="text" /></td>
				</tr>		
				<tr>
					<td>产品小图片宽度：</td>
					<td><input placeholder="产品小图片宽度" class="form-control" name="" type="text" /></td>
				</tr>
				<tr>
					<td>产品小图片高度：</td>
					<td><input placeholder="产品小图片高度" class="form-control" name="" type="text" /></td>
				</tr>
				<tr>
					<td>翻页每页显示条数：</td>
					<td><input placeholder="翻页每页显示条数" class="form-control" name="" type="text" /></td>
				</tr>
				<tr>
					<td>上传文件大小：</td>
					<td><input placeholder="上传文件大小" class="form-control" name="" type="text" /></td>
				</tr>
				<tr>
					<td><b>模块：</b></td>
					<td></td>
				</tr>				
				<tr>
					<td>模块显示条数：</td>
					<td><input placeholder="模块显示条数" class="form-control" name="" type="text" /></td>
				</tr>
				<tr>
					<td></td>
					<td><button type="button" onclick="" class="btn btn-default">Submit</button></td>
				</tr>
			</table>
		</div>
	</div>
</div>
</body>
</html>










