<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<meta name="description" content="">
<meta name="keywords" content="">
<link type="text/css" href="/shop/Public/Common/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/shop/Public/Common/css/base.css">
<link rel="stylesheet" type="text/css" href="/shop/Public/Home/css/home.css">
<script type="text/javascript" src="/shop/Public/Common/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/shop/Public/Common/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/shop/Public/Home/js/base.js"></script>
<script type="text/javascript" src="/shop/Public/Home/js/server.js"></script>
<title>萌女郎</title>
</head>
<body>

{include file="Public/header.html"}

<div class="container">
	<div class="left">
		
		{include file="Public/search.html"}		

		{include file="Public/category.html"}
		
		<div class="cart">
			<h4>购物车</h4>
			<div class="bd">
				<div class="product_num">
					购物车产品数： {cookie('total_num')}
				</div>			
				<div class="total_price">
					总价： {cookie('total_price')} $
				</div>			
				<div class="detail">
					<a href="index.php?m=Home&c=Cart&a=index">查看购物车</a>
				</div>
			</div>
		</div>	
	</div>
	<div class="iproduct">
		<h5 class="breadcrumb">
			<a href="index.php">首页</a> -
			{if $result_arr['category']['parent']}
			<a href="index.php?m=Home&c=Product&a=index&category={$result_arr['category']['parent']['id']}">{$result_arr['category']['parent']['name']}</a> -
			{/if}
			<a href="index.php?m=Home&c=Product&a=index&pid={$result_arr['category']['pid']}category={$result_arr['category']['id']}">{$result_arr['category']['name']}</a>
		</h5>
		<div class="bd">
			<table width="100%">
				<tr>
					<td width="210"><img src="/shop/Public/Home/images/{$result_arr['product']['picture']}" width="210" /></td>
					<td class="para">
						<p><b>产品分类：</b>{$result_arr['category']['name']}</p>
						<p><b>产品名称：</b>{$result_arr['product']['name']}</p>
						<p><b>市场价格：</b>{$result_arr['product']['market_price']}</p>
						<p><b>当前价格：</b>{$result_arr['product']['price']}</p>
						<p class="addcart"><button type="button" class="btn btn-default" onclick="addCart({$result_arr['product']['id']})">添加到购物车</button></p>
					</td>
				</tr>
			</table>
			<div class="content">{$result_arr['product']['content']}</div>
		</div>
	</div>			
</div>

{include file="Public/footer.html"}

</body>
</html>