<form enctype="multipart/form-data" method="post" action="<{:U('Account/accountManage', array('method'=>'add'))}>">
    <ul>
        <li>
            <div class="l">名称：</div>
            <div class="r"><{$uname}></div>
        </li>
        <li>
            <div class="l">密码：</div>
            <div class="r"><{$upass}></div>
        </li>
        <li>
            <div class="l">权限：</div>
            <div class="r"><{$power}></div>
        </li>
        <input type="hidden" name="method" value="add">
        <li>
            <input type="submit" value="添加">
        </li>
    </ul>
</form>