<!doctype html>
<html>
<head>
<title>巢湖市槐林中学--oa管理系统</title>
<link type="text/css" href="Public/css/bootstrap.min.css" rel="stylesheet">
<link type="text/css" href="Public/css/admin.css" rel="stylesheet">
<script type="text/javascript" src="Public/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="Public/js/base.js"></script>
</head> 
<body>

{include file="Public/header.html"}

<div class="home_container clearfix">

	{include file="Public/left.html"}
	
	<div class="home_right">
		<div class="main clearfix">
			<div class="breadcrumb"><a>我的办公桌</a></div>
			<div class="manage_items">
				<b>管理选项：</b><a href="">个人通讯录</a> | <a href="">单位通讯录</a> | <a href="">新建通讯录</a> | <span class="red">(点这里修改个人资料)<span> 
			</div>
			<div class="location">
				<b>当前位置 >> 通讯录 >> 个人通讯录</b>
			</div>
			<div class="address_book">
				<table>
					<tr>
						<th>姓名</th>
						<th>手机号码</th>
						<th>QQ号码</th>
						<th>email</th>
						<th>操作</th>
					</tr>
					{foreach from=$result_arr key=key item=item}
						<tr>
							<td>{$item['username']}</td>
							<td>{$item['tel1']}</td>
							<td>{$item['qq']}</td>
							<td>{$item['email']}</td>
							<td>详情 编辑 删除</td>
						</tr>
					{/foreach}
				</table>
			</div>
		</div>
	</div>
</div>

{include file="Public/footer.html"}

</body>
</html>