<!doctype html>
<html>
<head>
<meta http-equiv='content-type' content='text/html;charset=utf-8' />
<meta name='description' content=''>
<meta name='keywords' content=''>
<link type="text/css" href="Public/css/bootstrap.min.css" rel="stylesheet">
<link rel='stylesheet' type='text/css' href='Public/css/base.css' />
<link rel='stylesheet' type='text/css' href='Public/css/admin.css' />
<script type="text/javascript" src="Public/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="Public/js/admin.js"></script>
<title>网站后台管理系统</title>
</head>
<body>

{include file="Public/header.html"}

<table width="100%" class="tablemain">
	<tr>
		<td valign="top" width="182">
		
			{include file="Public/left.html"}
			
		</td>
		<td valign="top">
			<div class="main sysinfo">
				<div class="hd"><b>系统信息</b></div>
				<table class="bd">
					<tr>
						<td height="30" width="100"><b>未读信息：</b></td>
						<td class="detail">
							反馈信息：<span class="t6"></span>条  &nbsp; &nbsp;
							在线留言：<span class="t6"></span>条  &nbsp; &nbsp;
							友情链接：<span class="t6"></span>条 &nbsp; &nbsp;
						</td>
					</tr>
					<tr>
						<td height="30"><b>用户信息：</b></td>
						<td class="detail">
							用户名：<span class="t4"> </span>
							IP：<span class="t4"> </span>
							登录次数：<span class="t4"> </span> 
							登录时间：<span class="t4"> </span>
						</td>
					</tr>			
					<tr>
						<td height="30"><b>系统信息：</b></td>
						<td class="detail">
							mysql版本：<span class="t4"></span>
							jmail组件支持：<span class="t4"></span>
							服务器 ：<span class="t4"></span>
						</td>
					</tr>
					<tr>
						<td><b>使用说明：</b></td>
						<td class="detail">
							第一步、在基本配置中进行设置基本信息、界面风格、图片配置等；<br/>
							第二步、在基本配置中添加栏目；<br/>
							第三步、在基本配置中进行优化推广、底部信息、热门标签、在线交流等设置；<br/>
							第四步、在基本配置中设置产品、下载及图片参数；<br/>
							第五步、添加简介、新闻、产品、下载等信息；
						</td>
					</tr>
				</table>
			</div>
		</td>
	</tr>
</table>

{include file="Public/footer.html"}

</body>
</html>










