<!doctype html>
<html>
<head>
<meta http-equiv='content-type' content='text/html;charset=utf-8' />
<meta name='description' content=''>
<meta name='keywords' content=''>
<link rel="stylesheet" type="text/css" href="/shop/Public/Common/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/shop/Public/Common/css/base.css" />
<link rel="stylesheet" type="text/css" href="/shop/Public/Admin/css/admin.css" />
<script type="text/javascript" src="/shop/Public/Common/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/shop/Public/Common/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/shop/Public/Common/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/shop/Public/Admin/js/base.js"></script>
<script type="text/javascript" src="/shop/Public/Admin/js/function.js"></script>
<script type="text/javascript" src="/shop/Public/Admin/js/server.js"></script>
<title>商城后台管理</title>
</head>
<body>

{include file="Public/header.html"}

<div class="main_container clearfix">
	
	{include file="Public/left.html"}
	
	<div class="main fr">
		<div class="content">
			<form name="search" method="post" action="">
				<table>
					<tr>
						<td>
							菜单栏目：
							<select class="form-control" name="">
								<option value="">请选择菜单栏目</option>
							</select>
						</td>
						<td>
							标题：
							<select class="form-control" name="">
								<option value="">请选择标题</option>
							</select>
						</td>
						<td>
							审核：
							<select class="form-control" name="">
								<option value="">请选择是否审核</option>
							</select>						
						</td>						
						<td>
							推荐：
							<select class="form-control" name="">
								<option value="">请选择是否推荐</option>
							</select>						
						</td>
						<td><button type="button" onclick="" class="btn btn-default">查询</button></td>
					</tr>
				</table>
			</form>	
			<table class="stable">
				<tr>
					<th></th>
					<th>菜单栏目</th>
					<th>标题</th>
					<th>发布日期</th>
					<th>审核</th>
					<th>推荐</th>
					<th>操作</th>
				</tr>
				{foreach from=$result_arr['content'] key=key item=item}
					<tr>
						<td><input type="checkbox" name="" /></td>
						<td>{$item['category']}</td>
						<td>{$item['title']}</td>
						<td>{$item['add_date']}</td>
						<td>{$item['is_verify']}</td>
						<td>{$item['featured']}</td>
						<td>
							<a href="">删除</a>
							<a href="">修改</a>
						</td>
					</tr>
				{/foreach}
			</table>
			
			<div class="sub_tool">
				<input type="checkbox" /> 选择所有
				<a href="">添加</a>
				<a href="">删除</a>
				<a href="">审核</a>
				<a href="">不审核</a>
				<a href="">推荐</a>
				<a href="">不推荐</a>
				<a href="">内容转移到</a>
				<select class="form-control" name="">
					<option value="">请选择转移到的栏目</option>
				</select>	
			</div>
			<div class="page">{$result_arr['page']}</div>
		</div>
	</div>
</div>
</body>
</html>










