<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="Public/admin/css/metinfo_admin.css" />
<title>添加文件</title>
<script type="text/javascript" src="Public/admin/js/zh_cn.js"></script>
<script type="text/javascript" src="Public/admin/js/metinfo.js"></script>
</head>
<body>
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
	<tr> 
		<td align="center" valign="top">
			<form  method="POST" name="myform" onSubmit="return CheckFormdownload();" action="index.php?m=Admin&c=Download&a=download&method=add" target="_self">
				<input name="class1" type="hidden" value="{$res['class1']}" />
				<table width="95%" border="0" cellpadding="2" cellspacing="1" class="table_southidc">
					<tr> 
						<td class="back_southidc" height="30" colspan="3" align="center">添加文件</td>
					</tr>
					<tr bgcolor="#ECF5FF"> 
						<td width="120" height="25"><font color="#FF0000">*</font><b>文件标题：</b></td>
						<td colspan="2"> <input name="c_title" type="text" class="input" size="50" maxlength="200"></td>
					</tr> 
					<tr bgcolor="#ECF5FF"> 
						<td width="120" height="25"><font color="#FF0000">*</font><b>所属栏目：</b></td>
						<td colspan="2">
							{if $res['class2_ok'] eq 1}
								<select name="class2" onChange="changelocation(document.myform.class2.options[document.myform.class2.selectedIndex].value)" size="1">
									<option value="0" selected="selected">二级栏目</option>
									{foreach $res['column_list2'] as $key=>$item}		
									<option value="{$item['id']}">{$item['c_name']}</option>
									{/foreach}
								</select>
								<select name="class3"> 
									<option value="0" selected="selected">三级栏目</option>
								</select>
							{else}		 
								<font color="#FF0000">{$res['info']['c_name']}</font>
							{/if}
						</td>
					</tr>
					<tr bgcolor="#ECF5FF" > 
						<td width="119" height="25"><font color="#FF0000">*</font><b>下载地址：</b></td>
						<td colspan="2"> <input name="downloadurl" type="text" class="input" size="30" maxlength="200"> 
							<iframe style="padding-top:0px;"ID="UploadFiles" src="/Admin/Org/uploader/upload_file.php" frameborder=0 scrolling=no width="280" height="25"></iframe>
						</td>
					</tr> 
					<tr bgcolor="#ECF5FF" > 
						<td width="119" height="25"><b>文件大小：</b></td>
						<td colspan="2"> <input name="filesize" type="text" class="input" size="10" maxlength="200">K</td>
					</tr> 
					{foreach $res['list_p'] as $key=>$item}	
						{if $item['maxsize'] eq '200'}
							<tr bgcolor="#ECF5FF"> 
								<td width="119" height="25"><b>{$item['c_mark']}</b></td>
								<td colspan="2"><input name="c_{$item['name']}" type="text" class="input" size="50" maxlength="200"></td>
							</tr>
						{else}
							<tr bgcolor="#ECF5FF"> 
							<td width="119" height="25"><b>$val[c_mark]</b></td>
							<td colspan="2"><textarea name="c_{$item['name']}" cols="60" rows="5"></textarea></td>
							</tr>
						{/if}
					{/foreach}
					<tr bgcolor="#ECF5FF"> 
						<td width="119" height="25"><b>内容关键词：</b></td>
						<td colspan="2"><input name="c_keywords" type="text" class="input" size="50" maxlength="200">用于搜索引擎优化，多个关键词请用","隔开</td>
					</tr>
					<tr bgcolor="#ECF5FF"> 
						<td width="20%" height="25"><b>内容简短描述：</b><br>用于搜索引擎优化</td>
						<td width="80%" ><textarea name="c_description" cols="60" rows="5"></textarea></td>
					</tr> 
					<tr bgcolor="#ECF5FF"> 
						<td width="20%" height="25"><b>详细内容：</b></td>
						<td width="80%" >{$res['oFCKeditor']->Create()}</td>
					</tr>
					<tr bgcolor="#ECF5FF"> 
						<td width="119" height="25"><b>最新文件：</b></td>
						<td colspan="2"><input name="new_ok" type="checkbox" value="1" >选择将在最新文件中显示（需要网站模板支持）</td>
					</tr>  
					<tr bgcolor="#ECF5FF"> 
						<td width="119" height="25"><b>推荐文件：</b></td>
						<td colspan="2"><input name="com_ok" type="checkbox" value="1">选择将在推荐文件中显示（需要网站模板支持）</td>
					</tr> 
					<tr bgcolor="#ECF5FF"> 
						<td width="119" height="25"><b>点击次数：</b></td>
						<td colspan="2"><input name="hits" type="text" class="input" size="10" maxlength="200" value="0"> （点击次数越多，热门信息中排名越靠前）</td>
					</tr>
					<tr bgcolor="#ECF5FF"> 
						<td width="119" height="25"><b>发布时间：</b></td>
						<td colspan="2"><input name="addtime" type="text" class="input" size="20" maxlength="200" value="{date('Y-m-d H:i:s')}" />
							当前时间为：{date('Y-m-d H:i:s')} 注意不要改变格式。</td>
					</tr>
					<tr bgcolor="#ECF5FF"> 
						<td width="119" height="25"><b>更新时间：</b></td>
						<td colspan="2"><input name="updatetime" type="text" class="input" size="20" maxlength="200" value="{date('Y-m-d H:i:s')}" />
							当前时间为：{date('Y-m-d H:i:s')} 注意不要改变格式。</td>
					</tr>
					<tr bgcolor="#ECF5FF"> 
						<td width="119" height="25"><b>文件排序：</b></td>
						<td colspan="2">一般按更新时间的先后顺序排序，热门文件按点击次数排序，因此可以修改“发布时间”或“点击次数”来达到排序的目的。</td>
					</tr>
					{if $met_en_lang neq 1}
						<tr bgcolor="#999999"> <td  height="25" colspan="2"><b>英文内容</b></td></tr>
						<tr bgcolor="#ECF5FF"> 
							<td width="120" height="25"><font color="#FF0000">*</font><b>英文标题：</b></td>
							<td colspan="2"> <input name="e_title" type="text" class="input" size="50" maxlength="200"></td>
						</tr> 
						{foreach $res['list_p'] as $key=>$item}	
							{if $item['maxsize'] eq '200'}
								<tr bgcolor="#ECF5FF"> 
									<td width="119" height="25"><b>{$item['e_mark']}</b></td>
									<td colspan="2"><input name="e_{$item['name']}" type="text" class="input" size="50" maxlength="200"></td>
								</tr>
							{else}
								<tr bgcolor="#ECF5FF"> 
									<td width="119" height="25"><b>{$item['e_mark']}</b></td>
									<td colspan="2"><textarea name="e_{$item['name']}" cols="60" rows="5"></textarea></td>
								</tr>
							{/if}
						{/foreach}
						<tr bgcolor="#ECF5FF"> 
							<td width="119" height="25"><b>英文关键词：</b></td>
							<td colspan="2"><input name="e_keywords" type="text" class="input" size="50" maxlength="200">用于搜索引擎优化，多个关键词请用","隔开</td>
						</tr>
						<tr bgcolor="#ECF5FF"> 
							<td width="20%" height="25"><b>英文简短描述：</b><br>用于搜索引擎优化</td>
							<td width="80%" ><textarea name="e_description" cols="60" rows="5"></textarea></td>
						</tr> 
						<tr bgcolor="#ECF5FF"> 
							<td width="20%" height="25"><b>英文详细内容：</b></td>
							<td width="80%" >{$res['e_oFCKeditor']->Create()}</td>
						</tr>
					{/if}
					<tr> 
						<td height="30" colspan="3" align="center" bgcolor="#ECF5FF"> 
							<input type="submit" name="Submit" value="提交" class="tj" />
							<input type="reset" name="Submit" value="重置" class="tj" /> 
						</td>
					</tr>
				</table>
			</form>
		</td>
	</tr>
</table>
</body>
</html>