<div class="nav">
	<img src="Public/images/bg_1.jpg" usemap="#Map" />
</div>
<div class="banner">
	<img src="Public/images/bg_2.jpg" />
</div>
<map name="Map">
	<area shape="rect" coords="356,30,419,52" href="index.php?m=Home&c=Login&a=register">
	<area shape="rect" coords="443,30,508,50" href="index.php?m=Home&c=Login&a=login">
	<area shape="rect" coords="529,31,599,52" href="index.php?m=Home&c=User&a=password">
	<area shape="rect" coords="618,29,680,53" href="index.php?m=Home&c=User&a=score">
	<area shape="rect" coords="706,29,773,53" href="index.php?m=Home&c=Exam&a=hall">
	<area shape="rect" coords="795,29,853,52" href="index.php?m=Home&c=Login&a=logout">
</map>