<div id="m_left">
	<ul>
		{foreach from=$leftNavParsed key=key item=item}
			{if $item['link']==''}
				<li class="tables">
					{$key} <span class="icon_bar icon_black"></span>
	
					<table class="{$tableClass}">
						{foreach from=$item key=sub_key item=sub_item}
							<tr>
								<td class="{if $sub_item['selected']}selected{/if}"><a href="{$sub_item.link}">{$sub_key}<div class="icon_text icon_transparent"></div></a></td>
							</tr>
						{/foreach}
					</table>
				</li>
			{else}
				{if $item['selected'] eq 1}
					<li class="selected">{$key}
						<div class="icon_text icon_transparent"></div>
					</li>
				{else}
					<a href="{$item.link}">
						<li>{$key}
							<div class="icon_text icon_transparent"></div>
						</li>
					</a>
				{/if}
			{/if}
		{/foreach}
	</ul>
</div>