<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<meta name="description" content="">
<meta name="keywords" content="">
<link type="text/css" href="/shop/Public/Common/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/shop/Public/Common/css/base.css">
<link rel="stylesheet" type="text/css" href="/shop/Public/Home/css/home.css">
<script type="text/javascript" src="/shop/Public/Common/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/shop/Public/Common/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/shop/Public/Home/js/base.js"></script>
<script type="text/javascript" src="/shop/Public/Home/js/server.js"></script>
<title>萌女郎</title>
</head>
<body>

{include file="Public/header.html"}

<div class="container">
	<div class="left">
		
		{include file="Public/search.html"}
		
		{include file="Public/category.html"}
		
	</div>
	<div class="product">
		<h4>产品</h4>
		<div class="bd">
			<ul class="clearfix">
				{foreach from=$result_arr['products'] key=key item=item}
					<li>
						<div class="pic">
							<a href="index.php?m=Home&c=Product&a=index&method=show&category={$item['category']}&id={$item['id']}"><img src="/shop/Public/Home/images/s{$item['picture']}" /></a>
						</div>
						<div class="t">
							<a href="index.php?m=Home&c=Product&a=index&method=show&category={$item['category']}&id={$item['id']}">{$item['name']}</a>
						</div>
						<div class="del">
							<del>{$item['market_price']} $</del>
						</div>
						<div class="price">{$item['price']} $</div>			
					</li>	
				{/foreach}
			</ul>
		</div>
	</div>
	<div class="right">
		{if cookie('username') eq ''}
			<div class="login">
				<h4>用户登录</h4>
				<form class="form-horizontal" name="login">
					<table>
						<tr>
							<td height="45">用户名：</td>
							<td><input name="username" type="text" class="form-control" placeholder="请输入用户名"></td>
						</tr>
						<tr>
							<td>密码：</td>
							<td><input name="password" type="password" class="form-control" placeholder="请输入密码"></td>
						</tr>
					</table>
					<button type="button" onclick="user_login()" class="btn btn-default">登录</button><br/>
					<span>
						<a href="index.php?m=Home&c=Login&a=forget">忘记密码?</a>&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="index.php?m=Home&c=Login&a=register">注册!</a>
					</span>
				</form>
			</div>	
		{/if}
		<div class="cart">
			<h4>购物车</h4>
			<div class="bd">
				<div class="product_num">
					购物车产品数： {cookie('total_num')}
				</div>			
				<div class="total_price">
					总价： {cookie('total_price')} $
				</div>			
				<div class="detail">
					<a href="index.php?m=Home&c=Cart&a=index">查看购物车</a>
				</div>
			</div>
		</div>				
	</div>
</div>

{include file="Public/footer.html"}

</body>
</html>