body { font-size: 9pt; margin:0px; color: #000; background: #4C94C1; }
image{
	border-color:#999;
}
td {
	font-size: 9pt; line-height:144%;
}
a:hover {
	font-size: 9pt;	color: #FF6600;
}
a {
	font-size: 9pt;	text-decoration: none;	color: #4C94C1;
}
.a1{
	font-size: 9pt;	text-decoration: none;	color: #FFFFFF;
}
.btn_grey {
	font-family: "宋体";	font-size: 9pt;color: #333333;	
	background-color: #eeeeee;cursor: hand;padding:1px;height:19px;
	border-top: 1px solid #FFFFFF;border-right:1px solid #666666;
	border-bottom: 1px solid #666666;border-left: 1px solid #FFFFFF;
}
.word_Green {
	font-size: 9pt;
	color: #1B4E51;
}
.word_orange {
	font-size: 9pt;
	color: #FF6600;
}
.txt_grey {
	font-family: "宋体";
	font-size: 9pt;
	color: #333333;
	border: 1px solid #999999;
	width:110;
}
input {
	font-family: "宋体";
	font-size: 9pt;
	color: #333333;
	border: 1px solid #999999;
}
.logininput{
	height:22px;
	border-color:#15595C;
	border-size:1px;}
.wenbenkuang {
	font-family: "宋体";
	font-size: 9pt;
	color: #333333;
	border: 1px solid #999999;
}
.search  { font-family: 宋体; font-size: 9pt; color: #000000; background-color: #EEEEEE; 
           border: 1px Hidden #000000; }
.tableBorder {
	border: #1B4E51 1px solid
}
.tableBorder_grey {
	border: #dddddd 1px solid
}
.tableBorder_gray {
	border: #DDDDDD 1px solid
}
.tableBorder_Top{
	border:1px solid #9CA6C6;
	border-bottom-style:none;
	border-left-style:none; 
	border-right-style:none
}
.tableBorder_Botton{
	border:1px solid #9CA6C6;
	border-top-style:none;
	border-left-style:none; 
	border-right-style:none
}
hr{
color:#9CA6C6;
}
.ToolTip {
	BORDER-RIGHT: #8492b9 1px solid; BORDER-TOP: #8492b9 1px solid;
	BORDER-LEFT: #8492b9 1px solid; COLOR: #333333; BORDER-BOTTOM: #8492b9 1px solid;
	BACKGROUND-COLOR: #f9f9f9
}
.noborder{
border-style:none;
}
.tableBorder_B{
	border:1px solid #9CA6C6;
	border-left-style:none; 
	border-right-style:none;
	border-Top-style:none; 
}
.menuitems1{
	margin:2px;padding:1px;word-break:keep-all;background-image:url("Images/item_out.gif");
}
div.quote{margin:5px 20px;border:1px solid #8492b9;padding:5px;background:#8492b9 ;line-height : normal ;
}
div.HtmlCode{margin:5px 20px;border:1px solid #AAAAAA;padding:5px; background:#FDFDDF ;
font-size:12px;font-family:Tahoma;font-style : oblique;line-height : normal ;font-weight:bold;
}
.menuskin {
	BORDER: #666 1px solid; VISIBILITY: hidden;
	POSITION: absolute; 
	/*BACKGROUND-COLOR:#EFEFEF;*/
	background:url("../images/item_out.gif");
	background-repeat : repeat-y;
    Filter: Alpha(Opacity=85);
	}
	
.container{ border:#1B4E51 1px solid; width:990px; margin:auto; }
.navigation{ }
.navigation .banner{ position:relative; }
.navigation .banner span.admin{ position:absolute; right:20px; bottom:15px; color: #fff; }
.navigation .nbar{ background:#FD9C11; height:33px; line-height:33px; padding-right:15px; }
.navigation .nbar .menu{  }
#labtime{ float:left; padding-left:15px; }

.content{ background:#fff; min-height:510px; text-align:center; padding-top:5px; }
.content table{ margin:auto; }
.content .wrap{ width:99%; padding-bottom:10px; }
.breadcrumb{ line-height:22px; text-align:left; padding-left:12px; }

form.add,form.modify{ background:url("../images/subBG.jpg"); width:292px; height:175px; }
form.add table,form.modify table{ margin:auto; padding:30px 0px 0 0px; text-align:center; text-align:left; }

.msg{ line-height:24px; }

.book form{ padding:20px 0; }
.book form table{ border-spacing:0; border-collapse:collapse; }
.book form table td{ border:1px solid #eee; padding:0 10px; }

.borrow form{ margin:10px auto 10px; padding:15px 0; background:#F8BF73; width:776px; }
.borrow form .fwrap{ width:95%; background:#9ECFEE; padding-bottom:10px; }

.copyright{ line-height:27px; text-align:center; border:#ddd 1px solid; }

.login{ padding-top:200px; text-align:center; }
.login div.fl{ width:30%; background:#86C1E6; height:243px; }
.login div.fr{ width:38%; background:#86C1E6; height:243px; }
.login form{ background:url("../images/bg.gif"); width:32%; }
.login table{ width:603px; padding-right:50px; }