form[name="login"]{}
form[name="login"] table{ margin:0 auto; }
form[name="login"] input { padding: 8px; }
form[name="login"] input[type="submit"]{ cursor:pointer; }
form[name="login"] a{ line-height:36px; color: red; font-weight: bold; } 
form[name="login"] .msg{ color:#666; }

form[name="get_key"]{}
form[name="get_key"] table{ margin:0 auto; }
form[name="get_key"] input { padding: 8px; }
form[name="get_key"] input[type="button"]{ cursor:pointer; }
form[name="get_key"] a{ line-height:36px; color: red; font-weight: bold; } 
form[name="get_key"] .msg{ color:#666; line-height:32px; }
form[name="get_key"] .tips{ color:#666; }

#question_tab { margin: 0 auto; max-width: 650px; border: 1px solid #ff8000; box-sizing: border-box; }
#message { background: #2b2b2b; color: #ffffff; }
#timed { float: right; }
#current_q img { width:95% !important; height:auto !important; }
#current_a img:hover { border: 6px solid #ff8000; cursor:pointer; }
#current_a img { float: left; border: 6px solid #ffffff; width: 79px; height: 49px; }
#current_a a{ cursor:pointer; display:inline-block; width:15%; border:1px solid #ddd; border-radius:5px; line-height:28px; margin:5px 6px; padding:0 8px; }
#current_a a:hover,#current_a a.on{ background:#e6e6e6; }
#message_archive { padding: 2px 8px; background: #b03e00; color: #ffffff; position: fixed; bottom: 0; font-size: 12px; }

#question_tab .top{ height:28px; line-height:28px; font-size:14px; }
#question_tab .top span{ display:inline-block; height:28px; padding:0 6px; }

#question_tab .main .hd .tit{ font-size:13px; line-height:28px; text-align:left; padding:0 8px; }

.pages{}
.pages p.next{ margin:20px 0 20px 30px; background: #3276b1; border:1px solid #ddd; border-radius:5px; padding:6px 8px; width:60px; }
.pages p.next a{ color:white; }
.pages ul{}
.pages ul li{ padding:3px 0; border-radius:5px; float:left; width:10%; }
.pages ul li a{ display:block; border:1px solid #ddd; border-radius:5px; line-height:28px; margin:5px 6px; }
.pages ul li a:hover,.pages ul li a.current{ background:#e6e6e6; }
.pages ul li a.done{ background:#3276b1; color:#fff; }

.notes{ padding:5px 6px; text-align:left; line-height:20px; }

.finish a{ margin:8px 0; border-radius:5px; color:#fff; background:#d9534f; display:inline-block; padding:8px 15px; }