body{ background:#efefef; padding-bottom:32px; }

/*login*/
.login{ border:1px solid #ccc; border-radius:6px; margin:120px auto 0; padding:30px 60px; }
.login .hd{ width:45%; margin:0 auto 32px; }
.login form.bd{}
.login form.bd table{ width:32%; margin:0 auto; }
.login form.bd table td{ height:42px; }

/*header*/
.header{}
.topNav{ border-bottom:1px solid #ccc; }
.topNav ul{ padding-left:18px; }
.topNav ul li{ float:left; line-height:28px; padding:0 28px; }
.location{ padding:0 36px; border-bottom:1px solid #ccc; }
.location a{ display:inline-block; text-align:center; padding:8px 16px; }
.location span{ line-height:52px; }

.main_container{ min-height:800px; }

.left{ background:#fff; width:10%; min-height:800px; }
.left .dtree{ padding:6px 8px; }

.main{ background:#fff; width:89.5%; min-height:800px; padding:20px 20px; }
.mainNav{ width:40%; margin:120px auto 0; }
.mainNav ul{}
.mainNav ul li{ float:left; width:33%; padding:10px 0; text-align:center; }
.mainNav ul li .pic{ padding-bottom:3px; }



/*user*/
.user{ width:60%; margin:0 auto; }

/*role*/
.role{ width:60%; margin:0 auto; }

/*menu*/
.menu{ width:60%; margin:0 auto; }
.menu .stable td{ text-align:left; padding:0 6px; }
.menu .stable input{ max-width:60%; display:inline-block; }

/*mainmenu*/
.mainmenu{ width:60%; margin:0 auto; }

/*column*/
.column{ width:60%; margin:0 auto; }
.column .stable td{ text-align:left; padding:0 6px; }
.column .stable input{ max-width:60%; display:inline-block; }

/*content*/
.content{ width:60%; margin:0 auto; }

/*category*/
.category{ width:60%; margin:0 auto; }
.category .stable td{ padding:0 6px; }
.category .stable input{ max-width:60%; display:inline-block; }

/*info*/
.product_info{ width:60%; margin:0 auto; }
.product_info form[name='search'] select[name='is_verify']{ width:50%; }
.product_info form[name='search'] select[name='is_recommend']{ width:50%; }

/*orders*/
.orders{ width:60%; margin:0 auto; }
.orders form[name='search'] input[name='order_people']{ width:70%; }
.orders form[name='search'] select[name='status']{ width:50%; }

/*template*/
.template{ width:60%; margin:0 auto; }

/*modules*/
.modules{ width:60%; margin:0 auto; }
.modules .stable td{ padding:0 6px; }

/*config*/
.config{ width:60%; margin:0 auto; }
.config .stable td{ padding:0 6px; text-align:left; height:36px; }
.config .stable td input{ width:40%; }
.config .stable td select{ width:20%; }
.config .stable tr:hover td { background:#e3e3e3; }

/*backup*/
.backup{ width:60%; margin:0 auto; }
.backup .stable td{ padding:0 6px; text-align:left; height:36px; }
.backup .stable td select{ width:36%; display:inline-block; }
.backup .stable tr:hover td { background:#e3e3e3; }