<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>login</title>
<link href="Public/Admin/css/admin.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="Public/Common/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="Public/Admin/js/fun.base.js"></script>
<script type="text/javascript" src="Public/Admin/js/script.js"></script>
<script type="text/javascript" src="Public/Admin/js/check.js"></script>
</head>
<body>
<div class="login">
    <div class="box png">
		<div class="logo png"></div>
		<form class="log" name="log" action="" method="post" onsubmit="return admin_login_check();">
			<div class="tip">
			{if ($result_arr['msg']) neq ''}
				{$result_arr['msg']}
			{/if}			
			</div>
			<div class="name">
				<label>用户名</label><input type="text" class="text" placeholder="用户名" name="admin_name" value="" />
			</div>
			<div class="pwd">
				<label>密　码</label><input type="password" class="text" placeholder="密码" name="admin_pass" value="" />
			</div>
			<div class="code">
				<label>验证码</label><input type="text" class="text" placeholder="验证码" name="code" tabindex="3" value="" />
				<img src="{U('Login/code')}" onclick="this.src='{U('Login/code')}&'+Math.random()" />
				<input type="submit" class="submit" tabindex="4" value="登录" />
			</div>
		</form>
	</div>
    <div class="air-balloon ab-1 png"></div>
	<div class="air-balloon ab-2 png"></div>
    <div class="footer"></div>
</div>
</body>
</html>
