* { margin: 0; padding: 0; }
a:link, a:visited { color: #656565; text-decoration: none; font-family: "Microsoft YaHei","Tahoma","Arial",'宋体'; }
/*header*/
#header{ background:url(../images/top/top_r1_c5.jpg) repeat-x left bottom #fbfbfb; height:95px; font-size:12px;}
#logo{ padding:14px 0 0 7px; width:74px;}
#header-name{ font-size:18px; font-weight:bold; color:#528fc6; padding:15px 0 0 0;}
#header-admin{ font-size:14px; padding:0 0 25px 0; width:112px; color:#999}
#header-right{ padding:3px 10px 0 0; font-size:12px;}
#header-right span,#header-right a{ float:right}
#header-right span{ background:url(../images/top/time.jpg) no-repeat 0px 2px; padding:0 10px 0 20px;}
#header-right a.admin-out{ background:url(../images/top/exit.jpg) no-repeat 0px 2px; padding:0 0px 0 20px;}
#header-right a:hover.admin-out{ background:url(../images/top/exiton.jpg) no-repeat 0px 2px;}
#header-right a.admin-home{ background:url(../images/top/bool.jpg) no-repeat 0px 1px; padding:0 10px 0 20px;}
#header-right a:hover.admin-home{ background:url(../images/top/boolon.jpg) no-repeat 1px 2px;}
#header-right a.admin-index{ background:url(../images/top/home.jpg) no-repeat 0px 1px; padding:0 10px 0 20px;}
#header-right a:hover.admin-index{ background:url(../images/top/homeon.jpg) no-repeat 0px -1px;}
#header-menu a{ width:87px; height:37px; line-height:32px; margin:0 2px 0 0; display:inline; text-align:center; font-size:14px; font-weight:bold; background:url(../images/top/menu.jpg) no-repeat left bottom; float:left}
#header-menu a:hover{ background:url(../images/top/menuon.jpg) no-repeat left bottom; color:#FFF}
#header-menu a#menuon{ background:url(../images/top/menuon.jpg) no-repeat left bottom; color:#FFF}