<div class="category">
	<h4>产品分类</h4>
	<div class="dtree">
		<div class="hd">
			<img src="/shop/Public/Home/images/base.gif" />
		</div>
		<div class="bd">
			{foreach from=$common_arr['cart_category'] key=key item=item}
				<div class="dtreeNode">
					<a class="switch"><img src="/shop/Public/Home/images/plus.gif" /></a>
					<a class="folder"><img src="/shop/Public/Home/images/folder.gif" /></a>
					<a href="">{$item['name']}</a>
					<dl class="sub myHide">
						{foreach from=$item['sub'] key=sub_key item=sub_item}
						<dt>
							<img src="/shop/Public/Home/images/line.gif" />
							<img src="/shop/Public/Home/images/join.gif" />
							<img src="/shop/Public/Home/images/page.gif" />
							<a href="">{$sub_item['name']}</a>
						</dt>
						{/foreach}
					</dl>
				</div>
			{/foreach}				
		</div>
	</div>
</div>