<div class="header">
	<div class="topArea wrap clearfix">
		<div class="logo fl">
			<a href=""><img src="Public/images/logo.gif" alt="" /></a>
		</div>
		<div class="sets fr">
			<div class="set1">
				今天是
				<script type="text/javascript">
					var today=new Date();
					function initArray(){
						this.length=initArray.arguments.length;
						for(var i=0;i<this.length;i++){
							this[i+1]=initArray.arguments[i];
						}
					}
					var d=new initArray(
						' 星期日',
						' 星期一',
						' 星期二',
						' 星期三',
						' 星期四',
						' 星期五',
						' 星期六');
					document.write(today.getFullYear()+"年"+(today.getMonth()+1)+"月"+today.getDate()+"日"+d[today.getDay()+1]);
				</script>
				<span><a href="#" title="设为首页">设为首页</a> | <a href="#" title="加入收藏">加入收藏</a></a>
			</div>
			<form class="search" method="post" name="search" action="search/search.php">
				<input type="text" name="c_title" size="20" />
				<select name="class1">
					{foreach from=$common_arr['nav_search'] key=key item=item}
						<option value="">{$item['name']}</option>
					{/foreach}
				</select>
				<input type="submit" name="sub" value="搜索" class="searchgo" />
			</form>
		</div>
	</div>
	<div class="nav">
		<ul class="wrap clearfix">
			<li><a href="index.php">首页</a>|</li>
			{foreach from=$common_arr['header_nav'] key=key item=item}
				<li><a href="{$item['url']}">{$item['name']}</a>|</li>
			{/foreach}
		</ul>
	</div>
	<div class="banner">
		<div class="hd">
			<ul></ul>
		</div>
		<div class="bd">
			<ul>
				<li class=""><a href=""><img src="Public/images/banner3.jpg" /></a></li>
				<li class="hide"><a href=""><img src="Public/images/banner4.jpg" /></a></li>
				<li class="hide"><a href=""><img src="Public/images/banner5.jpg" /></a></li>
			</ul>
		</div>
	</div>
	<script type="text/javascript">
		var i=0;
		function switch_banner(){
			var num=$(".banner .bd ul li").length;
			$(".banner .bd ul li").addClass('hide');
			$(".banner .bd ul li:eq("+i+")").removeClass('hide');	
			i++;
			if(i>num-1){
				i=0;
			}	
		}
		setInterval(switch_banner,3000);
	</script>
</div>