<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{C('site_title')}</title>
<meta name="description" content="{C('site_description')}" />
<meta name="keywords" content="{C('site_keyword')}" />
<link rel="stylesheet" href="Public/css/home.css" type="text/css" />
<script type="text/javascript" src="Public/js/jquery.js"></script>
</head>
<body>

{include file="../Public/header.html"}

<div class="main box1">
    <div class="bg1 title"><h3>热门图片</h3></div>
    <div class="box_body">
		<table class="table100">
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				{if $res['imgs'] neq ''}
					{foreach $res['imgs'] as $key=>$item}
						{if $key%5==0 && $key!=0}
						</tr><tr>
						{/if}
						<td class="phototd" id="i_{$item['id']}">
							<a href="index.php?m=Home&c=Photo&a=view&album={$item['album']}#photo={$item['id']}"><img src="Uploads/{mkImgLink($item['dir'],$item['pickey'],$item['ext'],'thumb')}" /></a>
							<div class="line35">
								<a href="index.php?m=Home&c=Photo&a=view&album={$item['album']}#photo={$item['id']}">{$item['name']}</a>
							</div>
							<div>浏览数：{$item['hits']}</div>
						</td>
					{/foreach}
				{else}
					<td><div class="warning"> 当前没有任何图片！ </div></td>
				{/if}
			</tr>
		</table>
		<div class="pageset">{$res['show']}</div>
    </div>
</div>

{include file="../Public/footer.html"}

</body>
</html>