<!doctype html>
<html>
<head>
<meta http-equiv='content-type' content='text/html;charset=utf-8' />
<meta name='description' content=''>
<meta name='keywords' content=''>
<link rel="stylesheet" type="text/css" href="/shop/Public/Common/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/shop/Public/Common/css/base.css" />
<link rel="stylesheet" type="text/css" href="/shop/Public/Admin/css/admin.css" />
<script type="text/javascript" src="/shop/Public/Common/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/shop/Public/Common/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/shop/Public/Common/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/shop/Public/Admin/js/base.js"></script>
<script type="text/javascript" src="/shop/Public/Admin/js/function.js"></script>
<script type="text/javascript" src="/shop/Public/Admin/js/server.js"></script>
<title>商城后台管理</title>
</head>
<body>

{include file="Public/header.html"}

<div class="main_container clearfix">
	
	{include file="Public/left.html"}
	
	<div class="main fr">
		<div class="product_info">
			<form name="search" method="post" action="">
				<table>
					<tr>
						<td>
							产品分类：
							<select class="form-control" name="category">
								<option value="">请选择产品分类</option>
							</select>
						</td>
						<td>
							产品名称：
							<input type="text" class="form-control" name="name" />
						</td>
						<td>
							审核：
							<select class="form-control" name="is_verify">
								<option value="">是</option>
							</select>						
						</td>						
						<td>
							推荐：
							<select class="form-control" name="is_recommend">
								<option value="">是</option>
							</select>						
						</td>
						<td><button type="button" onclick="" class="btn btn-default">查询</button></td>
					</tr>
				</table>
			</form>	
			<table class="stable">
				<tr>
					<th></th>
					<th>产品分类</th>
					<th>产品名称</th>
					<th>价格</th>
					<th>审核</th>
					<th>推荐</th>
					<th>操作</th>
				</tr>
				{foreach from=$result_arr['product'] key=key item=item}
					<tr>
						<td><input type="checkbox" name="" /></td>
						<td>{$item['category']}</td>
						<td>{$item['name']}</td>
						<td>{$item['price']}</td>
						<td>{$item['is_verify']}</td>
						<td>{$item['is_recommend']}</td>
						<td>
							<a href="">删除</a>
							<a href="">修改</a>
						</td>
					</tr>
				{/foreach}
			</table>
			
			<div class="sub_tool">
				<input type="checkbox" /> 选择所有
				<a href="">添加</a>
				<a href="">删除</a>
				<a href="">审核</a>
				<a href="">不审核</a>
				<a href="">推荐</a>
				<a href="">不推荐</a>
				<a href="">内容转移到</a>
				<select class="form-control" name="">
					<option value=""></option>
				</select>	
			</div>
			<div class="page">{$result_arr['page']}</div>
		</div>
	</div>
</div>
</body>
</html>










