<!doctype html>
<html>
<head>
<meta http-equiv='content-type' content='text/html;charset=utf-8' />
<meta name='description' content=''>
<meta name='keywords' content=''>
<link rel="stylesheet" type="text/css" href="/shop/Public/Common/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/shop/Public/Common/css/base.css" />
<link rel="stylesheet" type="text/css" href="/shop/Public/Admin/css/admin.css" />
<script type="text/javascript" src="/shop/Public/Common/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/shop/Public/Common/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/shop/Public/Common/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/shop/Public/Admin/js/base.js"></script>
<script type="text/javascript" src="/shop/Public/Admin/js/function.js"></script>
<script type="text/javascript" src="/shop/Public/Admin/js/server.js"></script>
<title>商城后台管理</title>
</head>
<body>

{include file="Public/header.html"}

<div class="main_container clearfix">
	
	{include file="Public/left.html"}
	
	<div class="main fr">
		<div class="orders">
			<form name="search" method="post" action="">
				<table>
					<tr>
						<td width="50%"></td>
						<td>
							订购用户：
							<input type="text" class="form-control" name="order_people" />					
						</td>						
						<td width="20%">
							状态：
							<select class="form-control" name="status">
								<option value=""></option>
							</select>						
						</td>
						<td><button type="button" onclick="" class="btn btn-default">查询</button></td>
					</tr>
				</table>
			</form>	
			<table class="stable">
				<tr>
					<th></th>
					<th>订单日期</th>
					<th>订购用户</th>
					<th>处理日期</th>
					<th>处理人</th>
					<th>状态</th>
					<th>操作</th>
				</tr>
				{foreach from=$result_arr['orders'] key=key item=item}
					<tr>
						<td><input type="checkbox" name="" /></td>
						<td>{date('Y-m-d',$item['order_time'])}</td>
						<td>{$item['order_people']}</td>
						<td></td>
						<td></td>
						<td>
							{if $item['status'] eq 1}
								处理中
							{/if}							
						</td>
						<td>
							<a href="">删除</a>
							<a href="">浏览</a>
						</td>
					</tr>
				{/foreach}
			</table>
			
			<div class="sub_tool">
				<input type="checkbox" /> 选择所有
				<a href="">添加</a>
				<a href="">删除</a>
				<a href="">完成</a>
				<a href="">未完成</a>
			</div>
			<div class="page">{$result_arr['page']}</div>
		</div>
	</div>
</div>
</body>
</html>










