<!doctype html>
<html>
<head>
<meta http-equiv='content-type' content='text/html;charset=utf-8' />
<meta name='description' content=''>
<meta name='keywords' content=''>
<link type="text/css" href="Public/css/bootstrap.min.css" rel="stylesheet">
<link rel='stylesheet' type='text/css' href='Public/css/base.css' />
<link rel='stylesheet' type='text/css' href='Public/css/admin.css' />
<script type="text/javascript" src="Public/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="Public/js/admin.js"></script>
<title>网站后台管理系统</title>
</head>
<body>

{include file="Public/header.html"}

<table width="100%" class="tablemain">
	<tr>
		<td valign="top" width="182">
		
			{include file="Public/left.html"}
			
		</td>
		<td valign="top">
			<div class="main basic_set">
				<div class="hd"><b>网站基本信息设置</b></div>
				<form class="bd" method="post" action="" name="basic_set">
					<input type="hidden" name="action" value="modify" />
					<table>
						<tr>
							<td><font color="#f00">*</font>网站名称：</td>
							<td><input class="form-control" type="text" value="" name="webname" /></td>
						</tr>								
						<tr>
							<td><font color="#f00">*</font>网站网址：</td>
							<td>
								<input class="form-control" size="40" type="text" value="" name="weburl" />
								系统检测到的网址：<font color="#f00"></font>
							</td>
						</tr>
						<tr>
							<td>网站logo：</td>
							<td>
								<input class="form-control" size="30" type="text" value="" name="logo" />
								<input type="file" value="" name="" />
								<button type="submit" class="btn btn-default">上 传</button>
							</td>
						</tr>
						<tr>
							<td>生成静态页面：</td>
							<td>
								<input type="checkbox" value="" name="" />
								首页、内容页面静态化，<font color="#f00">*</font>首次开启请点击静态页面生成全部页面</font>
							</td>
						</tr>
						<tr>
							<td><font color="#f00">*</font>下载文件上传最大值：</td>
							<td><input class="form-control mb" type="text" value="" name="" />MB</td>
						</tr>								
						<tr>
							<td><font color="#f00">*</font>允许上传的文件格式：</td>
							<td><input class="form-control" type="text" value="" name="" />多种格式请用"|"隔开</td>
						</tr>
						<tr>
							<td><b>系统邮箱配置</b></td>
							<td>(用于系统自动发送邮件，如反馈信息发送和回复、用户密码找回等)</td>
						</tr>	
						<tr>
							<td>发件人姓名：</td>
							<td><input class="form-control" type="text" value="" name="" />所显示的发件人姓名</td>
						</tr>								
						<tr>
							<td>邮件SMTP服务器：</td>
							<td><input class="form-control" type="text" value="" name="" />如163邮箱为stmp.163.com</td>
						</tr>								
						<tr>
							<td>邮箱账号：</td>
							<td><input class="form-control" type="text" value="" name="" />用于发送邮件的邮箱账号</td>
						</tr>
						<tr>
							<td>邮箱密码：</td>
							<td><input class="form-control" type="password" value="" name="" />用于发送邮件的邮箱密码</td>
						</tr>	
						<tr>
							<td width="180"></td>
							<td style="text-align:center;">
								<button type="submit" class="btn btn-default">上 传</button>
								<button type="reset" class="btn btn-default">重 置</button>
							</td>
						</tr>				
					</table>
				</form>
			</div>
		</td>
	</tr>
</table>

{include file="Public/footer.html"}

</body>
</html>










