body,ul,li,h3,h4,p,input{ margin:0; padding:0; }
img{ vertical-align:middle; cursor:pointer; }
body{ font-size:14px; color:#333; overflow:hidden; }

a{ text-decoration:none; color:#333; }
a:hover{ color:#148cf1; }

table { border-collapse: collapse; border-spacing: 0; font-size:12px; text-align:center; width:100%; }

input[type="submit"],input[type="reset"]{cursor:pointer; border:0}

/*浮动*/
.fl { float: left; }
.fr { float: right; }

/*常量*/
.hide{display:none !important; }
.show{display:block !important; }
.noBd{border:none;}


input[type="text"],input[type="password"]{ border:1px solid #ddd; height:38px; padding-left:8px; background:#fbfbfb; }
textarea{ border:1px solid #ddd; padding:4px; color:#333; }
input[type="text"]:hover,input[type="password"]:hover,textarea:hover{ border:1px solid #b5b5b5; }
input[type="text"]:focus,input[type="password"]:focus,textarea:focus{ border:1px solid #3bb4f2; }
