<!doctype html>
<html>
<head>
<title>巢湖市槐林中学--oa管理系统</title>
<link type="text/css" href="Public/css/bootstrap.min.css" rel="stylesheet">
<link type="text/css" href="Public/css/admin.css" rel="stylesheet">
<script type="text/javascript" src="Public/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="Public/js/base.js"></script>
</head> 
<body>

{include file="Public/header.html"}

<div class="home_container clearfix">

	{include file="Public/left.html"}
	
	<div class="home_right">
		<div class="main clearfix">
			<div class="breadcrumb"><a>行政管理</a></div>
			<div class="location">
				<b>当前位置 >> 行政管理 >> 资料下载</b>
			</div>
			<div class="notice">
				<ul>
					{foreach from=$result_arr key=key item=item}
						<li class="clearfix">
							<div class="calendar fl">
								<p class="m">{$item.m}月</p>
								<p class="d">{$item.d}</p>
							</div>
							<div class="info fl">
								<div class="tit">
									<font color="red">[{$item.s_title}]</font>
									<a href="">{$item.title}</a>
								</div>
								<div class="content">
									<table>
										<tr>
											<td width="30%">【部 门】{$item.management}</td>
											<td width="30%">【发布者】{$item.author}</td>
											<td>【添加时间】{$item.addtime}</td>
										</tr>
									</table>
								</div>
							</div>
						</li>
					{/foreach}
				</ul>
			</div>
		</div>
	</div>
</div>

{include file="Public/footer.html"}

</body>
</html>