<!doctype html>
<html>
<head>
<title>巢湖市槐林中学--oa管理系统</title>
<link type="text/css" href="Public/css/bootstrap.min.css" rel="stylesheet">
<link type="text/css" href="Public/css/admin.css" rel="stylesheet">
<script type="text/javascript" src="Public/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="Public/js/base.js"></script>
</head> 
<body>

{include file="Public/header.html"}

<div class="home_container clearfix">

	{include file="Public/left.html"}
	
	<div class="home_right">
		<div class="main clearfix">
			<div class="breadcrumb"><a>行政管理</a></div>
			<div class="manage_items">
				<b>管理选项：</b><a href="">今日请假</a> | <a href="">本周请假</a> | <a href="">所有请假</a> | <a href="">我的请假</a> | <a href="">申请请假</a> | <a href="">请假审核</a> 
			</div>
			<div class="location">
				<b>当前位置 >> 公事病假 >> 今日请假</b>(<a href="" class="red">请假审批</a>)
			</div>
			<div class="leave">
				<ul>
					<li class="clearfix">
						<div class="calendar fl">
							<p class="m">{$result_arr.m}月</p>
							<p class="d">今日</p>
						</div>
						<div class="info fl">
							<table>
								<tr>
									<th>请假者</th>
									<th>类型</th>
									<th>原因</th>
									<th>开始时间</th>
									<th>结束时间</th>
									<th>审批人</th>
								</tr>
								{foreach from=$result_arr['leave'] key=key item=item}
									<tr>
										<td>{$item.leaver}</td>
										<td>{$item.leavetype}</td>
										<td>{$item.reason}</td>
										<td>{$item.stime}</td>
										<td>{$item.etime}</td>
										<td>{$item.passer}</td>
									</tr>
								{/foreach}
							</table>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

{include file="Public/footer.html"}

</body>
</html>