body{ font-size:15px; }
a:visited,a:active,a:link{ color:#000; text-decoration:none; }
a:hover{ color:000; text-decoration:underline; }
.box{ padding:1px; border:1px solid #487524; text-align:right; }
.p{ text-align:center; font-size:36px; color:#900; font-weight:bold; }