<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>在线考试系统</title>
<link rel="stylesheet" href="Public/css/style.css" type="text/css" />
</head>
<body>

{include file="../Public/header.html"}

<table width="1002" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td width="111" valign="top" bgcolor="#F0EFEB"></td>
		<td width="778" valign="top" bgcolor="#F0EFEB">
			<div class="container">
				<div class="breadcrumb">当前位置：在线考试系统 &gt; 修改密码</div>
				<div class="main" style="text-align:center;">
					<form name="password" method="post" action="index.php?m=Home&c=User&a=password&method=edit" onsubmit="return check();">
						<table width="592" height="103" border="1" cellpadding="1" cellspacing="1" bordercolor="#fff" bgcolor="#676767">
							<tr>
								<td width="104">&nbsp;</td>
								<td width="157"></td>
								<td width="95"></td>
								<td width="208"></td>
							</tr>
							<tr>
								<td>准考证号码：</td>
								<td>
									<input name="number" type="text" size="20" /></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>密 码：</td>
								<td><input name="pass" type="password" size="20" /></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>新密码：</td>
								<td><input name="pass2" type="password" size="20" /></td>
								<td>密码验证：</td>
								<td><input name="pass3" type="password" size="20" /></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td><input type="submit" name="sub" value="提交" /></td>
								<td></td>
							</tr>
						</table>
					</form>
					<script type="text/javascript">
						function check(){
							if(password.number.value==""){
								alert("请输入准考证号！");
								password.number.select();
								return(false);
							}
							if(password.pass.value==""){
								alert("请输入密码！");
								password.pass.select();
								return(false);
							}
							if(password.pass2.value==""){
								alert("请输入新密码！");
								password.pass2.select();
								return(false);
							}
							if(password.pass3.value==""){
								alert("请输入确认密码！");
								password.pass3.select();
								return(false);
							}
							if(password.pass2.value!=password.pass3.value){
								alert("您输入的新密码和确认密码不符！");
								password.pass2.select();
								return(false);
							}
							return(true);	 
						}
					</script>
				</div>
			</div>
			<img src="Public/images/bg_7.jpg" />
		</td>
		<td width="113" valign="top" bgcolor="#F0EFEB"></td>
	</tr>
</table>
</body>
</html>
