<!doctype html>
<html>
<head>
<meta http-equiv='content-type' content='text/html;charset=utf-8' />
<meta name='description' content=''>
<meta name='keywords' content=''>
<link type="text/css" href="Public/css/bootstrap.min.css" rel="stylesheet">
<link rel='stylesheet' type='text/css' href='Public/css/base.css' />
<link rel='stylesheet' type='text/css' href='Public/css/inside.css' />
<script type="text/javascript" src="Public/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="Public/js/base.js"></script>
<title>{if $common_arr['third'] neq ''}{$common_arr['third']['name']}--{$common_arr['second']['name']}--{elseif $common_arr['second'] neq ''}{$common_arr['second']['name']}--{/if}{$common_arr['base']['name']}--企业网站--技术支持</title>
</head>
<body>

{include file="Public/header.html"}

<div class="container">
	<div class="wrap clearfix">
		<div class="main">
			<div class="hd">
				<a href="index.php"> 首页</a> > 
				<a href="{$common_arr['base']['url']}">{$common_arr['base']['name']}</a>
				{if $common_arr['second']['name'] neq ''}
					> <a href="{$common_arr['second']['url']}">{$common_arr['second']['name']}</a>
				{/if}
				{if $common_arr['third']['name'] neq ''}
					> <a href="{$common_arr['third']['url']}">{$common_arr['third']['name']}</a>
				{/if}
			</div>
			<div class="bd">
				<div class="product_list">
					<ul>
						{foreach from=$result_arr['product_list'] key=key item=item}
							<li class="clearfix">
								<div class="pic fl">
									<a href="{$item['id']}" target="_blank"><img src="{$item['imgurls']}" /></a>
								</div>
								<div class="info fr">
									<div class="tit">
										<a href="{$item['id']}" target="_blank">{$item['title']}</a>
									</div>
									<div class="para">
										{foreach from=$result_arr['product_para'] key=sub_k item=sub_item}
											{$sub_item['mark']}:{$item[$sub_item['name']]}<br/>
										{/foreach}
									</div>
									<div class="more">
										<a href="{$item['id']}" target="_blank">查看详细>></a>
									</div>
								</div>
							</li>
						{/foreach}
					</ul>
				</div>
				<div class="page">{$result_arr['page']}</div>
			</div>
		</div>
		
		{include file="Public/right.html"}

	</div>
</div>

{include file="Public/footer.html"}

</body>
</html>










