<!doctype html>
<html>
<head>
<meta http-equiv='content-type' content='text/html;charset=utf-8' />
<meta name='description' content=''>
<meta name='keywords' content=''>
<link rel="stylesheet" type="text/css" href="/shop/Public/Common/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/shop/Public/Common/css/base.css" />
<link rel="stylesheet" type="text/css" href="/shop/Public/Admin/css/admin.css" />
<script type="text/javascript" src="/shop/Public/Common/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/shop/Public/Common/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/shop/Public/Common/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/shop/Public/Admin/js/base.js"></script>
<script type="text/javascript" src="/shop/Public/Admin/js/function.js"></script>
<script type="text/javascript" src="/shop/Public/Admin/js/server.js"></script>
<title>商城后台管理</title>
</head>
<body>

{include file="Public/header.html"}

<div class="main_container clearfix">
	
	{include file="Public/left.html"}
	
	<div class="main fr">
		<div class="template">
			<form name="search" method="post" action="">
				<table>
					<tr>
						<td width="40%"></td>
						<td>
							模板名称：
							<select class="form-control" name="">
								<option value="">请选择模板名称</option>
							</select>						
						</td>						
						<td>
							默认：
							<select class="form-control" name="">
								<option value="">请选择是否默认</option>
							</select>						
						</td>
						<td><button type="button" onclick="" class="btn btn-default">查询</button></td>
					</tr>
				</table>
			</form>	
			<table class="stable">
				<tr>
					<th></th>
					<th>模板名称</th>
					<th>默认</th>
					<th>操作</th>
				</tr>
				{foreach from=$result_arr['template'] key=key item=item}
					<tr>
						<td><input type="radio" name="" /></td>
						<td>{$item['name']}</td>
						<td>{$item['is_default']}</td>
						<td>
							<a href="">删除</a>
						</td>
					</tr>
				{/foreach}
			</table>
			<div class="sub_tool">
				<a href="">默认</a>	
			</div>
			<div class="page">{$result_arr['page']}</div>
		</div>
	</div>
</div>
</body>
</html>










