<form enctype="multipart/form-data" method="post" action="<{:U('Vpn/vpnList', array('method'=>'add'))}>">
    <ul>
        <li>
            <div class="l">VPN组：</div>
            <div class="r"><{$group_id}></div>
        </li>
        <li>
            <div class="l">数据：</div>
            <div class="r"><{$data}></div>
            <div class="r">&nbsp;&nbsp;<span style="color: orange;">一个IP,用户名,密码为一组，用英文逗号分割，<br>每组数据间用英文分号分割。</span></div>
        </li>
        <li>
            <div class="l">账号来源：</div>
            <div class="r"><{$channel}></div>
        </li>
        <li>
            <div class="l">优先级：</div>
            <div class="r"><{$score}></div>
        </li>
        <li>
            <div class="l">是否动态：</div>
            <div class="r"><{$dynamic}></div>
        </li>
        <li>
            <div class="l">是否启用：</div>
            <div class="r"><{$status}></div>
        </li>
        <li>
            <div class="l">到期时间：</div>
            <div class="r"><{$lasttime}></div>
        </li>
        <li>
            <div class="l">国内/国外：</div>
            <div class="r"><{$country_type}></div>
        </li>
        <li>
            <div class="l">备注：</div>
            <div class="r"><{$remark}></div>
        </li>
        <input type="hidden" name="method" value="add">
        <li>
            <input type="submit" value="添加">
        </li>
    </ul>
</form>