<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
    <tr><th>ID</th><th>姓名</th><th>信息</th><th>卡号</th><th>录入时间</th><th>操作</th></tr>
    </thead>
    <tbody>
    <volist name="result" id="vo">
        <tr>
            <td><{$vo.id}></td>
            <td><{$vo.name}></td>
            <td><{$vo.info}></td>
            <td><{$vo.number}></td>
            <td><{$vo.add_time}></td>
            <td><{$vo.caozuo}></td>
        </tr>
    </volist>
    </tbody>
</table>

<script>
    $(document).ready(function() {
        $('#example').dataTable({
            "aaSorting": [[ 0, "desc" ]],
            "aLengthMenu":[100,50,10],
            "oLanguage": {    // 语言设置
                "sLengthMenu": "每页显示 _MENU_ 条记录",
                "sZeroRecords": "抱歉， 没有找到",
                "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                "sInfoEmpty": "没有数据",
                "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                "sZeroRecords": "没有检索到数据",
                "sSearch": "检索:",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "前一页",
                    "sNext": "后一页",
                    "sLast": "尾页"
                }
            }
        });
    });
</script>