/*login*/
.login .header,.login form,.login .footer{ position:absolute; width:100%; }

.login form{ top:0; bottom:0; z-index:1; background:#3283AC url(../images/admin-login-bg.jpg) no-repeat center; padding:250px 0; }
.login form table{ border-collapse: separate; text-align:left; padding:30px 0; height:330px; width:560px; margin:0 auto; background:url(../images/admin-loginform-bg.png) no-repeat; }
.login form table td:first-child{ text-align:right; }
.login form input[name=user_name],.login form input[name=user_pass]{ width:80%; }
.login form input[name=sub],.login form input[name=res]{ padding:8px 16px; font-size:16px; cursor:pointer; border-radius:5px; }
.login form input[name=sub]{ color:#fff; background:#5eb95e; }
.login form input[name=sub]:hover{ background:#429842; }
.login form input[name=res]{ color:#333; background:#e6e6e6; }
.login form input[name=res]:hover{ background:#c7c7c7; }

/*login header*/
.login .header{ top:0; z-index:2; height:60px; background:#426374; line-height:60px; color:#fff; font-size:24px; }
.login .header h4{ padding-left:20px; }

/*login footer*/
.login .footer{ bottom:0; height:46px; z-index:2; line-height:46px; color:#fff; background:#426374; border-top:1px solid #e8e8e8; padding:15px 0; text-align:center; }

/*header*/
header{ height:45px; background:#222; }
header .logo{ padding-left:15px; }
header .logo a{ color:#fff; line-height:45px; font-size:16px; }
header .userbar{ color:#fff; line-height:45px; padding-right:25px; }
header .userbar span{ position:relative; padding:0 10px; display:inline-block; height:45px; cursor:pointer; }
header .userbar span:hover{ background:rgba(255,255,255,0.2); transition:background .3s ease 0s; }
header .userbar ul{ position:absolute; left:0px; min-width:120%; background:#fff; border:solid 1px #f2f2f2; z-index:1; }
header .userbar ul li{ border-bottom:solid 1px #f2f2f2; line-height:1.8; text-align:left; cursor:pointer; }
header .userbar ul li:hover{ background:#fafafa; }
header .userbar ul li a{ padding:5px 20px; display:block; }

/*left*/
.left{ overflow:scroll; position:absolute; top:45px; bottom:0; left:0; padding-top:10px; width:199px; background:rgba(238,238,238,0.98);border-right:1px solid #e5e5e5; }
.left ul li{ cursor:pointer; border-bottom:1px solid #e5e5e5; }
.left ul li a{ line-height:35px; padding-left:15px; display:block; position:relative; }
.left ul li a img{ position:absolute; right:15px; top:10px; transform:rotate(0deg); transition-duration:0.3s; }
.left ul li a.selected img{ transform:rotate(180deg); transition-duration:0.3s; }
.left ul li dl{ padding:3px 8px; display:none; }
.left ul li dl dt a{ line-height:32px; padding-left:26px; color:#666; }
.left ul li dl dt:hover,.left ul li dl dt.on{ background:#fafafa; }
.left ul li dl dt:hover a,.left ul li dl dt.on a{ color:#148cf1; }

/*container*/
.container{ position:absolute; top:45px; left:200px; right:0; bottom:0; z-index:0; overflow-y:scroll; }

/*breadcrumbs*/
.breadcrumbs{ }
.location{ border-bottom:1px solid #999; padding:9px 0 0 30px; height:26px; line-height:26px; background:#efeef0; font-size:12px; color:#282828; position:fixed; width:100%; }
.breadcrumb{ padding:35px 20px 0; border-bottom: 1px solid #e5e5e5; line-height: 39px; height: 39px; background:#f5f5f5; }
.breadcrumb a.back{ color: #fff; background: #5eb95e; border-radius: 4px; line-height:32px; padding: 0px 12px; margin-top:4px; }
.breadcrumb a.back:hover{ background:#429842; }

.main{ padding:20px; }

.wel{ }
.wel p{ margin-bottom:10px; }
.wel p:first-child{ font-size:20px; }
.wel table{ text-align:left; margin-bottom:20px; }
.wel table.table1{ text-align:center; }
.wel table.table1 th:first-child{ text-align:left; }
.wel table th{ background:#f5fafe; }
.wel table th,.wel table td{ border:1px solid #ddd; padding:8px; line-height:20px; font-size:12px; }

/*mlist*/
.mlist{}
.mlist table{ border: 1px solid #ddd; }
.mlist table th{ background:#f5fafe; }
.mlist table th,.mlist table td{ border:1px solid #ddd; line-height:36px; font-size:12px; padding:0 8px; }
.mlist table input[type='text']{ height:22px; padding:4px; width:50px; text-align:center; }
/*artbar*/
.artbar{ background: #f5fafe; border: solid 1px #eee; padding: 5px; margin:0 0 20px; }
.artbar a,.artbar span{ display:inline-block; height:24px; line-height:24px; padding: 4px 12px; border-radius: 4px;}
.artbar a img{ vertical-align:baseline; }
.artbar .del{ color: #fff; background: #dd514c; }
.artbar .del:hover{ background: #c62b26; }
.artbar .add{ color: #fff; background: #5a98de; }
.artbar .add img{ vertical-align:middle; }
.artbar .add:hover{ background: #0a6999; }

/*form-add*/
form[name='fadd']{ padding-bottom:20px; text-align:center; }
form[name='fadd'] table tr td{ text-align:left; height:44px; }
form[name='fadd'] table tr td:first-child{ text-align:right; padding-right:20px; font-size:14px; color:#555; }
form[name='fadd'] select{height:32px; border: solid 1px #ddd; padding:0 5px; }
form[name='fadd'] input[type='text'],form[name='fadd'] input[type='password']{ height:22px; padding:4px; width:25%; }
form[name='fadd'] input[name='art_tit']{ width:50%; }
form[name='fadd'] input[name='art_view']{ width:10%; }
form[name='fadd'] textarea{ width:50%; height:100px; }
form[name='fadd'] input[name=sub],form[name='fadd'] input[name=res]{ padding:8px 16px; font-size:16px; cursor:pointer; border-radius:5px; }
form[name='fadd'] input[name=sub]{ color:#fff; background:#5a98de; }
form[name='fadd'] input[name=sub]:hover{ background:#0a6999; }
form[name='fadd'] input[name=res]{ color:#333; background:#e6e6e6; }
form[name='fadd'] input[name=res]:hover{ background:#c7c7c7; }

/*search*/
form[name='search']{ padding-bottom:20px; text-align:center; }
form[name='search'] select{height:32px; border: solid 1px #ddd; padding:0 5px; }
form[name='search'] input[name='keyword']{ height:22px; padding:4px; }
form[name='search'] input[name='sub']{ color: #fff; background:#5eb95e; padding: 5px 12px; height:32px; }
form[name='search'] input[name='sub']:hover{ background:#429842; }

/*gzconfig*/
form[name='gzconfig']{ padding-bottom:20px; }
form[name='gzconfig'] textarea{ width:300px; }
form[name='gzconfig'] input[name='sub']{ color: #fff; background:#5eb95e; padding: 5px 12px; height:32px; }
form[name='gzconfig'] input[name='sub']:hover{ background:#429842; }

/*footer*/
footer{ border-top:1px solid #e8e8e8; padding:15px 0; font-size:12px; color:#999; line-height:22px; text-align:center; }

/*pages*/
.pages{ padding:10px 0; text-align:right; }
.pages a,.pages span{ border:1px solid #ccc; display:inline-block; height:26px; margin: 0 0 6px 6px; padding: 0 10px; font-size: 14px; line-height:26px; }
.pages a:hover,.pages span.current{ background:#5a98de; color:#fff; }

/*category*/
.category{}
.category table{ border: 1px solid #ddd; }
.category table th{ background:#f5fafe; }
.category table th,.category table td{ border:1px solid #ddd; line-height:36px; font-size:12px; padding:0 8px; }
.category table input[type='text']{ height:22px; padding:4px; width:50px; text-align:center; }
/*catebar*/
.catebar{ background: #f5fafe; border: solid 1px #eee; padding: 5px; margin:0 0 20px; }
.catebar a,.catebar span{ display:inline-block; height:24px; line-height:24px; padding: 4px 12px; border-radius: 4px;}
.catebar a img{ vertical-align:baseline; }
.catebar .del{ color: #fff; background: #dd514c; }
.catebar .del:hover{ background: #c62b26; }
.catebar .add{ color: #fff; background: #5a98de; }
.catebar .add img{ vertical-align:middle; }
.catebar .add:hover{ background: #0a6999; }

/*category-create*/
form[name='category']{ padding-bottom:20px; text-align:center; }
form[name='category'] table tr td{ text-align:left; height:44px; }
form[name='category'] table tr td:first-child{ text-align:right; padding-right:20px; font-size:14px; color:#555; }
form[name='category'] select{height:32px; border: solid 1px #ddd; padding:0 5px; }
form[name='category'] input[type='text']{ height:22px; padding:4px; width:50%; }
form[name='category'] input[name='no_order']{ width:10%; }
form[name='category'] input[name='author']{ width:10%; }
form[name='category'] textarea{ width:50%; height:100px; }
form[name='category'] input[name=sub],form[name='category'] input[name=res]{ padding:8px 16px; font-size:16px; cursor:pointer; border-radius:5px; }
form[name='category'] input[name=sub]{ color:#fff; background:#5a98de; }
form[name='category'] input[name=sub]:hover{ background:#0a6999; }
form[name='category'] input[name=res]{ color:#333; background:#e6e6e6; }
form[name='category'] input[name=res]:hover{ background:#c7c7c7; }

/*form-create*/
form.create{ padding-bottom:20px; text-align:center; }
form.create table tr td{ text-align:left; height:44px; }
form.create table tr td:first-child{ text-align:right; padding-right:20px; font-size:14px; color:#555; }
form.create select{height:32px; border: solid 1px #ddd; padding:0 5px; }
form.create input[type='text']{ height:22px; padding:4px; width:25%; }
form.create input[name='group_num']{ width:20%; }
form.create input[name='group_limit']{ width:20%; }
form.create textarea{ width:50%; height:100px; }
form.create input[name=sub],form.create input[name=res]{ padding:8px 16px; font-size:16px; cursor:pointer; border-radius:5px; }
form.create input[name=sub]{ color:#fff; background:#5a98de; }
form.create input[name=sub]:hover{ background:#0a6999; }
form.create input[name=res]{ color:#333; background:#e6e6e6; }
form.create input[name=res]:hover{ background:#c7c7c7; }

/*form-edit*/
form[name='edit']{ padding-bottom:20px; text-align:center; }
form[name='edit'] table tr td{ text-align:left; height:44px; }
form[name='edit'] table tr td:first-child{ text-align:right; padding-right:20px; font-size:14px; color:#555; }
form[name='edit'] select{height:32px; border: solid 1px #ddd; padding:0 5px; }
form[name='edit'] input[type='text']{ height:22px; padding:4px; width:25%; }
form[name='edit'] input[name='group_num']{ width:20%; }
form[name='edit'] input[name='group_limit']{ width:20%; }
form[name='edit'] textarea{ width:50%; height:100px; }
form[name='edit'] input[name=sub],form[name='edit'] input[name=res]{ padding:8px 16px; font-size:16px; cursor:pointer; border-radius:5px; }
form[name='edit'] input[name=sub]{ color:#fff; background:#5a98de; }
form[name='edit'] input[name=sub]:hover{ background:#0a6999; }
form[name='edit'] input[name=res]{ color:#333; background:#e6e6e6; }
form[name='edit'] input[name=res]:hover{ background:#c7c7c7; }
form[name='edit'] input[name=btn],form[name='edit'] input[name=res]{ padding:8px 16px; font-size:16px; cursor:pointer; border-radius:5px; }
form[name='edit'] input[name=btn]{ color:#fff; background:#5a98de; }
form[name='edit'] input[name=btn]:hover{ background:#0a6999; }

.cover{ position:absolute; background:#000; opacity:0.5; height:100%; z-index:100; width:100%; }
.pop{ border-radius:10px; position:absolute; top:15%; left:50%; margin-left:-300px; background:#f5f5f5; height:50%; z-index:101; width:600px; }
.pop h3{ text-align:center; padding:15px 6px 5px; }
.pop .pbd{ text-align:center; padding:5px 6px; }
.pop .btn{ padding:15px 5px 6px; }
.pop input[name=sub],.pop input[name=can]{ padding:8px 16px; font-size:16px; cursor:pointer; border-radius:5px; }
.pop input[name=sub]{ color:#fff; background:#5a98de; }
.pop input[name=sub]:hover{ background:#0a6999; }
.pop input[name=can]{ color:#333; background:#e6e6e6; }
.pop input[name=can]:hover{ background:#c7c7c7; }



#example_info,#example_paginate{   }
/*example_filter*/
#example_filter{ padding-bottom:15px; }
#example_filter input[name='search']{ height:22px; padding:4px; }

#example_length select { height: 32px; border: solid 1px #ddd; padding: 0 5px; }





