<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>西南传媒大学影视学院活动中心</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="stylesheet" href="Public/css/main.css" type="text/css" />
<script type="text/javascript" src="Public/js/jquery.3.4.1.js"></script>
<script type="text/javascript" src="Public/js/common.js"></script>
</head>
<body>

{include file="../Public/header.html"}

    <div class="mainbody">
		<div id="allpic">
			<div id="album_nav"> 
				<span class="total_count">共 <strong>{$res['total_num']}</strong> 个相册</span>
				<input type="button" onclick="create_album(1)" value="创建相册" class="btn" />
			</div>
			<ul class="album">
				{if $res['albums'] neq ''}
					{foreach $res['albums'] as $item}
						<li>
							{if $item['private'] eq 1}<div class="priv" title="私有相册"></div>{/if}
							<span class="img">
								<a href="index.php?m=Admin&c=Album&a=photos&album={$item['id']}">
									<img src="{$item['cover']}" alt="{$item['name']}" />
								</a>
							</span>
							<span class="info"><a onclick="rename_album(this,{$item['id']})">{$item['name']}</a></span>
							<span class="control">
								<a href="javascript:void(0)" onclick="delete_album(this,{$item['id']})">
									<img src="Public/images/delete.gif" alt="删除相册" title="删除相册" />
								</a> 
								<a href="javascript:void(0)" onclick="edit_priv_album(this,{$item['id']})">
									<img src="Public/images/lock.gif" alt="修改权限" title="修改权限" />
								</a>
							</span>
						</li>
					{/foreach}
				{/if}
			</ul>
			<div class="pageset">{$res['show']}</div>
		</div>
	</div>

{include file="../Public/footer.html"}

</body>
</html>