<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>小程序后台</title>
<meta name="keywords" content="" />
<meta name="description" content="" />

<link href="Public/Common/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="Public/Home/css/base.css" rel="stylesheet" type="text/css" />
<link href="Public/Home/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="Public/Common/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="Public/Common/js/jquery.dataTables.min.js"></script>
</head>
<body>

{include file="../Common/header.html"}

{include file="../Common/left.html"}

<section class="container">
	<div class="breadcrumbs">
		<div class="location">文章管理</div>
		<div class="breadcrumb">
			<img src="Public/Home/images/home.png" /> 
			<a href="{U('Index/index')}">首页</a> &gt; 文章管理 &gt; 文章列表
			<a class="back fr" href="javascript:history.back();">返回</a>
		</div>
	</div>
	<div class="main mlist">
		<form name="search" action="{U('Article29/index?method=search')}" method="get">
			<input type="hidden" name="c" value="Article29" />
			<input type="hidden" name="method" value="search" />
			<select name="art_status">
				<option value="">请选择文章状态</option>
				<option value="1">初始</option>
				<option value="2">正常</option>
			</select>
			<input type="text" name="keyword" />
			<input type="submit" name="sub" value="搜索" />
		</form>
		<div class="artbar">
			<a class="del" href=""><img src="Public/Home/images/trash.png" height="12" /> 批量删除</a>
			<a class="add" href="{U('Article29/index?method=add')}"><img src="Public/Home/images/add.png" /> 添加文章</a>
			<a class="add" href="javascript:showPop();"><img src="Public/Home/images/add.png" /> 另存为</a>
			<span class="fr">共有数据：<b>{$res['count']}</b> 条</span>
		</div>
		<table id="example">
			<thead>
				<tr>
					<th width="4%"><input onchange="chooseAll();" value="" name="all" type="checkbox" /></th>
					<th width="6%">ID</th>
					<th>文章标题</th>
					<th>关键词</th>
					<th width="6%">文章分类</th>
					<th width="6%">浏览次数</th>
					<th width="6%">状态</th>
					<th width="12%">添加日期</th>
					<th width="12%">操作</th>
				</tr>
			</thead>
			{foreach from=$res['list'] key=key item=item}
			<tr>
				<td><input value="{$item.art_id}" name="art_id" type="checkbox" /></td>
				<td>{$item.art_id}</td>
				<td>{$item.art_tit}</td>
				<td>{$item.art_keyword}</td>
				<td>{$item.art_cate}</td>
				<td>{$item.art_view}</td>
				<td>
					{if $item.art_status eq 0}
						<font color="black">不显示</font>
					{elseif $item.art_status eq 1}
						<font color="red">初始</font>
					{elseif $item.art_status eq 2}
						<font color="green">正常</font>					
					{elseif $item.art_status eq 3}
						
					{/if}
				</td>
				<td>{$item.art_addtime}</td>
				<td>
					<a href="index.php?m=Home&c=Article29&a=index&method=edit&art_id={$item.art_id}"><img src="Public/Home/images/edit.png" /></a>
					<a onclick="javascript:check_del({$item.art_id})">
						<img src="Public/Home/images/delete.png" />
					</a>
				</td>
			</tr>
			{/foreach}			
		</table>
		<div class="pages">{$res['show']}</div>
	</div>
</section>
<div class="cover hide"></div>
<form name="move" class="pop hide" action="{U('Article29/index?method=moveAll')}" method="post">
	<h3>把选中的文章存入下列小程序表：</h3>
	<div class="pbd">
		<input type="hidden" value="" name="art_ids" />
		{foreach from=$apps key=key item=item}
		{if cookie('user_type') eq 1 or cookie('appid') eq $item['id']}
		{$item.cn_name}：<input type="checkbox" name="table[]" value="{$item.app_id}" /><br/>
		{/if}
		{/foreach}
		<div class="btn">
			<input type="submit" name="sub" value="确定" />
			<input type="button" onclick="cancel();" name="can" value="取消" />
		</div>
	</div>
</form>
<script type="text/javascript">
	//确定删除
	function check_del(art_id){  
		var mymessage=confirm("确认要删除该条记录吗？");  
		if(mymessage==true){  
			location.href='index.php?m=Home&c=Article29&a=index&method=del&art_id='+art_id;
		} 
	} 
	
	$(document).ready(function() {
		$('#example').dataTable({
			"aaSorting": [[ 0, "asc" ]],
			"aLengthMenu":[100,50,10],
			"oLanguage": {    // 语言设置
				"sLengthMenu": "每页显示 _MENU_ 条记录",
				"sZeroRecords": "抱歉， 没有找到",
				"sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
				"sInfoEmpty": "没有数据",
				"sInfoFiltered": "(从 _MAX_ 条数据中检索)",
				"sZeroRecords": "没有检索到数据",
				"sSearch": "检索:",
				"oPaginate": {
					"sFirst": "首页",
					"sPrevious": "前一页",
					"sNext": "后一页",
					"sLast": "尾页"
				}
			}
		});
	});
	
	function chooseAll(){
		if($('input[name=all]').attr('checked')=='checked'){
			$('input[type=checkbox]').attr('checked','checked');
		}else{
			$('input[type=checkbox]').attr('checked',false);
		}
	}
	
	function showPop(){
		$('.cover').removeClass('hide');
		$('.pop').removeClass('hide');
		var chk_value =[];	//定义一个数组  
		$('input[name=art_id]:checked').each(function(){	//遍历每一个名字为interest的复选框，其中选中的执行函数  
			chk_value.push($(this).val());	//将选中的值添加到数组chk_value中  
		});
		$('input[name=art_ids]').val(chk_value);
	}
	
	function cancel(){
		$('.cover').addClass('hide');
		$('.pop').addClass('hide');	
	}
</script>
</body>
</html>