<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>修改管理密码 - {C('gb_name')}</title>
<link href="Public/css/style.css" rel="stylesheet" type="text/css">
</head>
<script type="text/javascript">
function FrontPage_Form1_Validator(theForm){
	if (theForm.opwd.value == ""){
		alert("请填写原密码！");
		theForm.opwd.focus();
		return (false);
	}
	if (theForm.pwd.value == ""){
		alert("新密码还没有填呢！！");
		theForm.pwd.focus();
		return (false);
	}
	if (theForm.pwd.value.length<=2){
		alert("密码过于简单！最低3个字符");
		theForm.pwd.focus();
		return (false);
	}
	if (theForm.pwd2.value == ""){
		alert("确认密码还没有填！！");
		theForm.pwd2.focus();
		return (false);
	}
	if (theForm.pwd.value != theForm.pwd2.value){
		alert("密码不一致！！！");
		theForm.pwd.focus();
		return (false);
	}
	return (true);
}
</script>
<body>
<div id="main">

	{include file="../Public/header.html"}

	<div id="submit">
		{if $res['ac'] neq 'modify'}
			<form name="form1" method="post" action="index.php?m=Home&c=Sysset&a=password" onsubmit="return FrontPage_Form1_Validator(this)">
				<p><img src="Public/images/admin_set.gif" /><img src="Public/images/set.gif" /></p><br />
				<div id="submit_set_left">
					<ul>
						<li><a href="index.php?m=Home&c=Sysset&a=password">修改管理密码</a>
						<li><a href="index.php?m=Home&c=Sysset&a=index">系统参数设置</a>
					</ul>
				</div>
				<div id="submit_set_right">
					<label for="opwd">原始密码：</label>
					<input type="text" name="opwd" id="opwd" />*<br />
					<label for="pwd">新密码：</label>
					<input type="text" name="pwd" id="pwd" />*<br />
					<label for="pwd2">确认新密码：</label>
					<input type="text" name="pwd2" id="pwd2" />*<br />
					<input type="submit" name="sub" value="　确认修改　"> 
					<input name="ac" type="hidden" value="modify" />
				</div> 
				<div class="clear"></div>              
			</form>
		{else}
			<div id="alertmsg">{$res['msg']}</div>
		{/if}
	</div>
</div>

{include file="../Public/footer.html"}

</body>
</html>