<style>
    input {width:200px}
</style>
<form enctype="multipart/form-data" method="post" action="<{:U('Dynamic/dynamicUpdateList', array('method'=>'add'))}>">
    <ul>
        <li>
            <div class="l">允许更新ip段：</div>
            <div class="r"><{$sid_part}></div>
            <div class="r"><span style="color:orange">例：192.168.11.11-192.168.11.40||192.168.22.11-192.168.22.40(连续的范围用-分割，不连续的范围之间用||分割)</span></div>
        </li>
        <li>
            <div class="l">SDK版本号范围：</div>
            <div class="r"><{$sdk_version}></div>
            <div class="r"><span style="color:orange">例：1,5(“,”分割)</span></div>
        </li>
        <li>
            <div class="l">动态包范围：</div>
            <div class="r"><{$dynamic_version}></div>
            <div class="r"><span style="color:orange">例：1,5(“,”分割)</span></div>
        </li>
        <li>
            <div class="l">类型名KEY：</div>
            <div class="r"><{$type_key}></div>
        </li>
        <div class="file_ajax">
        </div>
        <li>
            <div class="l">排序：</div>
            <div class="r"><{$score}></div>
        </li>
        <li>
            <div class="l">备注：</div>
            <div class="r"><{$memo}></div>
        </li>
        <input type="hidden" name="method" value="add">
        <li>
            <input type="submit" value="添加">
        </li>
    </ul>
</form>
<script>
    $("input:radio[name='type_key']").change(function () {
        var cp = $('input[name="type_key"]:checked').val();
        $.ajax({
            url: 'index.php?m=Home&c=Dynamic&a=dynamicPackageList&method=ajax&type_key=' + cp,
            type: 'get',
            success: function (data) {
                $('.file_ajax').html(data);
            }
        });
    });
</script>