<style>
    input {width:200px}
</style>
<form enctype="multipart/form-data" method="post" action="<{:U('Dynamic/dynamicTypeList', array('method'=>'add'))}>">
    <ul>
        <li>
            <div class="l">TAG：</div>
            <div class="r"><{$tid}></div>
        </li>
        <li>
            <div class="l">类型名称：</div>
            <div class="r"><{$type_name}></div>
        </li>
        <li>
            <div class="l">包名：</div>
            <div class="r"><{$package_name}></div>
        </li>
        <li>
            <div class="l">类型名KEY：</div>
            <div class="r"><{$type_key}></div>
        </li>
        <li>
            <div class="l">类型优先级：</div>
            <div class="r"><{$type_score}></div>
            <div class="r"><span style="color:orange">数字越大优先级越高</span></div>
        </li>
        <input type="hidden" name="method" value="add">
        <li>
            <input type="submit" value="添加">
        </li>
    </ul>
</form>