<!doctype html>
<html>
<head>
<meta http-equiv='content-type' content='text/html;charset=utf-8' />
<meta name='description' content=''>
<meta name='keywords' content=''>
<link rel="stylesheet" type="text/css" href="/shop/Public/Common/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/shop/Public/Common/css/base.css" />
<link rel="stylesheet" type="text/css" href="/shop/Public/Admin/css/admin.css" />
<script type="text/javascript" src="/shop/Public/Common/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/shop/Public/Common/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/shop/Public/Common/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/shop/Public/Admin/js/base.js"></script>
<script type="text/javascript" src="/shop/Public/Admin/js/function.js"></script>
<script type="text/javascript" src="/shop/Public/Admin/js/server.js"></script>
<title>商城后台管理</title>
</head>
<body>

{include file="Public/header.html"}

<div class="main_container clearfix">
	
	{include file="Public/left.html"}
	
	<div class="main fr">
		<div class="backup">
			<table class="stable">
				<tr>
					<td>提示</td>
					<td></td>
				</tr>				
				<tr>
					<td colspan="2">
						服务器备份目录为backup<br/>
						对于较大的数据表，强烈建议使用分卷备份<br/>
						只有选择备份到服务器，才能使用分卷备份功能<br/>				
					</td>
				</tr>				
				<tr>
					<td colspan="2">数据备份</td>
				</tr>				
				<tr>
					<td colspan="2">备份方式</td>
				</tr>				
				<tr>
					<td><input type="radio" /> 备份全部数据</td>
					<td>备份全部数据表中的数据到一个备份文件</td>
				</tr>				
				<tr>
					<td>
						<input type="radio" /> 备份单张表数据
						<select name="" class="form-control">
							<option value="">请选择</option>
						</select>
					</td>
					<td>备份选中数据表中的数据到单独的备份文件</td>
				</tr>	
				<tr>
					<td colspan="2">选择目标位置</td>
				</tr>				
				<tr>
					<td colspan="2"><input type="radio" /> 备份到服务器</td>
				</tr>				
				<tr>
					<td colspan="2"><input type="radio" /> 备份到本地</td>
				</tr>	
				<tr>
					<td></td>
					<td><button type="button" onclick="" class="btn btn-default">备份</button></td>
				</tr>
			</table>
		</div>
	</div>
</div>
</body>
</html>










