<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>小程序后台</title>
<meta name="keywords" content="" />
<meta name="description" content="" />

<link href="Public/Common/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="Public/Home/css/base.css" rel="stylesheet" type="text/css" />
<link href="Public/Home/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="Public/Common/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="Public/Common/js/jquery.dataTables.min.js"></script>
</head>
<body>

{include file="../Common/header.html"}

{include file="../Common/left.html"}

<section class="container">
	<div class="breadcrumbs">
		<div class="location">新游戏盒子</div>
		<div class="breadcrumb">
			<img src="Public/Home/images/home.png" /> 
			<a href="{U('Index/index')}">首页</a> &gt; 新游戏盒子 &gt; 游戏类型
			<a class="back fr" href="javascript:history.back();">返回</a>
		</div>
	</div>
	<div class="main mlist">
		<form name="search" action="{U('Nbox/cates?method=search')}" method="get">
			<input type="hidden" name="c" value="Nbox" />
			<input type="hidden" name="method" value="search" />
			<select name="status">
				<option value="">请选类型状态</option>
				<option value="1">初始</option>
				<option value="2">正常</option>
			</select>
			<input type="text" name="keyword" />
			<input type="submit" name="sub" value="搜索" />
		</form>
		<div class="artbar">
			<a class="del" href=""><img src="Public/Home/images/trash.png" height="12" /> 批量删除</a>
			<a class="add" href="{U('Nbox/cates?method=add')}"><img src="Public/Home/images/add.png" /> 添加类型</a>
			<span class="fr">共有数据：<b>{$res['count']}</b> 条</span>
		</div>
		<table id="example">
			<thead>
				<tr>
					<th width="4%"><input onchange="chooseAll();" value="" name="all" type="checkbox" /></th>
					<th width="6%">ID</th>
					<th>类型名称</th>
					<th width="6%">图标</th>
					<th width="6%">状态</th>
					<th width="12%">添加日期</th>
					<th width="12%">操作</th>
				</tr>
			</thead>
			{foreach from=$res['list'] key=key item=item}
			<tr>
				<td><input value="{$item.id}" name="id" type="checkbox" /></td>
				<td>{$item.id}</td>
				<td>{$item.name}</td>
				<td><img width="30" src="http://newsadmin.hmset.com/uploads/test/{$item.img}" /></td>
				<td>
					{if $item.status eq 0}
						<font color="black">显示</font>
					{elseif $item.status eq 1}
						<font color="red">初始</font>
					{elseif $item.status eq 2}
						<font color="green">正常</font>					
					{elseif $item.status eq 3}
						
					{/if}
				</td>
				<td>{$item.addtime}</td>
				<td>
					<a href="index.php?m=Home&c=Nbox&a=cates&method=edit&id={$item.id}"><img src="Public/Home/images/edit.png" /></a>
					<a onclick="javascript:check_del({$item.id})">
						<img src="Public/Home/images/delete.png" />
					</a>
				</td>
			</tr>
			{/foreach}			
		</table>
		<div class="pages">{$res['show']}</div>
	</div>
</section>
<script type="text/javascript">
	//确定删除
	function check_del(id){  
		var mymessage=confirm("确认要删除该条记录吗？");  
		if(mymessage==true){  
			location.href='index.php?m=Home&c=Nbox&a=cates&method=del&id='+id;
		} 
	} 
	
	$(document).ready(function() {
		$('#example').dataTable({
			"aaSorting": [[ 0, "asc" ]],
			"aLengthMenu":[100,50,10],
			"oLanguage": {    // 语言设置
				"sLengthMenu": "每页显示 _MENU_ 条记录",
				"sZeroRecords": "抱歉， 没有找到",
				"sInfo": "从 _ST 到 _END_ /共 _TOTAL_ 条数据",
				"sInfoEmpty": "没有数据",
				"sInfoFiltered": "(从 _MAX_ 条数据中检索)",
				"sZeroRecords": "没有检索到数据",
				"sSearch": "检索:",
				"oPaginate": {
					"sFirst": "首页",
					"sPrevious": "前一页",
					"sNext": "后一页",
					"sLast": "尾页"
				}
			}
		});
	});
	
	function chooseAll(){
		if($('input[name=all]').attr('checked')=='checked'){
			$('input[type=checkbox]').attr('checked','checked');
		}else{
			$('input[type=checkbox]').attr('checked',false);
		}
	}
</script>
</body>
</html>