<link href="__PUBLIC__/art/ui-dialog.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/art/ui-table.css" rel="stylesheet" type="text/css"/>
<script language="javascript" src="__PUBLIC__/js/country_language_picker.js"></script>
<script language="javascript" src="__PUBLIC__/art/dialog-plus-min.js"></script>
<script lanugae="javascript" src="__PUBLIC__/js/admin/calendar/laydate.js"></script>
<style>
    .title {
        padding-left: 50px;;
    }

    .googleTask {
        margin: 10px;
        10px;
    }
</style>
<form enctype="multipart/form-data" method="post" action="<{:U('Google/taskManager', array('method'=>'edit_one'))}>">
    <ul>
        <li>
            <div class="l">CP：</div>
            <div class="r"><{$cp}></div>
        </li>
        <li>
            <div class="l">游戏：</div>
            <div class="r gid_ajax"><{$gid}></div>
        </li>
        <li>
            <div class="l">任务标题</div>
            <div class="r"><{$task_name}></div>
        </li>
        <li>
            <div class="l">任务类型：</div>
            <div class="r"><{$task_type}></div>
        </li>
        <li>
            <div class="l">国家语言：</div>
            <div class="r"><{$country}></div>
        </li>
        <li>
            <div class="l">是否启用：</div>
            <div class="r"><{$approved}></div>
        </li>
        <li>
            <div class="l">任务数量：</div>
            <div class="r"><{$promote}></div>
        </li>
        <li>
            <div class="l">开始时间：</div>
            <div class="r"><{$start_time}></div>
        </li>
        <li>
            <div class="l">结束时间：</div>
            <div class="r"><{$end_time}></div>
        </li>

        <li>
            <div class="l">关键词：</div>
            <div class="r"><{$keywords}><span style="color: red;">&nbsp;&nbsp;&nbsp;不支持多个关键词</span></div>
        </li>
        <li>
            <div class="l">备注：</div>
            <div class="r"><{$note}></div>
        </li>
        <input type="hidden" name="method" value="edit_one">
        <li>
            <input type="hidden" value="<{$id}>" name="id">
            <input type="submit" value="保存">
        </li>
    </ul>
</form>

<script type="text/javascript">
    var country_language_list = <{$country_language_list|json_encode}>;
    $(function(){
        $('input[name="country"]').click(function(){
            if(country_language_list.length<=0){
                alert('请设置国家语言！');
                return false;
            }
            showCountryLanguagePicker($(this));
        });
    });
    function setCountrySelect(){};
    $('select[name="cp"]').change(function () {
        var cp = $(this).children('option:selected').val();
        $.ajax({
            url: 'index.php?m=Home&c=Google&a=gidSelectAjax&cp=' + cp,
            type: 'get',
            success: function (data) {
                $('.gid_ajax').html(data);
            }
        });
    });
</script>