<link href="__PUBLIC__/art/ui-dialog.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/art/ui-table.css" rel="stylesheet" type="text/css"/>
<script language="javascript" src="__PUBLIC__/js/country_language_picker.js"></script>
<script language="javascript" src="__PUBLIC__/art/dialog-plus-min.js"></script>
<script lanugae="javascript" src="__PUBLIC__/js/admin/calendar/laydate.js"></script>
<style>
    .title {
        padding-left: 50px;;
    }
    .googleTask {
        margin: 10px;
        10px;
    }
</style>
<form enctype="multipart/form-data" method="post" action="<{:U('Google/taskManager', array('method'=>'add'))}>"
      onsubmit="return check_submit();">
    <ul>
        <li>
            <div class="l">CP：</div>
            <div class="r"><{$cp}></div>
        </li>
        <li>
            <div class="l">游戏：</div>
            <div class="r gid_ajax"><{$gid}></div>
        </li>
        <li>
            <div class="l">任务标题:</div>
            <div class="r"><{$task_name}></div>
        </li>
        <li>
            <div class="l">任务类型：</div>
            <div class="r"><{$task_type}></div>
        </li>
        <li>
            <div class="l">国家语言：</div>
            <div class="r"><{$country}></div>
        </li>
        <li>
            <div class="l">是否启用：</div>
            <div class="r"><{$approved}></div>
        </li>
        <li>
            <div class="l">备注：</div>
            <div class="r"><{$note}></div>
        </li>
        <li id="addTask">
            <div class="l">&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div class="r"><input value="添加任务量" type="button" onclick="addTask();" style="margin-left: 550px;"></div>
        </li>
        <input type="hidden" name="taskNum" value="0">
        <input type="hidden" name="method" value="add">
        <li>
            <input type="submit" value="保存">
        </li>
    </ul>
</form>

<script type="text/javascript">

    var country_language_list = <{$country_language_list|json_encode}>;
    function getCountryLanguage(obj){
        if(country_language_list.length<=0){
            alert('请设置国家语言！');
            return false;
        }
        showCountryLanguagePicker(obj);
    }
    function setCountrySelect(){};

    $('select[name="cp"]').change(function () {
        var cp = $(this).children('option:selected').val();
        $.ajax({
            url: 'index.php?m=Home&c=Google&a=gidSelectAjax&cp=' + cp,
            type: 'get',
            success: function (data) {
                $('.gid_ajax').html(data);
            }
        });
    });
    function addTask() {
        var taskNum = $('input[name="taskNum"]').val();
        taskNum++;
        var date1 = createRandomNumber(1, 100000);
        var date2 = createRandomNumber(1, 100000);
        var _html = '<li id="task' + taskNum + '"><div class="l">task' + taskNum + '：</div>' +
                '<div class="r">' +
                '<div class="googleTask"><span>任务数量:&nbsp;&nbsp; </span><input name="promote' + taskNum + '"  type="text"></div>' +
                '<div class="googleTask"><span>开始时间:&nbsp;&nbsp; </span><input name="start_time' + taskNum + '" id="date' + date1 + '" onclick="laydate({elem: \'#date' + date1 + '\',istime: true, format: \'YYYY-MM-DD hh:mm:ss\'})" readonly="readonly" type="text"></div>' +
                '<div class="googleTask"><span>结束时间:&nbsp;&nbsp; </span><input name="end_time' + taskNum + '" id="date' + date2 + '" onclick="laydate({elem: \'#date' + date2 + '\',istime: true, format: \'YYYY-MM-DD hh:mm:ss\'})" readonly="readonly" type="text"></div>' +
//                '<div class="googleTask"><span>国家语言:&nbsp;&nbsp; </span><input onclick="getCountryLanguage($(this));" name="country' + taskNum + '" type="text"/></div>' +
                '<div class="googleTask"><span>关键词:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><textarea name="keywords' + taskNum + '"></textarea><span style="color: red;">&nbsp;&nbsp;&nbsp;多个关键词用逗号隔开</span></div>' +
                '<div class="googleTask"><input value="删除" type="button" onclick="delTask(' + taskNum + ');" style="margin-left: 550px;"></div>' +
                '</div></li>';
        $('#addTask').before(_html);
        $('input[name="taskNum"]').val(taskNum);
    }


    function delTask(taskNum) {
        $('#task' + taskNum).remove();
    }
    function createRandomNumber(num, maxNum) {
        if (!maxNum || !num) {
            alert("please input two Number");
            return false;
        }

        var flag = 0,
                i = 0,
                arr = [];

        if (maxNum - num < 0) {
            flag = maxNum;
            maxNum = num;
            num = flag;
        }

        for (; i < maxNum; i++) {
            arr[i] = i - 0 + 1;
        }

        arr.sort(function (p1, p2) {
            return 0.5 - Math.random();
        });

        //上面这段代码，就是该思想的核心。
        arr.length = num;
        return arr;
    }


    function check_submit() {
        if (!$("[name='cp']").val()) {
            alert('请选择CP！');
            return false;
        }
        if (!$("[name='packagename']").val()) {
            alert('请选择游戏！');
            return false;
        }
        if (!$("[name='task_name']").val()) {
            alert('请填写任务标题！');
            return false;
        }
        if (!$('[name="country"]').val()) {
            alert('请选择国家语言！');
            return false;
        }
        var tasknum = $('[name="taskNum"]').val();
        var flag = false;
        if (tasknum > 0) {
            for (var i = 1; i <= tasknum; i++) {
                if ($('[name="promote' + i + '"]').length >= 1) {
                    if (!$('[name="promote' + i + '"]').val()) {
                        alert('请填写 task' + i + '任务数量！');
                        return false;
                    }
                    if (!$('[name="start_time' + i + '"]').val()) {
                        alert('请填写 task' + i + '开始时间！');
                        return false;
                    }
                    if (!$('[name="end_time' + i + '"]').val()) {
                        alert('请填写 task' + i + '结束时间！');
                        return false;
                    }
                    //结束时间大于开始时间
                    if(!validTime($('[name="start_time' + i + '"]').val(),$('[name="end_time' + i + '"]').val())){
                        alert('task' + i+' 结束日期不能小于开始日期');
                        return false;
                    }

//                    if (!$('[name="country' + i + '"]').val()) {
//                        alert('请填写 task' + i + '国家语言！');
//                        return false;
//                    }

                    if ($('[name="task_type"]:checked').val() == 2) {
                        //判断关键词
                        if (!$('[name="keywords' + i + '"]').val()) {
                            alert('请填写 task' + i + '关键词！');
                            return false;
                        }
                    }
                    flag = true;
                }
            }
        }
        if (!flag) {
            alert('请添加任务量！');
            return false;
        }
        return true;
    }

    function validTime(startTime,endTime){
        var arr1 = startTime.split("-");
        var  second1 = arr1[2].split(" ");
        var arr2 = endTime.split("-");
        var second2 = arr2[2].split(" ");
        var date1=new Date(parseInt(arr1[0]),parseInt(arr1[1])-1,parseInt(arr1[2]),parseInt(second1[1]),0,0);
        var date2=new Date(parseInt(arr2[0]),parseInt(arr2[1])-1,parseInt(arr2[2]),parseInt(second2[1]),0,0);
        if(date1.getTime()>=date2.getTime()) {
            return false;
        }else{
            return true;
        }
        return false;
    }
</script>