<!doctype html>
<html>
<head>
<title>巢湖市槐林中学--oa管理系统</title>
<link type="text/css" href="Public/css/bootstrap.min.css" rel="stylesheet">
<link type="text/css" href="Public/css/admin.css" rel="stylesheet">
<script type="text/javascript" src="Public/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="Public/js/base.js"></script>
</head> 
<body>

{include file="Public/header.html"}

<div class="home_container clearfix">

	{include file="Public/left.html"}
	
	<div class="home_right">
		<div class="main clearfix">
			<div class="breadcrumb"><a>教学管理</a></div>
			<div class="manage_items">
				<b>管理选项：</b><a href="">学生成绩发布</a> | <a href="">学生成绩列表</a> 
			</div>
			<div class="location">
				<b>当前位置 >> 学生成绩管理 >> 学生成绩发布(第一步：上传文件)</b>
			</div>
			<div class="score">
				<table>
					<tr>
						<th colspan="4">学生成绩上传</th>
					</tr>
					<tr>
						<td>选择文件：<input type="file" /></td>
						<td><input type="submit" value="确定" /></td>
						<td> <input type="submit" value="取消" /></td>
						<td><b><font color="red">上传说明：上传文件只能为excel中的csv格式的文件，下载：</font>csv格式文件</b></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>

{include file="Public/footer.html"}

</body>
</html>