<!doctype html>
<html>
<head>
<title>巢湖市槐林中学--oa管理系统</title>
<link type="text/css" href="Public/css/bootstrap.min.css" rel="stylesheet">
<link type="text/css" href="Public/css/admin.css" rel="stylesheet">
<script type="text/javascript" src="Public/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="Public/js/base.js"></script>
</head> 
<body>

{include file="Public/header.html"}

<div class="home_container clearfix">

	{include file="Public/left.html"}
	
	<div class="home_right">
		<div class="main clearfix">
			<div class="breadcrumb"><a>教学管理</a></div>
			<div class="manage_items">
				<b>管理选项：</b><a href="">课表查询</a> | <a href="">我的课表</a> | <a href="">管理课表</a> | <a href="">添加课程表</a> 
			</div>
			<div class="location">
				<b>当前位置 >> 课程表 >> 课表查询</b>
			</div>
			<div class="edu_search">
				<form name="" method="post" action="">
					<table>
						<tr>
							<th colspan="4">课表查询</th>
						</tr>
						<tr class="green">
							<td><font color="blue"><b>查询班级课表：</b></font></td>
							<td>
								<select class="form-control" name="">
									<option value="">请选择班级</option>
									{foreach from=$result_arr['classset'] key=key item=item}
									<option value="{$item['id']}">{$item['name']}</option>
									{/foreach}
								</select>	
							</td>
							<td><input class="form-control" name="username" id="username" placeholder="请输入课表年份" type="text"></td>
							<td><button>显示课程表</button></td>
						</tr>
					</table>
				</form>
				<form name="" method="post" action="">
					<table>
						<tr class="blue">
							<td><font color="blue"><b>查询教师课表：</b></font></td>
							<td>
								<select class="form-control" name="">
									<option value="">请选择教师</option>
								</select>	
							</td>
							<td><input class="form-control" name="username" id="username" placeholder="请输入课表年份" type="text"></td>
							<td><button>显示课程表</button></td>
						</tr>
					</table>
				</form>
				<form name="" method="post" action="">
					<table>
						<tr>
							<td><font color="red"><b>生成全部课表：</b></font></td>
							<td><input class="form-control" name="username" id="username" placeholder="请输入课表年份" type="text"></td>
							<td><button>所有教师课表保存为word</button></td>
							<td><button>所有班级课表保存为word</button></td>
						</tr>
					</table>
				</form>
				<p><font color="red">说明：年份输入格式为 2008 或 2009 这种格式 不允许为 08 或 09 简单格式</font><font color="blue">----不输入为默认当年</font></p>
			</div>
		</div>
	</div>
</div>

{include file="Public/footer.html"}

</body>
</html>