<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>小程序后台</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="Public/Home/css/base.css" rel="stylesheet" type="text/css" />
<link href="Public/Home/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="Public/Common/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="Public/Common/js/calendar/laydate.js"></script>
</head>
<body>

{include file="../Common/header.html"}

{include file="../Common/left.html"}

<section class="container">
	<div class="breadcrumbs">
		<div class="location">小程序管理</div>
		<div class="breadcrumb">
			<img src="Public/Home/images/home.png" /> 
			<a href="{U('Index/index')}">首页</a> &gt; 小程序管理 &gt; 小程序添加
			<a class="back fr" href="javascript:history.back();">返回</a>
		</div>
	</div>
	<div class="main">
		<font color="#f00"></font>
		<form name="fadd" action="{U('WeChat/index?method=add')}" method="post" onsubmit="return check();">
			<table>
				<!--<tr>
					<td><font color="#f00">*</font>小程序类别：</td>
					<td>
						<select name="type">
							<option value="0">请选择小程序类别</option>
							{foreach from=$res['wechat_cates'] key=key item=item}
							<option value="{$item['id']}">{$item['name']}</option>
							{/foreach}
						</select>
					</td>
				</tr>-->
				<tr>
					<td width="18%"><font color="#f00">*</font>应用ID：</td>
					<td>
						<input type="text" name="app_id" />
					</td>
				</tr>
				<tr>
					<td><font color="#f00">*</font>应用中文名称：</td>
					<td><input type="text" name="cn_name" /></td>
				</tr>				
				<tr>
					<td><font color="#f00">*</font>应用英文名称：</td>
					<td><input type="text" name="name" /></td>
				</tr>		
				<tr>
					<td><font color="#f00">*</font>应用秘钥：</td>
					<td><input type="text" name="secret" /></td>
				</tr>	
				<tr>
					<td></td>
					<td>
						<input type="submit" name="sub" value="保存" />
						<input type="reset" name="res" value="重置" />
					</td>
				</tr>
			</table>
		</form>
		<script type="text/javascript">
			function check(){				
				if(fadd.app_id.value==''){
					alert('应用ID不能为空！');
					fadd.app_id.focus();
					return false;
				}				
				if(fadd.name.value==''){
					alert('应用名称不能为空！');
					fadd.name.focus();
					return false;
				}				
				if(fadd.secret.value==''){
					alert('应用秘钥不为空！');
					fadd.secret.focus();
					return false;
				}
			}
		</script>
	</div>
</section>
</body>
</html>