<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>小程序</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="Public/Home/css/base.css" rel="stylesheet" type="text/css" />
<link href="Public/Home/css/style.css" rel="stylesheet" type="text/css" />
<link href="Public/Common/js/chosen_v1.8.4/chosen.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="Public/Common/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="Public/Common/js/chosen_v1.8.4/chosen.jquery.js"></script>
</head>
<body>

{include file="../Common/header.html"}

{include file="../Common/left.html"}

<section class="container">
	<div class="breadcrumbs">
		<div class="location">小程序管理</div>
		<div class="breadcrumb">
			<img src="Public/Home/images/home.png" /> 
			<a href="{U('Index/index')}">首页</a> &gt; 小程序管理 &gt; 编辑盒子游戏
			<a class="back fr" href="{U('WeChat/appConfig?method=list')}">返回</a>
		</div>
	</div>
	<div class="main">
		<font color="#f00"></font>
		<form name="fadd" action="{U('WeChat/appConfig?method=edit')}" method="post" onsubmit="return check();">
			<table>
				<input type="text" style="display: none" name="id" value="{$smarty.get.id}">
				<tr>
					<td><font color="#f00">*</font>添加的盒子：</td>
					<td>
						<select name="apps[]" multiple id="apps">
							{foreach from=$apps key=key item=item}
							<option value="{$item['app_id']}">{$item['name']}--{$item['cn_name']}</option>
							{/foreach}
						</select>
					</td>
				</tr>
				<tr>
					<td><font color="#f00">*</font>应用名：</td>
					<td>
						<input type="text" name="name" value="{$res['name']}" />
					</td>
				</tr>
				<tr>
					<td><font color="#f00">*</font>应用描述：</td>
					<td>
						<input type="text" name="title" value="{$res['title']}" />
					</td>
				</tr>
				<tr>
					<td><font color="#f00">*</font>新游戏：</td>
					<td>
						<select name="is_new" id="isNew">
							<option value="0">否</option>
							<option value="1">是</option>
						</select>
					</td>
				</tr>
				<tr>
					<td><font color="#f00">*</font>游戏分类：</td>
					<td>
						<select name="game_type" id="gameType">
							<option value="0">默认(仅在全部游戏中显示)</option>
							{foreach from=$cates key=key item=item}
							<option value="{$item['cate_id']}">{$item['cate_name']}</option>
							{/foreach}
						</select>
					</td>
				</tr>
				<tr>
					<td><font color="#f00">*</font>游戏标签：</td>
					<td>
						<select name="tag[]" id="tag" multiple style="width: 150px;">
							<option value="1"> 超火 </option>
							<option value="2"> 推荐 </option>
						</select>
					</td>
				</tr>
				<tr>
					<td><font color="#f00">*</font>应用头像：</td>
					<td>
						<input type="text" name="icon_url" style="display: none;" id="imgUrl" value="{$res['icon_url']}"/>
						<input type="file"  id="imageUrl"/>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<img src="{$res['icon_url']}" alt="图标图片" style="width: 150px;" id="coverImg">
					</td>
				</tr>
				<tr>
					<td><font color="#f00">*</font>排序值(越大越靠前)：</td>
					<td>
						<input type="number" max="999" min="0" name="sort" value="{$res['sort']}"/>
					</td>
				</tr>
				<tr>
					<td><font color="#f00">*</font>玩家数(单位万)：</td>
					<td>
						<input type="number" max="9999" min="0" name="player_count" value="{$res['player_count']}" />
					</td>
				</tr>
				<tr>
					<td><font color="#f00">*</font>APPID：</td>
					<td>
						<input type="text"  name="app_id" value="{$res['app_id']}" />
					</td>
				</tr>				
				<tr>
					<td><font color="#f00">*</font>APPID2：</td>
					<td>
						<input type="text"  name="appid2" value="{$res['appid2']}" />
					</td>
				</tr>
				<tr>
					<td>路径与参数(不填跳转到首页)：</td>
					<td>
						<input type="text" name="path" value="{$res['path']}"  />
					</td>
				</tr>

				<tr>
					<td><font color="#f00">*</font>(优先跳转,非关联应用扫码)二维码：</td>
					<td>
						<input type="text" name="code_img" style="display: none;" id="codeImg" value="{$res['code_img']}"/>
						<input type="file"  id="code"/>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<img src="{$res['code_img']}" alt="图标图片" style="width: 150px;" id="codeShowImg">
					</td>
				</tr>

				<tr>
					<td></td>
					<td>
						<input type="submit" name="sub" value="保存" />
						<input type="reset" name="res" value="重置" />
					</td>
				</tr>
			</table>
		</form>
		<script type="text/javascript">
			$(function () {
				//绑定上传
                $('#imageUrl').on('change',function () {
                    //触发异步上传
                    var url = "{U('AdConfig/ajaxImgSave')}";
                    var file = document.getElementById("imageUrl").files[0];
                    var formData = new FormData();
                    formData.append('file',file);
                    $.ajax({
                        url: url,
                        type: "post",
                        data: formData,
                        contentType: false,
                        processData: false,
                        mimeType: "multipart/form-data",
                        success: function (data) {
							var values = JSON.parse(data);
							if(values.status == 1){
                                $('#coverImg').attr('src',values.path);
                                $('#imgUrl').val(values.path);
							}
                        },
                        error: function (data) {
                            console.log(data);
                        }
                    });
                });

                $('#code').on('change',function () {
                    //触发异步上传
                    var url = "{U('AdConfig/ajaxImgSave')}";
                    var file = document.getElementById("code").files[0];
                    var formData = new FormData();
                    formData.append('file',file);
                    $.ajax({
                        url: url,
                        type: "post",
                        data: formData,
                        contentType: false,
                        processData: false,
                        mimeType: "multipart/form-data",
                        success: function (data) {
                            var values = JSON.parse(data);
                            if(values.status == 1){
                                $('#codeShowImg').attr('src',values.path);
                                $('#codeImg').val(values.path);
                            }
                        },
                        error: function (data) {
                            console.log(data);
                        }
                    });
                });


                var type = "{$res['path']}";
                $('#gameType').val(type);
                var isNew = "{$res['is_new']}"
				$('#isNew').val(isNew);
                var apps = "{$res['apps']}";
                var appArr = apps.split(',');
				$('#apps').val(appArr);

                var tag = "{$res['tag']}";
                var tagArr = tag.split(',');
				$('#tag').val(tagArr);
                $('#tag').chosen();
                $('#apps').chosen();
            });
			function check(){
				return true;
			}
		</script>
	</div>
</section>
</body>
</html>