<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>小程序</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="Public/Home/css/base.css" rel="stylesheet" type="text/css" />
<link href="Public/Home/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="Public/Common/js/jquery-3.3.1.min.js"></script>
</head>
<body>

{include file="../Common/header.html"}

{include file="../Common/left.html"}

<section class="container">
	<div class="breadcrumbs">
		<div class="location">小程序管理</div>
		<div class="breadcrumb">
			<img src="Public/Home/images/home.png" />
			<a href="{U('Index/index')}">首页</a> &gt; 小程序管理 &gt; 数学小工具下载
			<a class="back fr" href="{U('Index/index')}">返回</a>
		</div>
	</div>
	<div class="main mlist">
		<div class="artbar">
			<a class="add" href="index.php?m=Home&c=WeChat&a=getHomeworkBox"><img src="Public/Home/images/add.png" />生成</a>
			<span class="fr">共有数据：<b>{$res['count']}</b> 条</span>
		</div>
		<table>	
			<tr>
				<th width="15%">appid</th>
				<th width="15%">项目名</th>
				<th width="15%">页面名</th>
				<th width="15%">类型</th>
				<th width="15%">下载次数</th>
				<th width="10%">操作</th>
			</tr>
			{foreach from=$res['list'] key=key item=item}
			<tr>
				<td>{$item.app_id}</td>
				<td>{$item.project_name}</td>
				<td>{$item.page_name}</td>
				<td>{$item.type}</td>
				<td>{$item.count}</td>
				<td>
					<a href="index.php?m=Home&c=WeChat&a=downHomeworkBox&appid={$item.app_id}&projectName={$item.project_name}&pageName={$item.page_name}&mb={$item.mb}">下载</a>
				</td>
			</tr>
			{/foreach}			
		</table>
		<div class="pages">{$res['show']}</div>
	</div>
</section>
</body>
</html>