<!doctype html>
<html>
<head>
<meta http-equiv='content-type' content='text/html;charset=utf-8' />
<meta name='description' content=''>
<meta name='keywords' content=''>
<link type="text/css" href="Public/css/bootstrap.min.css" rel="stylesheet">
<link rel='stylesheet' type='text/css' href='Public/css/base.css' />
<link rel='stylesheet' type='text/css' href='Public/css/home.css' />
<script type="text/javascript" src="Public/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="Public/js/base.js"></script>
<title>首页--企业网站--技术支持</title>
</head>
<body>

{include file="Public/header.html"}

<div class="container">
	<div class="aArea wrap clearfix">
		<div class="about">
			<div class="hd">公司简介</div>
			<div class="bd">{$result_arr['index']['content']}</div>
		</div>
		<div class="news">
			<div class="hd">最新动态</div>
			<div class="bd">
				<ul class="clearfix">
					{foreach from=$result_arr['news_list'] key=key item=item}
						<li>
							<img src="Public/images/list.gif" />
							<a href="" target="_blank">{$item['title']}</a>
							[{date('Y-m-d',$item['updatetime'])}]
						</li>
					{/foreach}
				</ul>
			</div>
		</div>
	</div>
	<div class="bArea wrap">
		<div class="hd">推荐产品</div>
		<div class="bd">
			<ul class="clearfix">
				{foreach from=$result_arr['product_list'] key=key item=item}
					<li>
						<a href="" target="_blank">
							<img src="{$item['imgurls']}" /><br/>
							{$item['title']}
						</a>
					</li>
				{/foreach}
			</ul>
		</div>
	</div>
	<div class="cArea wrap">
		<div class="hd">友情链接</div>
		<div class="bd">
			<ul class="clearfix">
				{foreach from=$result_arr['link_list'] key=key item=item}
					<li>
						<a href="" target="_blank">
							<img height="43" src="{$item['logo']}" alt="" /><br/>
							{$item['name']}
						</a>
					</li>
				{/foreach}
			</ul>
		</div>
	</div>
</div>

{include file="Public/footer.html"}

</body>
</html>










