/*login*/
.loginbd .top{ background:url(../images/login_top_bg.gif) repeat-x; height:41px; }
.loginbd .container{ background:url(../images/login_bg.jpg) repeat-x; height:532px; }
.loginbd .container .note{ text-align:right; width: 50%; background: url(../images/login_content_bg.gif) no-repeat scroll right center; height:100%; }
.loginbd .container .note .logo{ padding:160px 100px 0 0;  }
.loginbd .container .note ul{ margin-top: 10px; font-size: 1.2em; padding:0px 100px 0 0; }
.loginbd .container .note ul li{ line-height:30px; }
.loginbd .container .login{ width:50%; }
.loginbd .login_bottom{ line-height: 50px; color: #b9e8f5; font-size: 15px; background-color: #1D3647; }
.loginbd form{ padding:160px 0 0 100px; text-align:left; }
.loginbd form h4{ font-size:16px; line-height:42px; }
.loginbd form .tip { max-height: 20px; line-height: 20px; color: #f00; }
.loginbd form table{ width:50%; text-align:left; }
.loginbd form table td{ height:36px; }
.loginbd form table td input[name="code"]{ width:80px; }
.loginbd form table td img{ height:24px; margin-left:6px;cursor:pointer; }

/*index*/
.index .bdtop{ height:200px; text-align:left; }
.index .aArea{ width:50%; }
.index .aArea h3{ padding-bottom:12px; }
.index .aArea p{ line-height:28px; font-size:15px; text-indent:2em; }
.index .bArea{ padding:0 8px 12px 0px; width:40%; border:1px solid #ccc; min-height:150px; }
.index .bArea h4{ padding-left:32px; color:#333; background:url(../images/news_title_bg.gif); line-height:27px; font-weight:bold; }
.index .bArea ul{ padding-left:25px; }
.index .bArea ul li{ line-height:25px; font-size:15px; }
.index .bdbot{ height:200px; text-align:left; border-bottom:1px solid #ccc; }

/*cate*/
.cate{}
.cate table{ border: 1px solid #e1e5ee; }
.cate table td,.cate table th{ height: 20px; padding: 5px 0 5px 35px; border-bottom: 1px solid #e1e5ee; text-align:left; }

.cate table.list tr th { background: #e7f1fe; text-align:center; font-size:13px; }
.cate table.list tr:hover{ background-color: #e4f0df; }
.cate table.list tr td{ text-align:center; }

