<style>
    select{width:100px}
</style>
<form method="post" action="<{$url}>">
    <table>
        <tr>
            <td>SID：<{$search_id}></td>
            <td>手机tag：<{$search_iphone_tag}></td>
            <td>lua程序版本：<{$search_version}></td>
            <td>IP段：<{$search_tag}></td>
            <td style="text-align: left" colspan="2"><input type="submit" value="查询" ></td>
        </tr>
    </table>
</form>
<div class="clear"></div>
<span>共<b style="color: red"><{$count}></b>条</span>&nbsp;&nbsp;&nbsp;&nbsp;
<br/>
<span>已开启iphone：<b style="color: red"><{$total_count.iphone_open}></b></span>&nbsp;&nbsp;&nbsp;&nbsp;
<span>心跳正常：<b style="color: red"><{$total_count.heartbeat}></b></span>&nbsp;&nbsp;&nbsp;&nbsp;
<span>心跳超时：<b style="color: red"><{$total_count.heartbeat_over}></b></span>&nbsp;&nbsp;&nbsp;&nbsp;
<br/>

<form action="/index.php?m=Home&c=Iphone&a=iphoneList&method=import" method="post" id="submitform">
    <br style="height: 3px;"/>
    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th><input type="checkbox" name="all" onclick="checkAll($(this),'id[]');"/></th>
            <th>SID</th><th>手机型号</th><th>系统版本</th>
            <th>心跳时间</th><th>版本类型</th><th>tag</th>
            <volist name="dynamic_class_list" id="vo">
                <th><{$key}></th>
            </volist>
        </tr>
        </thead>
        <tbody>
        <volist name="data" id="vo">
            <tr>
                <td><{$vo.selectid}></td>
                <td><{$vo.sid}></td>
                <td><{$vo.model}></td>
                <td><{$vo.systemversion}></td>
                <td><{$vo.heartbeat}></td>
                <td><{$vo.version_type}></td>
                <td><{$vo.tag}></td>
                <volist name="dynamic_class_list" id="dy_class_key">
                    <td><{$vo[$key]}></td>
                </volist>
            </tr>
        </volist>
        </tbody>
    </table>
</form>
<div>共<span style="color: red;"><{$count}></span>条</div>
<script>
    $(document).ready(function() {
        $('#example').dataTable({
            "aoColumnDefs": [ { "bSortable": false, "aTargets": [ 0 ] }],
            "aaSorting": [[ 4, "desc" ]],
            "aLengthMenu":[1000,300,200,100],
            "oLanguage": {    // 语言设置
                "sLengthMenu": "每页显示 _MENU_ 条记录",
                "sZeroRecords": "抱歉， 没有找到",
                "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                "sInfoEmpty": "没有数据",
                "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                "sZeroRecords": "没有检索到数据",
                "sSearch": "检索:",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "前一页",
                    "sNext": "后一页",
                    "sLast": "尾页"
                }
            },
        });
    });
</script>