<style>
    select{width:100px}
</style>
<form method="post" action="<{$url}>">
    <table>
        <tr>
            <td>SID：<{$search_id}></td>
            <td>手机tag：<{$search_iphone_tag}></td>
            <td>lua程序版本：<{$search_version}></td>
            <td>IP段：<{$search_tag}></td>
            <td style="text-align: left" colspan="2"><input type="submit" value="查询" ></td>
        </tr>
    </table>
</form>
<div class="clear"></div>
<span>共<b style="color: red"><{$count}></b>条</span>&nbsp;&nbsp;&nbsp;&nbsp;
<br/>
<span>已开启iphone：<b style="color: red"><{$total_count.iphone_open}></b></span>&nbsp;&nbsp;&nbsp;&nbsp;
<span>心跳正常：<b style="color: red"><{$total_count.heartbeat}></b></span>&nbsp;&nbsp;&nbsp;&nbsp;
<span>心跳超时：<b style="color: red"><{$total_count.heartbeat_over}></b></span>&nbsp;&nbsp;&nbsp;&nbsp;
<!--<span>已分配VPN：<b style="color: red"><{$total_count.distribution1}></b></span>&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--<span>分配成功VPN：<b style="color: red"><{$total_count.distribution2}></b></span>&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--<span>分配失败VPN：<b style="color: red"><{$total_count.distribution3}></b></span>&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--<span>IP切换失败VPN：<b style="color: red"><{$total_count.distribution4}></b></span>&nbsp;&nbsp;&nbsp;&nbsp;-->
<br/>
<div>
    &nbsp;&nbsp;&nbsp;<input type="button" name="quxuan" class="quxuan" value="批量修改" onclick="groupEdit();">
    &nbsp;&nbsp;&nbsp;<input type="button" name="quxuan" class="quxuan" value="批量删除" onclick="groupDel();">
    &nbsp;&nbsp;&nbsp;<input type="button" name="redis" class="redis" value="更新缓存" onclick="updateRedis();">
</div>
<div class="groupEdit" style="display: none;position: absolute;left: 500px;top: 200px;background-color: #00E8D7;padding: 10px;z-index: 1000">
    <div style="height: 18px;text-align: right"><span class="icon_delete group_close" style="cursor: pointer"></span></div>
    是否启用：<{$group_status}><br/>
    版本类型：<{$group_version_type}><br/>
    hosts版本更新：<{$group_hosts_can_update}><br/>
    lua版本更新：<{$group_lua_can_update}><br/>
    apk版本更新：<{$group_apk_can_update}><br/>
    down_apk版本更新：<{$group_down_apk_can_update}><br/>
    是否快速输入：<{$group_is_fast}><br/>
    手机模式：<{$group_net_type}><br/>
    TAG：<{$group_tag}><br/>
    端口：<{$group_port}><br/>
    <!--是否删除Iphone：<{$group_del}>-->
    <br/><br/><br/><span class="success_log_field" style="width: 100px; height: 30px;display: block;font-size: 16px;line-height: 30px;text-align: center;" onclick="groupEditResult();">修改</span>
</div>

<form action="/index.php?m=Home&c=Iphone&a=iphoneList&method=import" method="post" id="submitform">
    <br style="height: 3px;"/>
    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th><input type="checkbox" name="all" onclick="checkAll($(this),'id[]');"/></th>
            <th>SID</th><th>手机型号</th><th>系统版本</th>
            <th>心跳时间</th><th>版本类型</th>
            <th>hosts版本</th><th>hosts更新</th><th>lua版本</th><th>lua更新</th><th>apk版本</th><th>apk更新</th><th>down_apk版本</th><th>down_apk更新</th><th>手机模式</th><th>是否启用</th><th>是否定位</th><th>是否快速</th><th width="65px">操作</th><th>安卓id</th><th>TAG</th><th>备注</th><th>端口</th>
        </tr>
        </thead>
        <tbody>
        <volist name="data" id="vo">
            <tr>
                <td><{$vo.selectid}></td>
                <td><{$vo.sid}></td>
                <td><{$vo.model}></td>
                <td><{$vo.systemversion}></td>
                <td><{$vo.heartbeat}></td>
                <td><{$vo.version_type}></td>
                <td><{$vo.hosts_version}></td>
                <td><{$vo.hosts_can_update}></td>
                <td><{$vo.lua_version}></td>
                <td><{$vo.lua_can_update}></td>
                <td><{$vo.apk_version}></td>
                <td><{$vo.apk_can_update}></td>
                <td><{$vo.down_apk_version}></td>
                <td><{$vo.down_apk_can_update}></td>
                <td><{$vo.net_type}></td>
                <td><{$vo.status}></td>
                <td><{$vo.is_position}></td>
                <td><{$vo.is_fast}></td>
                <td><{$vo.caozuo}></td>
                <td><{$vo.deviceid}></td>
                <td><{$vo.tag}></td>
                <td><{$vo.remark}></td>
                <td><{$vo.port}></td>
            </tr>
        </volist>
        </tbody>
    </table>
</form>
<div>共<span style="color: red;"><{$count}></span>条</div>
<script>
    $(document).ready(function() {
        $('#example').dataTable({
            "aoColumnDefs": [ { "bSortable": false, "aTargets": [ 0 ] }],
            "aaSorting": [[ 4, "desc" ]],
            "aLengthMenu":[1000,300,200,100],
            "oLanguage": {    // 语言设置
                "sLengthMenu": "每页显示 _MENU_ 条记录",
                "sZeroRecords": "抱歉， 没有找到",
                "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                "sInfoEmpty": "没有数据",
                "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                "sZeroRecords": "没有检索到数据",
                "sSearch": "检索:",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "前一页",
                    "sNext": "后一页",
                    "sLast": "尾页"
                }
            },
        });
    });
    function checkAll(obj, target) {
        if (!target) {
            alert('您没有指定操作vpnid！');
            return false;
        }
        $(':checkbox[name="' + target + '"]').each(function () {
            $(this).prop('checked', obj.is(':checked'));
        });
    }

    function groupEdit() {
        if ($(':checkbox[name="id[]"]:checked').length <= 0) {
            alert('请选择导出账号ID');
            return false;
        }
        var id = '';
        $(':checkbox[name="id[]"]').each(function () {
            if ($(this).is(':checked')) {
                id += id ? ',' + $(this).val() : $(this).val();
            }
        });
        if (!id) {
            alert('请选择导出账号ID');
            return false;
        }
        $(".groupEdit").show();
    }

    function updateRedis() {
        $.ajax({
            url : "index.php?m=Home&c=Account&a=updateRedis",
            type : 'post',
            data:{table:'iphone_mst'},
            success : function(data){
                alert(data);
                window.location.reload();
            }
        });
    }
	
	function groupDel(){
		if ($(':checkbox[name="id[]"]:checked').length <= 0) {
            alert('请选择需要删除手机ID');
            return false;
        }
        var id = '';	
		$(':checkbox[name="id[]"]').each(function () {
            if ($(this).is(':checked')) {
                id += id ? ',' + $(this).val() : $(this).val();
            }
        });
		if(confirm("是否确定要删除选择的手机信息？删除后将不可恢复！")){
			$.ajax({
				url : "index.php?m=Home&c=Iphone&a=iphoneList&method=groupDel",
				type : 'post',
				data:{ids:id},
				success : function(data){
					alert(data);
					window.location.reload();
				}
			});	
		}
	}

    function groupEditResult() {
        if ($(':checkbox[name="id[]"]:checked').length <= 0) {
            alert('请选择导出账号ID');
            return false;
        }
        var id = '';
        $(':checkbox[name="id[]"]').each(function () {
            if ($(this).is(':checked')) {
                id += id ? ',' + $(this).val() : $(this).val();
            }
        });
        if (!id) {
            alert('请选择导出账号ID');
            return false;
        }
        var group_status = $('input[name="group_status"]:checked').val();
        var group_is_fast = $('input[name="group_is_fast"]:checked').val();
        var group_hosts_can_update = $('input[name="group_hosts_can_update"]:checked').val();
        var group_lua_can_update = $('input[name="group_lua_can_update"]:checked').val();
        var group_apk_can_update = $('input[name="group_apk_can_update"]:checked').val();
        var group_down_apk_can_update = $('input[name="group_down_apk_can_update"]:checked').val();
        var group_net_type = $('select[name="group_net_type"]').val();
        var group_tag = $('select[name="group_tag"]').val();
        var group_version_type = $('select[name="group_version_type"]').val();
        var group_port = $('input[name="group_port"]').val();
        var group_del = $('input[name="group_del"]:checked').val();
        $.ajax({
            url : "index.php?m=Home&c=Iphone&a=iphoneList&method=group",
            type : 'post',
            data:{
                id:id,group_status:group_status,group_is_fast:group_is_fast,group_version_type:group_version_type,group_hosts_can_update:group_hosts_can_update,group_lua_can_update:group_lua_can_update,group_apk_can_update:group_apk_can_update,group_down_apk_can_update:group_down_apk_can_update,group_net_type:group_net_type,group_tag:group_tag,group_port:group_port,group_del:group_del
            },
            success : function(data){
                alert(data);
                window.location.reload();
            }
        });
    }

    $(".group_close").click(function(){
        $(".groupEdit").hide();
    });
</script>