<form enctype="multipart/form-data" method="post" action="<{:U('Iphone/iphoneList', array('method'=>'add'))}>">
    <ul>
        <li>
            <div class="l">UUID：</div>
            <div class="r"><{$deviceid}></div>
        </li>
        <li>
            <div class="l">手机型号：</div>
            <div class="r"><{$model}></div>
        </li>
        <li>
            <div class="l">版本类型：</div>
            <div class="r"><{$version_type}></div>
        </li>
        <li>
            <div class="l">iphone版本：</div>
            <div class="r"><{$systemversion}></div>
        </li>
        <li>
            <div class="l">hosts版本：</div>
            <div class="r"><{$hosts_version}></div>
        </li>
        <li>
            <div class="l">lua版本：</div>
            <div class="r"><{$lua_version}></div>
        </li>
        <li>
            <div class="l">apk版本：</div>
            <div class="r"><{$apk_version}></div>
        </li>
        <li>
            <div class="l">down_apk版本：</div>
            <div class="r"><{$down_apk_version}></div>
        </li>
        <li>
            <div class="l">手机模式：</div>
            <div class="r"><{$net_type}></div>
        </li>
        <li>
            <div class="l">绑定的vpn：</div>
            <div class="r"><{$vpnid}></div>
        </li>
        <li>
            <div class="l">绑定的IP：</div>
            <div class="r"><{$ip}></div>
        </li>
        <li>
            <div class="l">TAG：</div>
            <div class="r"><{$tag}></div>
        </li>
        <li>
            <div class="l">备注：</div>
            <div class="r"><{$remark}></div>
        </li>
        <li>
            <div class="l">端口：</div>
            <div class="r"><{$port}></div>
        </li>
        <input type="hidden" name="method" value="add">
        <li>
            <input type="submit" value="添加">
        </li>
    </ul>
</form>