<table>
    <thead>
        <tr>
            <th>TAG</th>
            <th>真机数量</th>
            <th>心跳正常数量</th>
            <th>心跳正常占比</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><{$total.tag}></td>
            <td><{$total.count}></td>
            <td><{$total.time_count}></td>
            <td><{$total.count_rate}></td>
        </tr>
        <volist name="total_result" id="vo">
            <tr>
                <td><{$vo.tag}></td>
                <td><{$vo.count}></td>
                <td><{$vo.time_count}></td>
                <td><{$vo.count_rate}></td>
            </tr>
        </volist>
    </tbody>
</table>