<style>
    select{width:100px}
</style>
<form method="post" action="<{$url}>">
    <table>
        <tr>
            <td>开始时间：<{$start}></td>
            <td>结束时间：<{$end}></td>
            <td style="text-align: left" colspan="2"><input type="submit" value="查询" ></td>
        </tr>
    </table>
</form>
<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>IP段</th><th>总提交</th><th>成功数</th><th>成功率</th><th>等待Accept协议超时</th><th>GooglePlay主界面超时</th><th>打开APP失败</th><th>网络备注说明</th>
    </tr>
    </thead>
    <tbody>
    <volist name="data" id="vo">
        <tr>
            <td><{$vo.sid}></td>
            <td><{$vo.count}></td>
            <td><{$vo.success}></td>
            <td><{$vo.rate}></td>
            <td><{$vo.accept_outtime}></td>
            <td><{$vo.googleplay_outtime}></td>
            <td><{$vo.app_fail}></td>
            <td><{$vo.memo}></td>
        </tr>
    </volist>
    </tbody>
</table>
<script>
    $(document).ready(function() {
        $('#example').dataTable({
            "aoColumnDefs": [ { "bSortable": false, "aTargets": [ 0 ] }],
            "aaSorting": [[ 1, "desc" ]],
            "aLengthMenu":[300,200,100],
            "oLanguage": {    // 语言设置
                "sLengthMenu": "每页显示 _MENU_ 条记录",
                "sZeroRecords": "抱歉， 没有找到",
                "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                "sInfoEmpty": "没有数据",
                "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                "sZeroRecords": "没有检索到数据",
                "sSearch": "检索:",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "前一页",
                    "sNext": "后一页",
                    "sLast": "尾页"
                }
            },
        });
    });
</script>