<form enctype="multipart/form-data" method="post" action="<{:U('Iphone/proxyServerList', array('method'=>'edit'))}>">
    <ul>
        <li>
            <div class="l">名称：</div>
            <div class="r"><{$name}></div>
        </li>
        <li>
            <div class="l">服务器类型：</div>
            <div class="r"><{$proxy_type}></div>
        </li>
        <li>
            <div class="l">绑定设备类型：</div>
            <div class="r"><{$device_type}></div>
        </li>
        <li>
            <div class="l">IP：</div>
            <div class="r"><{$ip}></div>
        </li>
        <li>
            <div class="l">host版本：</div>
            <div class="r"><{$host_version}></div>
        </li>
        <li>
            <div class="l">IP段：</div>
            <div class="r gid_ajax"><{$sid_part}></div>
        </li>
        <li>
            <div class="l">开始/结束：</div>
            <div class="r"><{$sid_part_start}>--<{$sid_part_end}></div>
        </li>
        <li>
            <div class="l">AllocationId：</div>
            <div class="r"><{$allocationId}></div>
        </li>
        <li>
            <div class="l">区域代码：</div>
            <div class="r"><{$region}></div>
        </li>
        <li>
            <div class="l">区域名称：</div>
            <div class="r"><{$region_name}></div>
        </li>
        <input type="hidden" name="method" value="edit">
        <input type="hidden" name="id" value="<{$id}>">
        <li>
            <input type="submit" value="修改">
        </li>
    </ul>
</form>

<script type="text/javascript">
	$('select[name="device_type"]').change(function(){
        var type = $(this).children('option:selected').val();
        $.ajax({
            url : 'index.php?m=Home&c=Iphone&a=gidSelectAjax&type=' + type,
            type : 'get',
            success : function(data){
                $('.gid_ajax').html(data);
            }
        });
    });
</script>