<form method="post" action="<{$url}>">
    <table>
        <tr>
            <td>开始日期：<{$search_start}></td>
            <td>结束日期：<{$search_end}></td>
            <td>CP：<{$search_cp}></td>
            <td>包名：<{$search_package_name}></td>
            <td><input type="submit" value="查询" ></td>
        </tr>
    </table>
</form>
<br style="height: 3px;"/>
<table>
    <th>开始时间/结束时间</th><th>游戏名</th><th>包名</th><th>任务数</th><th>下发数</th><th>提交数</th><th>成功数</th><th>展开</th>
    <volist name="result" id="vo1">
        <tr>
            <td><{$vo1.start}><br><{$vo1.end}></td>
            <td><{$vo1.game_name}></td>
            <td><div style="overflow-y: scroll;width: 300px;height: 50px;white-space: normal;"><{$vo1.package_name}></div></td>
            <td><{$vo1.count}></td>
            <td><{$vo1.issued_num}></td>
            <td><{$vo1.submit_nums}></td>
            <td><{$vo1.success_nums}></td>
            <td><{$vo1.zhankai}></td>
        </tr>
    </volist>
</table>

<div class="group_detail_div" style="display: none;position: absolute;background-color: #00E8D7;padding: 10px">
    <div style="height: 18px">
        <span class="icon_delete group_close" style="cursor: pointer;display: inline;float: left"></span>
        <span class="icon_delete group_close" style="cursor: pointer;display: inline;float: right"></span>
    </div>
    <div class="group_detail"></div>
</div>

<script>
    $(".open_group").click(function(){
        var groupid = $(this).attr('attr');
        var url = "index.php?m=Home&c=Iphone&a=totalListBusinessDetailList";
        $.ajax({
            url : url,
            type : 'post',
            data:{groupid:groupid},
            success : function(data){
                $(".group_detail").html(data);
                var top = ($(window).height() - $("#popDiv").height())/2;
                var scrollTop = $(document).scrollTop();
                $(".group_detail_div").css( { 'display' : 'block', 'top' : top + scrollTop - 400,'margin-left' : '30px'} ).show();
            }
        });
        return false;
    });

    $(".group_close").click(function(){
        $(".group_detail_div").hide();
    });
</script>

