<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>小程序</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="Public/Home/css/base.css" rel="stylesheet" type="text/css" />
<link href="Public/Home/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="Public/Common/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="Public/Common/js/layDate-v5.0.9/laydate/laydate.js"></script>
</head>
<body>

{include file="../Common/header.html"}

{include file="../Common/left.html"}

<section class="container">
	<div class="breadcrumbs">
		<div class="location">配置广告</div>
		<div class="breadcrumb">
			<img src="Public/Home/images/home.png" /> 
			<a href="{U('Index/index')}">首页</a> &gt; 配置广告 &gt; 添加广告
			<a class="back fr" href="{U('AdConfig/advert?method=list')}">返回</a>
		</div>
	</div>
	<div class="main">
		<font color="#f00"></font>
		<form name="fadd" action="{U('AdConfig/advert?method=add')}" method="post" onsubmit="return check();">
			<table>
				<tr>
					<td><font color="#f00">*</font>标题：</td>
					<td>
						<input type="text" name="title" />
					</td>
				</tr>
				<tr>
					<td><font color="#f00">*</font>图片地址：</td>
					<td>
						<input type="text" name="image" />
					</td>
				</tr>
				<tr>
					<td><font color="#f00">*</font>图片地址类型：</td>
					<td>
						<select name="image_type">
							<option value="1">绝对路径</option>
							<option value="2">相对路径</option>
						</select>
					</td>
				</tr>
				<tr>
					<td><font color="#f00">*</font>跳转：</td>
					<td>
						<input type="text" name="url" />
					</td>
				</tr>
				<tr>
					<td><font color="#f00">*</font>是否置顶：</td>
					<td>
						<select name="isTop">
							<option value="0">否</option>
							<option value="1">是</option>
						</select>
					</td>
				</tr>
				<tr>
					<td><font color="#f00">*</font>开始时间：</td>
					<td>
						<input name="start_time" class="time"  type="text" readonly="readonly" />
					</td>
				</tr>
				<tr>
					<td><font color="#f00">*</font>结束时间：</td>
					<td>
						<input name="end_time" class="time" type="text" readonly="readonly" />
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<input type="submit" name="sub" value="保存" />
						<input type="reset" name="res" value="重置" />
					</td>
				</tr>
			</table>
		</form>
		<script type="text/javascript">
            $(function () {
                lay('.time').each(function(){
                    laydate.render({
                        elem: this
                        ,type: 'datetime'
                    });
                });
            });

			function check(){
				return true;
			}
		</script>
	</div>
</section>
</body>
</html>