<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>小程序</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="Public/Home/css/base.css" rel="stylesheet" type="text/css" />
<link href="Public/Home/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="Public/Common/js/jquery-3.3.1.min.js"></script>
</head>
<body>

{include file="../Common/header.html"}

{include file="../Common/left.html"}

<section class="container">
	<div class="breadcrumbs">
		<div class="location">配置广告</div>
		<div class="breadcrumb">
			<img src="Public/Home/images/home.png" /> 
			<a href="{U('Index/index')}">首页</a> &gt; 配置广告 &gt; 广告信息
			<a class="back fr" href="javascript:history.back();">返回</a>
		</div>
	</div>
	<div class="main mlist">
		<div class="artbar">
			<a class="add" href="index.php?m=Home&c=AdConfig&a=advert&method=add"><img src="Public/Home/images/add.png" /> 添加广告</a>
			<span class="fr">共有数据：<b>{$count}</b> 条</span>
		</div>
		<table>	
			<tr>
				<th width="4%"></th>
				<th width="20%">广告标题</th>
				<th width="10%">图片地址</th>
				<th width="7%">图片路径类型</th>
				<th width="10%">内容地址</th>
				<th width="5%">是否置顶</th>
				<th width="10%">开始时间</th>
				<th width="10%">结束时间</th>
				<th width="8%">添加日期</th>
				<th width="8%">最近编辑</th>
				<th width="12%">操作</th>
			</tr>
			{foreach from=$list key=key item=item}
			<tr>
				<td><input value="" name="" type="checkbox" /></td>
				<td>{$item.title}</td>
				<td><a href="{$item.image}" target="_blank">{$item.image}</a></td>
				<td>
					{if $item.image_type eq 1}
					绝对路径
					{else}
					相对路径
					{/if}
				</td>
				<td>{$item.url}</td>
				<td>
				{if $item.isTop eq 1}
				是
				{else}
				否
				{/if}
				</td>
				<td>{$item.start_time}</td>
				<td>{$item.end_time}</td>
				<td>{$item.add_time}</td>
				<td>{$item.update_time}</td>
				<td>
					<a href="index.php?m=Home&c=AdConfig&a=advert&method=edit&id={$item.id}"><img src="Public/Home/images/edit.png" /></a>
					<a onclick="javascript:check_del('{$item.id}')">
						<img src="Public/Home/images/delete.png" />
					</a>
				</td>
			</tr>
			{/foreach}			
		</table>
		<div class="pages">{$page}</div>
	</div>
</section>
<script type="text/javascript">
	//确定删除
	function check_del(id){  
		var mymessage=confirm("确认要删除该条记录吗？");  
		if(mymessage==true){  
			location.href='index.php?m=Home&c=AdConfig&a=advert&method=del&id='+id;
		} 
	} 
</script>
</body>
</html>