<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>小程序</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="Public/Home/css/base.css" rel="stylesheet" type="text/css" />
<link href="Public/Home/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="Public/Common/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="Public/Common/js/calendar/laydate.js"></script>
</head>
<body>

{include file="../Common/header.html"}

{include file="../Common/left.html"}

<section class="container">
	<div class="breadcrumbs">
		<div class="location">配置广告</div>
		<div class="breadcrumb">
			<img src="Public/Home/images/home.png" />
			<a href="{U('Index/index')}">首页</a> &gt; 配置广告 &gt; 编辑广告位
			<a class="back fr" href="{U('AdConfig/index?method=list')}">返回</a>
		</div>
	</div>
	<div class="main">
		<font color="#f00"></font>

		<form name="fadd" action="{U('AdConfig/index?method=edit')}" method="post" onsubmit="return check();">
			<table>
				<input type="text" style="display: none" name="id" value="{$smarty.get.id}  ">
				<tr>
					<td><font color="#f00">*</font>appid：</td>
					<td>
						<select name="app_id" id="app_id">
							{foreach from=$apps key=key item=item}
							<option value="{$item['app_id']}">{$item['name']}--{$item['cn_name']}</option>
							{/foreach}
						</select>
					</td>
				</tr>
				<tr>
					<td><font color="#f00">*</font>位置id：</td>
					<td>
						<input type="text" name="position_id" value="{$res['position_id']}"/>
					</td>
				</tr>
				<tr>
					<td><font color="#f00">*</font>该位置最大广告数量：</td>
					<td>
						<input type="number" name="max_number" value="{$res['max_number']}" max="60" min="0" />
					</td>
				</tr>
				<tr>
					<td><font color="#f00">*</font>该位置描述：</td>
					<td>
						<input type="text" name="describe" value="{$res['describe']}"/>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<input type="submit" name="sub" value="保存" />
						<input type="reset" name="res" value="重置" />
					</td>
				</tr>
			</table>
		</form>
		<script type="text/javascript">
			$(function () {
					var appid = "{$res['app_id']}";
					$('#app_id').val(appid);
            });
			function check(){
                if(fadd.max_number.value < 0){
                    alert('输入正确数量！');
                    fadd.max_number.focus();
                    return false;
                }
                return true;
			}
		</script>
	</div>
</section>
</body>
</html>