<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>小程序</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="Public/Home/css/base.css" rel="stylesheet" type="text/css" />
<link href="Public/Home/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="Public/Common/js/jquery-3.3.1.min.js"></script>
</head>
<body>

{include file="../Common/header.html"}

{include file="../Common/left.html"}

<section class="container">
	<div class="breadcrumbs">
		<div class="location">配置广告</div>
		<div class="breadcrumb">
			<img src="Public/Home/images/home.png" /> 
			<a href="{U('Index/index')}">首页</a> &gt; 配置广告 &gt; 广告展位
			<a class="back fr" href="javascript:history.back();">返回</a>
		</div>
	</div>
	<div class="main mlist">
		<div class="artbar">
			<a class="add" href="index.php?m=Home&c=AdConfig&a=index&method=add"><img src="Public/Home/images/add.png" /> 添加位置</a>
			<span class="fr">共有数据：<b>{$count}</b> 条</span>
		</div>
		<table>	
			<tr>
				<th width="4%"></th>
				<th width="10%">appid</th>
				<th width="10%">位置ID</th>
				<th width="6%">最大广告数</th>
				<th width="20%">描述</th>
				<th width="12%">添加日期</th>
				<th width="12%">最近编辑</th>
				<th width="12%">操作</th>
			</tr>
			{foreach from=$list key=key item=item}
			<tr>
				<td><input value="" name="" type="checkbox" /></td>
				<td>{$item.app_id}</td>
				<td>{$item.position_id}</td>
				<td>{$item.max_number}</td>
				<td>{$item.describe}</td>
				<td>{$item.add_time}</td>
				<td>{$item.update_time}</td>
				<td>
					<a href="index.php?m=Home&c=AdConfig&a=index&method=edit&id={$item.id}"><img src="Public/Home/images/edit.png" /></a>
					<a onclick="javascript:check_del('{$item.id}')">
						<img src="Public/Home/images/delete.png" />
					</a>
				</td>
			</tr>
			{/foreach}			
		</table>
		<div class="pages">{$page}</div>
	</div>
</section>
<script type="text/javascript">
	//确定删除
	function check_del(id){  
		var mymessage=confirm("确认要删除该条记录吗？");  
		if(mymessage==true){  
			location.href='index.php?m=Home&c=AdConfig&a=index&method=del&id='+id;
		} 
	} 
</script>
</body>
</html>