<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>小程序</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="Public/Home/css/base.css" rel="stylesheet" type="text/css" />
<link href="Public/Home/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="Public/Common/js/jquery-3.3.1.min.js"></script>
</head>
<body>

{include file="../Common/header.html"}

{include file="../Common/left.html"}

<section class="container">
	<div class="breadcrumbs">
		<div class="location">广告配置</div>
		<div class="breadcrumb">
			<img src="Public/Home/images/home.png" /> 
			<a href="{U('Index/index')}">首页</a> &gt; 广告配置 &gt; 广告信息
			<a class="back fr" href="{U('Index/index')}">返回</a>
		</div>
	</div>
	<div class="main mlist">
		<div class="artbar">
			<a class="add" href="index.php?m=Home&c=AdConfig&a={$action}&method=add"><img src="Public/Home/images/add.png" /> 添加广告</a>
			<span class="fr">共有数据：<b>{$count}</b> 条</span>
		</div>
		<table>	
			<tr>
				<th width="10%">appid</th>
				<th width="10%">应用名</th>
				<th width="7%">广告标题</th>
				<th width="9%">内容链接</th>
				<th width="5%">排序</th>
				<th width="5%">是否置顶</th>
				<th width="10%">跳转APPID</th>
				<th width="7%">开始时间</th>
				<th width="7%">结束时间</th>
				<th width="7%">最近编辑</th>
				<th width="12%">操作</th>
			</tr>
			{foreach from=$list key=key item=item}
			<tr>
				<td>{$item.appid}</td>
				<td>{$item.name}</td>
				<td>{$item.title}</td>
				<td>{$item.url}</td>
				<td>{$item.sort}</td>
				<td>
					{if $item.is_top eq 1}
					是
					{else}
					否
					{/if}
				</td>
				<td>{$item.jump_appid}</td>
				<td>{$item.start_time}</td>
				<td>{$item.end_time}</td>
				<td>{$item.update_time}</td>
				<td>
					<a href="index.php?m=Home&c=AdConfig&a={$action}&method=edit&id={$item.id}"><img src="Public/Home/images/edit.png" /></a>
					<a onclick="javascript:check_del('{$item.id}')">
						<img src="Public/Home/images/delete.png" />
					</a>
				</td>
			</tr>
			{/foreach}			
		</table>
		<div class="pages">{$page}</div>
	</div>
</section>
<script type="text/javascript">
	//确定删除
	function check_del(id){  
		var mymessage=confirm("确认要删除该条记录吗？");  
		if(mymessage==true){  
			location.href='index.php?m=Home&c=AdConfig&a={$action}&method=del&id='+id;
		} 
	} 
</script>
</body>
</html>