.fl{ float:left; }
.fr{ float:right; }
li{ list-style:none; }
a:hover{ text-decoration:none; }
.red{ color:#f00; }
dl{ margin:0; padding:0; }

/*用户登录*/
.login{ background:#eee; }
.login form{ width:490px; margin:120px auto 0; background:#cbddf3; padding:0 7px 15px; }
.login form .hd{ padding-bottom:10px; }
.login form .hd span{ color:#15428b; font-weight:bold; font-size:11px; }
.login form .bd{ margin:0 auto 15px; padding:6px 8px; background:#fff; }
.login form .bd table{ width:100%; }
.login form .bd tr{ height:40px; line-height:40px; }
.login form .bd input{ width:65%; }
.login form .bd select{ width:65%; }
.login form .bd tr td #chknumber{ width:20%; display:inline; }
.login form .bd tr td img{ height:32px; }
.login form .bd tr td.note{ color:#f00; font-size:11px; }
.login form .bd tr td.note a{ color:blue; font-weight:bold; }
.login form .sub{ text-align:right; }

/*头部公共样式*/
.header{}
.header_sub{ padding:0 3px; height:26px; background:#cbdbee; }
.header_sub h6{ margin:0px; height:100%; line-height:26px; color:#f00; font-weight:bold; }
.header_nav{ }
.header_nav ul{ margin:0px; }
.header_nav ul li{ cursor:pointer; float:left; line-height:26px; font-size:12px; padding-left:18px; position:relative; }
.header_nav ul li.home{ background:url(../images/home.gif) no-repeat left; padding-left:18px; }
.header_nav ul li span{ padding-right:10px; background:url(../images/btn-arrow.gif) no-repeat right 0px; }
.header_nav ul li dl.sub_nav{ background:#f0f0f0; position:absolute; width:100px; border:1px solid #718bb7; padding:2px 2px; }
.header_nav ul li dl.sub_nav dt{ padding-left:5px; line-height:24px; border:1px solid transparent; position:relative; }
.header_nav ul li dl.sub_nav dt:hover{ background:#ebf3fd; border:1px solid #aaccf6; }
.header_nav ul li dl.sub_nav dt a{ color:#233d6d; font-weight:normal; }
.header_nav ul li dl.sub_nav dt span{ display:block; width:80px; background:url(../images/menu-parent.gif) no-repeat right; }
.header_nav ul li dl.sub_nav dt .third_nav{ background:#f0f0f0; border:1px solid #718bb7; position:absolute; width:100px; text-indent:12px; left:93px; top:0px; }
.header_nav ul li dl.sub_nav dt .third_nav a{ display:block; border:1px solid transparent; margin:2px; }
.header_nav ul li dl.sub_nav dt .third_nav a:hover{ background:#ebf3fd; border:1px solid #aaccf6; }

.home_container{}

/*左侧公共样式*/
.home_left{ width:12%; float:left; }
.home_left dl.left_menu{ background:#e6effe; border:1px solid #99bbe8; border-bottom:none; }
.home_left dl.left_menu dt.hd{ padding-left:5px; font-size:11px; color:#15428b; border-bottom:1px solid #99bbe8; line-height:24px; }
.home_left dl.left_menu dt.quick_tools{ padding:2px 5px; font-size:11px; font-weight:normal; border-bottom:1px solid #99bbe8; line-height:24px; }
.home_left dl.left_menu dt.work_menu{ border-bottom:1px solid #99bbe8; }
.home_left dl.left_menu dt.work_menu span{ display:block; padding-left:5px; font-size:11px; border-bottom:1px solid #99bbe8; line-height:24px; }
.home_left dl.left_menu dt.work_menu span b{ cursor:pointer; float:right; margin:5px 4px 0px 0px; display:inline-block; background:url(../images/tool-sprites.gif) no-repeat 0 -255px; height:15px; width:15px; }
.home_left dl.left_menu dt.work_menu span b:hover{ background:url(../images/tool-sprites.gif) no-repeat -15px -255px; }
.home_left dl.left_menu dt.work_menu ul{ min-height:500px; background:#fff; }
.home_left dl.left_menu dt.sys_menu{ padding-left:5px; font-size:11px; border-bottom:1px solid #99bbe8; line-height:24px; }

/*home样式*/
.home_right{ width:88%; float:right; }
.home_right .main{ padding:5px 10px 3px 10px; }

/*home_left样式*/
.home_right .main_left{ width:66%; }
.home_right .main_left table{ width:100%; text-align:center; }

.home_right .main_left .aArea{ border:1px solid #ccc; margin-bottom:10px; }
.home_right .main_left .aArea .hd{ padding-left:24px; line-height:28px; font-size:12px; background:#e6effe url(../images/mytable.gif) no-repeat left center; color:#f00; font-weight:bold; }
.home_right .main_left .aArea .bd{ padding:0 2px; background:#eee; border-top:1px solid #fff; }

.home_right .main_left .bArea{ border:1px solid #ccc; margin-bottom:10px; }
.home_right .main_left .bArea .hd{ border-bottom:1px solid #5b9cde; padding-left:24px; line-height:28px; font-size:12px; background:#e6effe; font-weight:bold; }
.home_right .main_left .bArea .hd span{ cursor:pointer; border-top-right-radius:6px; border-top-left-radius:6px; color:#fff; border:1px solid #ccc; border-bottom:none; display:inline-block; padding:0 12px; margin:3px 3px 0; background:#83b8ee; }
.home_right .main_left .bArea .hd span.current{ color:#000; background:#5895d8; }
.home_right .main_left .bArea .hd span:hover{ color:#000; background:#5895d8; }
.home_right .main_left .bArea .bd{ padding:0 2px; background:#eee; border-top:1px solid #fff; }

.home_right .main_left .cArea{ border:1px solid #ccc; margin-bottom:10px; }
.home_right .main_left .cArea .hd{ padding-left:24px; line-height:28px; font-size:12px; background:#e6effe url(../images/mytable.gif) no-repeat left center; font-weight:bold; }
.home_right .main_left .cArea .bd{ padding:0 2px; background:#eee; border-top:1px solid #fff; }

.home_right .main_left .dArea{ border:1px solid #ccc; margin-bottom:10px; }
.home_right .main_left .dArea .hd{ padding-left:24px; line-height:28px; font-size:12px; background:#e6effe url(../images/mytable.gif) no-repeat left center; font-weight:bold; }
.home_right .main_left .dArea .bd{ padding:0 2px; background:#eee; border-top:1px solid #fff; }

.home_right .main_left .eArea{ border:1px solid #ccc; margin-bottom:10px; }
.home_right .main_left .eArea .hd{ padding-left:24px; line-height:28px; font-size:12px; background:#e6effe url(../images/mytable.gif) no-repeat left center; font-weight:bold; }
.home_right .main_left .eArea .bd{ padding:0 2px; background:#eee; border-top:1px solid #fff; }


/*home_right样式*/
.home_right .main_right{ width:33.3%; }

.home_right .main_right .fArea{ border:1px solid #ccc; margin-bottom:10px; }
.home_right .main_right .fArea .hd{ padding-left:2px; line-height:28px; font-size:12px; background:#e6effe; font-weight:bold; }
.home_right .main_right .fArea .bd{ padding:0 2px; background:#eee; border-top:1px solid #fff; }

.home_right .main_right .gArea{ border:1px solid #ccc; margin-bottom:10px; }
.home_right .main_right .gArea .hd{ padding-left:2px; line-height:28px; font-size:12px; background:#e6effe; font-weight:bold; }
.home_right .main_right .gArea .bd{ padding:0 2px; background:#eee; border-top:1px solid #fff; }

.home_right .main_right .hArea{ border:1px solid #ccc; margin-bottom:10px; }
.home_right .main_right .hArea .hd{ padding-left:2px; line-height:28px; font-size:12px; background:#e6effe; font-weight:bold; }
.home_right .main_right .hArea .bd{ padding:0 2px; background:#eee; border-top:1px solid #fff; }


/*面包屑*/
.main .breadcrumb{ padding:2px 15px; margin-bottom:10px; }
.main .breadcrumb a{ cursor:pointer; }

/*管理选项*/
.manage_items{ background:#cddcee; border:1px solid #ccc; padding:1px 2px; }

/*location*/
.location{ line-height:32px; }

/*短信箱*/
.main .message table{ width:100%; }
.main .message table th{ border:1px solid #ccc; background:#e7f0ff; padding:5px 0; text-align:center; }
.main .message table td{ border:1px solid #ccc; background:#f0f0f0; padding:2px 0; text-align:center; }

/*日程安排-今日工作*/
.schedule_today{}
.schedule_today ul{ padding-left:0; }
.schedule_today ul li{ border:1px solid #ccc; margin-bottom:12px; }
.schedule_today ul li .calendar{ width:42px; text-align:center; border:1px solid #ccc; margin-bottom:3px; }
.schedule_today ul li .calendar p{ padding:0px; margin:0; }
.schedule_today ul li .calendar p.m{ height:16px; line-height:16px; background:#a1c34d; }
.schedule_today ul li .calendar p.d{ font-weight:bold; font-size:16px; height:32px; line-height:32px; }
.schedule_today ul li .info{ width:96%; }
.schedule_today ul li .info .tit{ border-bottom:1px solid #A1C34D; font-size:13px; line-height:24px; height:24px; color:#249624; font-weight:bold; }
.schedule_today ul li .info .content{ font-size:13px; line-height:22px; }

/*底部公共样式*/
.footer{ padding:0 6px; background:#e6effe; height:32px; line-height:32px; border:1px solid #99bbe8; }
.footer .user_info{}
.footer .user_info .user{ padding-left:20px; background-size:18px 18px; background-image:url(../images/user.gif); background-repeat:no-repeat; background-position:left center; }
.footer .user_info .manage_name{ padding-left:20px; background:url(../images/management.gif) no-repeat left center; }

/*通讯录*/
.main .address_book table{ width:100%; }
.main .address_book table th{ border:1px solid #ccc; background:#e7f0ff; padding:5px 0; text-align:center; }
.main .address_book table td{ border:1px solid #ccc; background:#f0f0f0; padding:2px 0; text-align:center; }

/*文件柜*/
.main .filing_cabinet table{ width:100%; }
.main .filing_cabinet table th{ border:1px solid #ccc; background:#e7f0ff; padding:5px 0; text-align:center; }
.main .filing_cabinet table td{ border:1px solid #ccc; background:#f0f0f0; padding:2px 0; text-align:center; }
 
/*收藏夹*/
.favorite .frequency{ margin-bottom:6px; border:1px solid #ccc; }
.favorite .frequency .t{ border:1px solid #ccc; background:#cddcee; padding:5px 2px; text-align:center; }
.favorite .frequency .detail ul{ padding:0; margin:0; border-bottom:1px solid green; }
.favorite .frequency .detail ul li{ width:50%; float:left; text-indent:20px; line-height:25px; font-size:12px; }
.favorite .frequency .detail ul li a{ } 
.favorite .frequency .categories{ text-indent:20px; line-height:25px; font-size:12px; } 
.favorite .frequency .categories a{ color:#000; }

.favorite .current_category .t{ background:#cddcee; padding:5px 2px; }
.favorite .current_category table{ width:100%; }
.favorite .current_category table td{ border:1px solid #ccc; text-align:center; font-size:12px;line-height:28px; }

/*文章管理*/
.main .article table{ width:100%; }
.main .article table th{ border:1px solid #fff; background:#e7f0ff; padding:5px 0; text-align:center; }
.main .article table tr:hover{ background:#bfdfff; }
.main .article table tr:hover td{ background:none; }
.main .article table td{ border:1px solid #fff; background:#f1f3f5; padding:2px 0; text-align:center; }
.main .article table td.tit_td{ text-align:left; text-indent:8px; }

/*行政管理-行政通知*/
.notice{}
.notice ul{ padding-left:0; }
.notice ul li{ border:1px solid #ccc; margin-bottom:12px; }
.notice ul li .calendar{ width:42px; text-align:center; border:1px solid #ccc; margin-bottom:3px; }
.notice ul li .calendar p{ padding:0px; margin:0; }
.notice ul li .calendar p.m{ height:16px; line-height:16px; background:#a1c34d; }
.notice ul li .calendar p.d{ font-weight:bold; font-size:16px; height:32px; line-height:32px; }
.notice ul li .info{ width:96%; }
.notice ul li .info .tit{ border-bottom:1px solid #A1C34D; font-size:13px; line-height:24px; height:24px; font-weight:bold; }
.notice ul li .info .tit a{ color:#249624; }
.notice ul li .info .tit font{ display:inline-block; font-size:13px; line-height:24px; height:24px; }
.notice ul li .info .content{ font-size:13px; line-height:22px; }
.notice ul li .info .content table{ width:100%; }

/*行政管理-公事病假*/
.leave{}
.leave ul{ padding-left:0; }
.leave ul li{ border:1px solid #ccc; margin-bottom:12px; padding-bottom:2px; }
.leave ul li .calendar{ width:42px; text-align:center; border:1px solid #ccc; margin-bottom:3px; }
.leave ul li .calendar p{ padding:0px; margin:0; }
.leave ul li .calendar p.m{ height:16px; line-height:16px; background:#a1c34d; }
.leave ul li .calendar p.d{ font-weight:bold; font-size:16px; height:32px; line-height:32px; }
.leave ul li .info{ width:96%; padding-left:2px; }
.leave ul li .info table{ width:100%; }
.leave ul li .info table th{ text-align:center; background:#d9e8fd; border:1px solid #ccc; height:24px; line-height:24px; }
.leave ul li .info table td{ text-align:center; border:1px solid #ccc; height:24px; line-height:24px; }

/*教学管理-课表查询*/
.main .edu_search table{ width:100%; }
.main .edu_search table th{ border:1px solid #ccc; background:#e7f0ff; padding:5px 0; text-align:center; }
.main .edu_search table td{ border:1px solid #ccc; background:#f0f0f0; text-align:center; width:25%; background:#fff; }
.main .edu_search table td select{ width:80%; margin:2px auto; }
.main .edu_search table td input{ width:80%; margin:2px auto; }
.main .edu_search table tr.green{ border-bottom:1px solid green; }
.main .edu_search table tr.green td{ border-bottom:none; }
.main .edu_search table tr.blue{ border-bottom:1px solid blue; }
.main .edu_search table tr.blue td{ border-bottom:none; }
.main .edu_search p{ font-weight:bold; text-align:center; background:#eee; padding:2px 0; }

/*成绩管理-成绩发布*/
.main .score table{ width:100%; }
.main .score table th{ border:1px solid #ccc; color:#fff; background:#ff9b2f; padding:5px 0; text-align:center; }
.main .score table td{ border:1px solid #ccc; background:#fff; padding:2px 0; text-align:center; text-align:center; }
.main .score table td input{ display:inline-block; }

/*教务管理-公共教室预约*/
.main .classroom{ background:url(../images/bg_all.gif) center; }
.main .classroom .wrap{ width:760px; margin:0 auto; background:#eee; }
.main .classroom .wrap p{ background:#fff; height:18px; }
.main .classroom .sub_items{ margin:0 4px; border:1px solid #ccc; padding:4px 2px; background:#fff; }
.main .classroom form{ padding:5px 0; }
.main .classroom form table{ width:90%; margin:0 auto; }
.main .classroom form table td{ text-align:center; }
.main .classroom form table input{ max-width:95%; }
.main .classroom form table select{ width:95%; }
.main .classroom .lists{ border:1px solid #ccc; background:#fff; margin:2px 4px; }
.main .classroom .lists .l_hd{}
.main .classroom .lists .l_hd ul{ margin:0; padding:10px 10px 0; }
.main .classroom .lists .l_hd ul li{ margin-right:3px; cursor:pointer; float:left; background:#eee; line-height:26px; padding:2px 22px 0; color:#f00; font-weight:bold; }
.main .classroom .lists .l_hd ul li:hover{ background:#98cb00; border-top-right-radius:8px; }
.main .classroom .lists .l_hd ul li.on{ background:#98cb00; border-top-right-radius:8px; }
.main .classroom .lists .l_bd{ border:1px solid #ccc; margin:0px 10px; }
.main .classroom .lists .l_bd ul{ padding:0; }
.main .classroom .lists .l_bd ul li:first-child{ display:block; }
.main .classroom .lists .l_bd ul li{ display:none; }
.main .classroom .lists .l_bd ul li table{ width:98%; background:#eee; margin:3px auto 0; }
.main .classroom .lists .l_bd ul li table th{ line-height:28px; text-align:center;color:#fff; background:#98cb00; }
.main .classroom .lists .l_bd ul li table td{ text-align:center; height:40px; border:1px solid #ccc; font-size:12px; }
.main .classroom .lists .l_bd ul li table td a{ line-height:20px; }
.main .classroom .lists .sub{ line-height:32px; padding-right:10px; }
.main .classroom .info{ margin:6px 4px; padding-bottom:20px; }
.main .classroom .info h5{ background:#98cb00; margin:0; line-height:28px; padding-left:8px; color:#fff; }
.main .classroom .info .today{ width:43%; border:1px solid #ccc; background:#fff; padding:6px; }
.main .classroom .info .today table{ width:100%; }
.main .classroom .info .today table th{ text-align:center; line-height:28px; }
.main .classroom .info .today table td{ text-align:center; line-height:28px; }
.main .classroom .info .note{ width:55%; border:1px solid #ccc; background:#fff; padding:6px; line-height:36px; }

/*教务管理-实验室预约*/
.main .lab{ background:url(../images/bg_all.gif) center; }
.main .lab .wrap{ width:760px; margin:0 auto; background:#eee; }
.main .lab .wrap p{ background:#fff; height:18px; }
.main .lab .sub_items{ margin:0 4px; border:1px solid #ccc; padding:4px 2px; background:#fff; }
.main .lab form{ padding:5px 0; }
.main .lab form table{ width:90%; margin:0 auto; }
.main .lab form table td{ text-align:center; }
.main .lab form table input{ max-width:95%; }
.main .lab form table select{ width:95%; }
.main .lab .lists{ border:1px solid #ccc; background:#fff; margin:2px 4px; }
.main .lab .lists .l_hd{}
.main .lab .lists .l_hd ul{ margin:0; padding:10px 10px 0; }
.main .lab .lists .l_hd ul li{ margin-right:3px; cursor:pointer; float:left; background:#eee; line-height:26px; padding:2px 22px 0; color:#f00; font-weight:bold; }
.main .lab .lists .l_hd ul li:hover{ background:#98cb00; border-top-right-radius:8px; }
.main .lab .lists .l_hd ul li.on{ background:#98cb00; border-top-right-radius:8px; }
.main .lab .lists .l_bd{ border:1px solid #ccc; margin:0px 10px; }
.main .lab .lists .l_bd ul{ padding:0; }
.main .lab .lists .l_bd ul li:first-child{ display:block; }
.main .lab .lists .l_bd ul li{ display:none; }
.main .lab .lists .l_bd ul li table{ width:98%; background:#eee; margin:3px auto 0; }
.main .lab .lists .l_bd ul li table th{ line-height:28px; text-align:center;color:#fff; background:#98cb00; }
.main .lab .lists .l_bd ul li table td{ text-align:center; height:40px; border:1px solid #ccc; font-size:12px; }
.main .lab .lists .l_bd ul li table td a{ line-height:20px; }
.main .lab .lists .sub{ line-height:32px; padding-right:10px; }
.main .lab .info{ margin:6px 4px; padding-bottom:20px; }
.main .lab .info h5{ background:#98cb00; margin:0; line-height:28px; padding-left:8px; color:#fff; }
.main .lab .info .today{ width:43%; border:1px solid #ccc; background:#fff; padding:6px; }
.main .lab .info .today table{ width:100%; }
.main .lab .info .today table th{ text-align:center; line-height:28px; }
.main .lab .info .today table td{ text-align:center; line-height:28px; }
.main .lab .info .note{ width:55%; border:1px solid #ccc; background:#fff; padding:6px; line-height:36px; }

/*教务管理-演示实验室登记*/
.main .checkin{ background:url(../images/bg_all.gif) center; }
.main .checkin .wrap{ width:760px; margin:0 auto; background:#eee; }
.main .checkin .wrap p{ background:#fff; height:18px; }
.main .checkin .c_hd{ margin:0 4px; border:1px solid #ccc; padding:4px 8px 4px 4px; background:#fff; text-align:right; }
.main .checkin .c_hd font{ float:left; font-weight:bold; }
.main .checkin .c_bd{ margin:10px 4px; border:1px solid #ccc; padding:10px 8px 12px 4px; background:#fff; }
.main .checkin .c_bd .sub_items{ text-align:right; padding:0 16px 0 8px; }
.main .checkin .c_bd .sub_items b{ float:left; }
.main .checkin .c_bd table{ border:1px solid #ccc; width:98%; background:#f5f5f5; margin:3px auto 0; }
.main .checkin .c_bd table th{ border:1px solid #ccc; line-height:28px; text-align:center; color:#fff; background:#98cb00; }
.main .checkin .c_bd table td{ font-size:12px; padding:0 5px; border:1px solid #ccc; line-height:28px; text-align:center; }

/*后勤管理-网上报修*/
.main .repair{ background:url(../images/bg_all.gif) center; }
.main .repair .wrap{ width:760px; margin:0 auto; background:#eee; }
.main .repair .wrap p{ background:#fff; height:18px; }
.main .repair .c_hd{ margin:0 4px; border:1px solid #ccc; padding:4px 8px 4px 4px; background:#fff; }
.main .repair .c_hd font{ float:left; font-weight:bold; }
.main .repair .c_bd{ margin:10px 4px; border:1px solid #ccc; padding:10px 8px 12px 4px; background:#fff; }
.main .repair .c_bd .sub_items{ text-align:right; padding:0 16px 0 8px; }
.main .repair .c_bd .sub_items b{ float:left; }
.main .repair .c_bd table{ border:1px solid #ccc; width:98%; background:#f5f5f5; margin:3px auto 0; }
.main .repair .c_bd table th{ border:1px solid #ccc; line-height:28px; text-align:center; color:#fff; background:#98cb00; }
.main .repair .c_bd table td{ font-size:12px; padding:0 5px; border:1px solid #ccc; line-height:28px; text-align:center; }

/*后勤管理-电教资料借记*/
.main .debits{ background:url(../images/bg_all.gif) center; }
.main .debits .wrap{ width:760px; margin:0 auto; background:#eee; }
.main .debits .wrap p{ background:#fff; height:18px; }
.main .debits .c_hd{ margin:0 4px; border:1px solid #ccc; padding:4px 8px 4px 4px; background:#fff; }
.main .debits .c_hd font{ float:left; font-weight:bold; }
.main .debits .c_bd{ margin:10px 4px; border:1px solid #ccc; padding:10px 8px 12px 4px; background:#fff; }
.main .debits .c_bd table{ border:1px solid #ccc; width:98%; background:#f5f5f5; margin:3px auto 0; }
.main .debits .c_bd table th{ border:1px solid #ccc; line-height:28px; text-align:center; color:#fff; background:#98cb00; }
.main .debits .c_bd table td{ font-size:12px; padding:0 5px; border:1px solid #ccc; line-height:28px; text-align:left; }










