<!doctype html>
<html>
<head>
<meta http-equiv='content-type' content='text/html;charset=utf-8' />
<meta name='description' content=''>
<meta name='keywords' content=''>
<link type="text/css" href="Public/css/bootstrap.min.css" rel="stylesheet">
<link rel='stylesheet' type='text/css' href='Public/css/base.css' />
<link rel='stylesheet' type='text/css' href='Public/css/inside.css' />
<script type="text/javascript" src="Public/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="Public/js/base.js"></script>
<title>{if $common_arr['third'] neq ''}{$common_arr['third']['name']}--{$common_arr['second']['name']}--{elseif $common_arr['second'] neq ''}{$common_arr['second']['name']}--{/if}{$common_arr['base']['name']}--企业网站--技术支持</title>
</head>
<body>

{include file="Public/header.html"}

<div class="container">
	<div class="wrap clearfix">
		<div class="main">
			<div class="hd">
				<a href="index.php"> 首页</a> > 
				<a href="{$common_arr['base']['url']}">{$common_arr['base']['name']}</a>
				{if $common_arr['second']['name'] neq ''}
					> <a href="{$common_arr['second']['url']}">{$common_arr['second']['name']}</a>
				{/if}
			</div>
			<div class="bd">
				<form name="message" onsubmit="return checkmessage();" action="index.php?action=add" class="message">
					<p><a href="">查看留言>></a></p>
					<table>
						<tr>
							<td class="t" width="20%"><span>姓名</span></td>
							<td width="70%"><input type="name" type="text" /></td>
							<td class="must">*</td>
						</tr>
						<tr>
							<td class="t" width="20%"><span>电话</span></td>
							<td width="70%"><input type="name" type="text" /></td>
							<td class="must"></td>
						</tr>
						<tr>
							<td class="t" width="20%"><span>email</span></td>
							<td width="70%"><input type="name" type="text" /></td>
							<td class="must"></td>
						</tr>
							<tr>
							<td class="t" width="20%"><span>其他联系方式</span></td>
							<td width="70%"><input type="name" type="text" />（如QQ、MSN等）</td>
							<td class="must"></td>
						</tr>
						<tr>
							<td class="t" width="20%"><span>留言内容</span></td>
							<td width="70%"><textarea name="" cols="50" rows="5"></textarea></td>
							<td class="must">*</td>
						</tr>
						<tr>
							<td></td>
							<td class='tj'>
								<input type="submit" value="提交信息" />
								<input type="reset" value="重新填写" />
							</td>
							<td></td>
						</tr>
					</table>
				</form>
			</div>
		</div>
		
		{include file="Public/right.html"}

	</div>
</div>

{include file="Public/footer.html"}

</body>
</html>










