body{ background:#ebf6e8; font-size:15px; }
a{ text-decoration:none; }
.p{ margin-top:160px; text-align:center; font-size:36px; color:#900; font-weight: bold; }

.message{ text-align:center; }

.login_form{ margin:60px 0; padding:1px; color:#000; text-align:center; }
.login_form table{ width:320px; border:1px solid #487524; margin:0 auto; padding:8px 6px 5px; }
.login_form table td.hd{ text-align:left; padding-right:10px; }
.login_form table td.sub_td{ text-align:right; line-height:28px; }
.login_form input{ padding:1px; border:1px solid #206300; color:#000; background:#fcf; }
.login_form input.sub_btn{ border:1px solid #e19d00; height:24px; width:34px; background:#ffdc04; color:#000; }
.login_form a b{ color:#900; }

.reg_form{ margin:60px 0; padding:1px; color:#000; text-align:center; }
.reg_form table{ background:url(../images/f_bg.gif); width:320px; border:1px solid #487524; margin:0 auto; padding:8px 6px 5px; }
.reg_form table td.hd{ text-align:right; padding-right:10px; color:#fff; }
.reg_form table td.sub_td{ text-align:center; line-height:28px; }
.reg_form input{ padding:1px; border:1px solid #387800; color:#000; background:#387800; }
.reg_form input.sub_btn{ border:1px solid #e19d00; height:24px; width:34px; background:#ffdc04; color:#000; }
.reg_form a b{ color:#900; }


.hall_body{ background:#51719E; }

.hall_header{ color:#fff; padding:0px 6px 0; height:36px; line-height:36px; background:url(../images/top_bar.gif); }
.hall_header a{ color:#fff; }

.hall_bd{}
.hall_bd .loading{ color:#fff; text-align:center; } 
.hall_bd .rooms{  }
.hall_bd .rooms ul{}
.hall_bd .rooms ul li{ padding-top:15px; float:left; width:250px; text-align:center; }
.hall_bd .rooms ul li .pic{ padding:5px 0 8px; position:relative; }
.hall_bd .rooms ul li .pic span{ position:absolute; line-height:50px; }
.hall_bd .rooms ul li .pic .player1{ left:0px; width:30%; text-align:right;}
.hall_bd .rooms ul li .pic .player2{ right:0px; width:30%; text-align:left; }

.room_ddz{ background:url(../images/room_bg.gif); }
.room_ddz .loading{ text-align:center; padding-top:60px; }
.room_ddz .main_echo{ text-align:center; line-height:45px; height:100%; }

.room_ddz .main_echo .ani_p{ text-align:center; padding-top:3px; }
.room_ddz .main_echo .ani_p table{ margin:0 auto; }
.room_ddz .main_echo .ani_p table tr{}
.room_ddz .main_echo .ani_p table tr td{ width:36px; height:96px; background:url(../images/bg.gif) no-repeat left top; }
.room_ddz .main_echo .ani_p table tr td.side_p{ width:71px; }

.room_ddz .main_echo .user_info{ text-align:center; }
.room_ddz .main_echo .user_info table{ margin:0 auto; }
.room_ddz .main_echo .user_info table tr{}
.room_ddz .main_echo .user_info table tr td{ width:120px; line-height:23px; height:23px; text-align:left; }

.room_ddz .main_echo .self_show{ padding-top:10px; height:96px; }
.room_ddz .main_echo .self_show table{ margin:0 auto; }
.room_ddz .main_echo .self_show table tr{}
.room_ddz .main_echo .self_show table tr td{ width:36px; height:96px; }

.room_ddz .main_echo .ani_show{ padding:10px 0; height:100px; }
.room_ddz .main_echo .ani_show table{ margin:0 auto; }
.room_ddz .main_echo .ani_show table tr{}
.room_ddz .main_echo .ani_show table tr td{ width:36px; height:96px; }

.room_ddz .main_echo .self_button{ padding-top:10px; line-height:30px; height:100px; }
.room_ddz .main_echo .self_button img{ margin:0 2px; } 

.room_ddz .main_echo .self_p{ text-align:center; height:120px; }
.room_ddz .main_echo .self_p table{ margin:0 auto; }
.room_ddz .main_echo .self_p table tr{}
.room_ddz .main_echo .self_p .self_p_top{}
.room_ddz .main_echo .self_p .self_p_top td{ height:24px; line-height:24px; } 
.room_ddz .main_echo .self_p table tr td{ width:36px; height:96px; }

.footer{ font-size:12px; text-align:center; }